/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools {
  float: right;
}

.accessibility-tools fieldset {
  margin: 1em 1em 1em 0;
  padding: .4em;
  float: right;
}

.accessibility-tools legend {
  padding: .4em;
}

.button--ally {
  font-size: .7em;
}
