/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools fieldset {
  margin-bottom: 1em;
  padding: .4em;
  min-width: 150px;
}

.accessibility-tools legend {
  padding: .4em;
  hyphens: auto;
}

.button--ally {
  font-size: .7em;
}



