/*
Logo images

----------------------------------- */

.tech-logo,
.work-logo {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fill, minmax(6.375em, 1fr));
}

.tech-logo a,
.work-logo a {
  border: 0;
}

.tech-logo img,
.work-logo img{
  padding: 0;
}

.tech-logo__item,
.work-logo__item {
  list-style: none;
}

.tech-logo .image-ratio,
.work-logo .image-ratio {
  margin: 0;
  border: 0;
}

.tech-logo__anchor,
.work-logo__anchor {
  display: block;
  position: relative;
}

.tech-logo__anchor:focus,
.work-logo__anchor:focus {
  outline: 0;
}

.tech-logo__anchor:before,
.work-logo__anchor:before {
  background-color: var(--colour-bright);
  color: var(--colour-dark);
  content: attr(aria-label);
  font-weight: bold;
  display: inline-block;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  font-size: .7em;
}

.tech-logo__anchor:focus:before,
.tech-logo__anchor:hover:before,
.work-logo__anchor:focus:before,
.work-logo__anchor:hover:before {
  transition: all .3s ease-in-out;
  opacity: .90;
}
