/*
  Navigation
  ----------------------------------- */

  .navigation .list {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
  
  .navigation .list-item {
    justify-content: center;
    margin: .4em;
    list-style: none;
    hyphens: auto;
    border: solid 1px var(--colour-medium);
  }
  
  .navigation a {
    color: var(--colour-white);
    padding: .4em .8em;
    border-bottom: 0;
    border-left: 3px solid var(--colour-bright);
    display: block;
    background: linear-gradient(to right, var(--colour-bright) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position:100% bottom;
  }

  .navigation a:hover,
  .navigation a:focus {
    color: var(--colour-bright);
    text-decoration: underline;
    background-position: 90% bottom;
  }
  
  .navigation .list-item__current,
  .navigation a:active {
    background: var(--colour-light);
    color:  var(--colour-dark);
  }

  .navigation a:active:hover {
    text-decoration: none;
    cursor: not-allowed;
  }
  
 
  
  