/*
Profile image
----------------------------------- */

.profile-image {
  border-radius: 50%;
  border: dashed 2px var(--colour-medium);
  width: 10em;
  height: 10em;
  margin: 1em auto;
  text-align: center;
}


.profile-image__img {
  clip-path: circle(7em at center);
  width: 100%;
}

.profile-description {
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  border-top: solid 1px var(--colour-medium);
  border-bottom: solid 1px var(--colour-medium);
}


