/*
Profile image
----------------------------------- */


.profile-image {
  border-radius: 50%;
  border: dashed 1px color-mod(var(--colour-dark) lighten(10));
  /* border: dashed 1px var(--colour-light); */
  width: 15em;
  height: 15em;
}


.profile-image__img {
  clip-path: circle(7em at center);
  width: 100%;
}

.profile-description {
  color: var(--colour-white);
  border-top: solid 1px var(--colour-bright);
  border-bottom: solid 1px var(--colour-bright);
}

