/*
Profile image
----------------------------------- */

.profile-image {
  border-radius: 50%;
  border: dashed 2px var(--colour-medium);
  width: 12em;
  height: 12em;
  margin: 1em auto;
  text-align: center;
}

.profile-image__img {
  border-radius: 50%;
  padding: .3em;
  width: 100%;
} 

.profile-description {
  padding: 1em;
  width: 80%;
  max-width: 25em;
  margin: 1em auto;
  border-top: solid 1px var(--colour-medium);
  border-bottom: solid 1px var(--colour-medium);
}
