/*
Latest project feed
----------------------------------- */

.project__post {
  width: 100%;
  margin-top: 1.4em;
  padding: .8em;
  border: 2px dotted var(--colour-light);
  border-radius: 0.5em;
}

.project__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-light);
}

.project__title {
  font-size: 2em;
}

.project__header {
  margin: 0;
  padding: 0;
}









