/*
Latest project feed
----------------------------------- */

.project {
  --ratio-padding: 55%;
  display: grid;
  grid-columns:  1fr  1fr;
  grid-template-columns: repeat( auto-fill, minmax(12em, 1fr) );
  grid-gap: 1em;
  padding: 1em;
}

.project__post {
  padding: .8em;
  background: var(--colour-light);
  border-bottom: solid 4px var(--colour-bright);
}

.project__title {
  color: var(--colour-medium);
}

.project__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  outline: solid 1px var(--colour-light);
}
