/*
  Range input
  ----------------------------------- */

  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: var(--colour-light);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* .slider:hover {
    opacity: 1;
} */

/* .slider::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    appearance: none; */
    /* width: 25px;
    height: 25px;
    border-radius: 50%;
    background:var(--colour-dark);
    cursor: pointer;
    outline: 2px;
} */

/* .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--colour-dark);
    cursor: pointer;
    outline: 2px;
} */ 

/*
.slider::-webkit-slider-thumb:focus,
.slider::-moz-range-thumb:focus {
  outline: -webkit-focus-ring-color auto 5px;
} */
