/*
Social media icons
----------------------------------- */

.social-media {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  list-style: none;
  text-align: center;
  animation: fadeIn 2s forwards;
}

.social-media__item {
  display: inline-block;
}

.social-media__anchor {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 5px;
  color: var(--colour-bright);
  fill: var(--colour-bright);
}

.social-media__anchor:hover,
.social-media__anchor:focus {
  border-radius: 100%;
  color: var(--colour-dark);
  fill: var(--colour-dark);
  background: var(--colour-bright);
  outline: none;
  transform: scale(1.25);
}


.social-media__anchor:before {
  background-color:var(--colour-bright);
  border-radius: 3px;
  color: var(--colour-white);
  content: attr(aria-label);
  display: inline-block;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  transform: translateY(-150%);
  transition: all 0.25s ease;
}

.social-media__anchor:focus:before,
.social-media__anchor:hover:before {
  opacity: 1;
  transform: translate(-18% ,-144%);
}


/* Footer colour overrides */

footer .social-media {
  margin-bottom: 1em;
}

footer .social-media__anchor {
  color: var(--colour-dark);
  fill: var(--colour-dark);
}

footer .social-media__anchor:hover,
footer .social-media__anchor:focus {
  color: var(--colour-bright);
  fill: var(--colour-bright);
  background: var(--colour-dark);
}

footer .social-media__anchor:before {
  background-color:var(--colour-dark);
  color: var(--colour-white);
}





