/*
  Layout - Header
  Page title and a11y buttons
  ----------------------------------- */

  .header {
    
  }

  .page-introduction {
    width: 70%;
    min-width: 25em;
    max-width: 70%;
    margin-right: 5%;
    float: left;

  }

  .accessibility-tools {
   float: right;
   width: 25%;
   min-width: 25em;
   max-width: 25%;
  }
  
  
  