/*
  Layout
  LHS sidebar responsive layout
  ----------------------------------- */

  .container {
    background: var(--colour-white);
    overflow: hidden;
    min-height: 100vh;
  }
  
  .sidebar,
  .content {
    max-width: 100%;
    width: calc((1024px - 100%) * 1024);
    float: left;
    margin-bottom: -999px;
    padding-bottom: 999px;
  }
  
  .sidebar {
    min-width: 17.5em;
    color: var(--colour-white);
    background: var(--colour-dark);
  }
  
  .content {
    min-width: calc(100% - 17.5em);
    background:var(--colour-white);
  }

  header,
  main,
  footer {
    margin-left: 1em;
  }


  



