/*
  Layout - Base
  LHS sidebar responsive layout
  ----------------------------------- */

.container {
  background: var(--colour-white);
  overflow: hidden;
  min-height: 100vh;
}
  
.sidebar,
.content {
  max-width: 100%;
  width: calc((1024px - 100%) * 1024);
  float: left;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}
  
.sidebar {
  min-width: 17.5em;
  color: var(--colour-light);
  background: var(--colour-dark);
  text-align: center;
}
  
.content {
  animation: fadeIn 2s forwards;
  min-width: calc(100% - 17.5em);
  background: var(--colour-white);
}

header,
main,
footer {
  margin: 0 1em;
  padding: 1em 0;
}

footer {
  text-align: center;
}
  
section {
  margin: 1em 0;
}



  



