/*
  Buttons
  ----------------------------------- */

button,
.button {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  box-shadow: 0;
  border-radius: .2em;
  background: var(--colour-dark);
  padding: .5em 1em;
  color: var(--colour-white);
  font-weight: bold;
}

button:hover,
.button:hover {
  border-radius: .8em;
  background: var(--colour-bright);
  text-decoration: underline;
}

button[disabled="disabled"],
button[disabled],
.button[disabled="disabled"],
.button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

button[disabled="disabled"]:hover,
button[disabled]:hover,
.button[disabled="disabled"]:hover,
.button[disabled]:hover {
  border-radius: .0;
  background: var(--colour-medium);
  text-decoration: none;
}

button:active,
button:visited,
.button:active,
.button:visited {
  opacity: 0.74;
}

.button--primary {
  background: var(--colour-dark);
  color: var(--colour-white);
}

.button--secondary {
  background: var(--colour-medium);
  color: var(--colour-white);
}

.button--submit {
  background: var(--colour-bright);
  color: var(--colour-dark);
}

.button--submit:hover {
  background: var(--colour-dark);
  color: var(--colour-white);
}

.button--right {
  float: right;
}
