/*
Logo images

----------------------------------- */

.tech-logo,
.work-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.375em, 1fr));
}

.tech-logo__item,
.work-logo__item {
  list-style: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .tech-logo,
  .work-logo {
    position: relative;
    clear: both;
    overflow: auto;
  }

  .tech-logo__item,
  .work-logo__item {
    float: left;
    width: 25%;
  }
}

.tech-logo a,
.work-logo a {
  border: 0;
}

.tech-logo img,
.work-logo img{
  padding: 0;
}

.tech-logo .image-ratio,
.work-logo .image-ratio {
  margin: 0;
  border: 0;
}

.tech-logo__anchor,
.work-logo__anchor {
  display: block;
  position: relative;
}

.tech-logo__anchor:focus,
.work-logo__anchor:focus {
  outline: 0;
}

.tech-logo__anchor:before,
.work-logo__anchor:before {
  display: inline-block;
  position: absolute;
  opacity: 0;
  z-index: 99;
  background-color: var(--colour-bright);
  background-color: var(--colour-bright);
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  color: var(--colour-dark);
  color: var(--colour-dark);
  font-size: .7em;
  font-weight: bold;
  content: attr(aria-label);
}

.tech-logo__anchor:focus:before,
.tech-logo__anchor:hover:before,
.work-logo__anchor:focus:before,
.work-logo__anchor:hover:before {
  opacity: .90;
  transition: all .3s ease-in-out;
}
