/*
PostCSS  feed
----------------------------------- */

.postcss__post {
  margin-top: 1.4em;
  border-bottom: solid 4px var(--colour-bright);
  border-bottom: solid 4px var(--colour-bright);
  background: var(--colour-light);
  background: var(--colour-light);
  padding: .8em;
  width: 100%;
}

.postcss__post:hover {
  transition: all .3s ease-in-out;
  outline: solid 1px var(--colour-light);
  outline: solid 1px var(--colour-light);
  background: var(--colour-white);
  background: var(--colour-white);
}

.postcss__title {
  color: var(--colour-medium);
  color: var(--colour-medium);
  font-size: 2em;
}

.postcss__header {
  margin: 0;
  padding: 0;
}
