/*
Latest project feed
----------------------------------- */

.project {
  --ratio-padding: 55%;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12em, 1fr) );
  padding: 1em;
}

.project__post {
  border-bottom: solid 4px var(--colour-bright);
  border-bottom: solid 4px var(--colour-bright);
  background: var(--colour-light);
  background: var(--colour-light);
  padding: .8em;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .project {
    position: relative;
    clear: both;
    overflow: auto;
  }

  .project__post {
    float: left;
    margin: 1%;
    width: 48%;
  }
}

.project__title {
  color: var(--colour-medium);
  color: var(--colour-medium);
}

.project__post:hover {
  transition: all .3s ease-in-out;
  outline: solid 1px var(--colour-light);
  outline: solid 1px var(--colour-light);
  background: var(--colour-white);
  background: var(--colour-white);
}
