/*
Quotations
----------------------------------- */
.quote {
  margin: 1em 0;
  background: var(--colour-light);
  padding: 1em;
}
blockquote {
  padding: 1em;
}
blockquote:before,
blockquote:after {
  color: var(--colour-medium);
  font-family: var(--font-family);
  font-size: 2em;
  line-height: 0.1em;
}
blockquote:before {
  vertical-align: -0.2em;
  margin-right: 0.25em;
  content: open-quote;
}
blockquote:after {
  vertical-align: -0.3em;
  margin-left: 0.25em;
  content: close-quote;
}
