/*
Skip Links
----------------------------------- */

.skip-link {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
  padding: .2em .6em
}

.skip-link:focus {
  right: auto;
  background: var(--colour-bright);
  background: var(--colour-bright);
  color: var(--colour-white);
  color: var(--colour-white);
}
