/*
  Slides
  ----------------------------------- */

.slides figure {
  --ratio-padding: 56.27%;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(18em, 1fr) );
  align-items: center;
  justify-content: center;
  border-bottom: dashed 1px var(--colour-dark);
  padding: 1em;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    
    .slides .image-ratio {
      position: relative;
      clear: both;
      overflow: auto;
    }
  
    .slides figcaption {
      float: left;
      margin: 1%;
      width: 48%;
    }
  

  }
  
  