<fieldset class="sub-grid accessibility-tools__font-family">
  <div class="sub-grid">
    <legend>Select font family</legend>
    <button id="default-font" type="submit"  aria-label="Change font to Verdana">Default</button>
    <button id="dyslexic-font" type="submit" aria-label="Change font to Open Dyslexic">Open Dyslexic</button>
  </div>
</fieldset>
 <fieldset class="sub-grid accessibility-tools__colour-theme">
  <div class="sub-grid">
    <legend>Select colour theme</legend>
    <button id="theme-default" type="submit">Default</button>
    <button id="theme-monochrome" type="submit">Monochrome</button>
  </div>
</fieldset>







