<div class="accessibility-tools-wrapper">
  <div aria-label="Accessibility tools" class="accessibility-tools">
    <fieldset class="accessibility-tools__colour-theme">
      <legend><span class="visually-hidden">Control </span>Colour theme</legend>
      <button id="theme-default" class="button button--ally" type="button">Default</button>
      <button id="theme-contrast" class="button button--ally" type="button">Contrast <span class="visually-hidden">theme</span></button>
      <button id="theme-monochrome" class="button button--ally" type="button">Monochrome</button>
    </fieldset>
    <fieldset class="accessibility-tools__font-family">
      <legend><span class="visually-hidden">Control </span>Font family</legend>
      <button class="button button--ally "id="default-font" type="button"  aria-label="Change font to Verdana">Default</button>
      <button class="button button--ally "id="dyslexic-font" type="button" aria-label="Change font to Open Dyslexic">Open Dyslexic</button>
    </fieldset>
  </div>
</div>

