<fieldset class="sub-grid accessibility-tools__font-family">
  <div class="sub-grid">
    <legend>Select font family</legend>
    <button class="" id="default-font" type="button"  aria-label="Change font to Verdana">Default</button>
    <button class="" id="dyslexic-font" type="button" aria-label="Change font to Open Dyslexic">Open Dyslexic</button>
  </div>
</fieldset>
 <fieldset class="sub-grid accessibility-tools__colour-theme">
  <div class="sub-grid">
    <legend>Select colour theme</legend>
    <button id="theme-default" class="" type="button">Default</button>
    <button id="theme-monochrome" class="" type="button">Monochrome</button>
  </div>
</fieldset>







