
<nav class="navigation-footer">
  {% include "navigation.njk" %}
</nav>
{% include "socialMedia.njk" %}
<p>
  Proudly powered by <a href="//11ty.io" rel="external">Eleventy</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a>, last updated  {{ date | timestamp }} - <a href="https://github.com/cathydutton/cathydutton.co.uk" title="view source code on github">view on github.
</p>