
<nav class="navigation-footer">
  {% include "navigation-footer.njk" %}
</nav>
{% include "socialMedia.njk" %}
<p>
  Proudly powered by <a href="//11ty.io" title="Powered by Eleventy" class="anchor" rel="noopener">Eleventy</a>. Hosted on <a href="https://www.netlify.com/" class="anchor"  title="Hosted on Netlify" rel="noopener">Netlify</a>, last updated  {{ date | timestamp }} - <a href="https://github.com/cathydutton/cathydutton.co.uk" rel="noopener" class="anchor" title="view source code on github">view on github</a>.
</p>