
<nav class="navigation-footer">
  {% include "navigation.njk" %}
</nav>
{% include "socialMedia.njk" %}
<p>
  Copyright 2018 Cathy Dutton last updated  {{ date | timestamp }} - <a href="https://github.com/cathydutton/cathydutton.co.uk" title="view source code on github">view on github.
</p>