<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}}">
<meta name="keywords" content="Interaction Design, UX, User experience, Service design, CSS, Sass, PostCSS, Front End Developer">
<meta name="robots" content="index,follow" />
<link href="/images/favicon-96x96.png" rel="icon" type="image.png" />
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="cathydutton.co.uk">
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#1f1f1f">

<link rel="preload"  href="https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i" as="style">

<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@cathy_dutton">
<meta name="twitter:creator" content="@cathy_dutton">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="https://cathydutton.co.uk/images/profile-image.jpg">

<!-- Web mentions -->
<link href="https://twitter.com/cathy_dutton" rel="me">
<link href="https://github.com/cathydutton" rel="me">
<link rel="webmention" href="https://webmention.io/cathydutton.co.uk/webmention" />
<link rel="pingback" href="https://webmention.io/cathydutton.co.uk/xmlrpc" />

<link rel="authorization_endpoint" href="https://indieauth.com/auth">

<!-- Include CSS -->
{% set inlineCSS %}
  {% include "inline.css" %}
{% endset %}
<style>
  {{- inlineCSS | e -}}
</style>
<link rel="stylesheet" type="text/css" href="/css/main.css">





