<h2>Latest posts</h2>
{% for post in collections.latestPosts %}
 <article class="news-feed__post js-content-group" data-url="{{ post.url }}" data-title="{{post.data.title}}">
    <h3 class="news-feed__title">
      <a href="{{ post.url }}" title="{{post.data.title}}" class="news-feed__anchor">
        <span class="visually-hidden">Article title</span>
        {{post.data.title}}
      </a>
    </h3>
    <p class="news-feed__date">
      <span class="visually-hidden">Published on</span>
      <time datetime="{{ post.data.date }}">{{ post.data.date | dateDisplay }}</time>
    </p>
    <p>{{ post.data.description | safe }}</p>
    {% if post.data.tags %}
      <p>Tagged in: {% for tag in post.data.tags %}<a href="/posts/tags/{{ tag | lower | replace(" ", "-")}}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
  </article>
{% endfor %}


