<ul class="list">
  {% for item in navigation %}
    <li class="list-item list-item--{{ item.menu_item }}{% if pageName == item.menu_name %} list-item__current{% endif %}">
      <a href="{{ item.url }}">{{ item.menu_item }}</a></li>
  {% endfor %}
</ul>



