<ul class="list">
  {% for item in navigation %}
    <li class="list-item list-item--{{ item.menu_item | lower | replace(" ", "-")}}{% if pageName == item.menu_item %} list-item__current{% endif %}">
      <a href="{{ item.url }}">{{ item.menu_item }}</a></li>
  {% endfor %}
</ul>
