<div class="profile-image">  
  <img src="/images/profile-image.jpg" class="profile-image__img" alt="Profile picture - Cathy Dutton"/> 
</div>

<p class="profile-description">
  Human centered designer, focusing on interaction design, HTML &amp; CSS
</p>

{# {% include "socialMedia.njk" %} #}

<nav class="navigation">
  {% include "navigation.njk" %}
</nav>
