<ul class="tech-logo">
  {% for item in tech %}
    <li class="tech-logo__item">
    {% if item.url %}
      <a href="{{ item.url }}" title="Visit the {{ item.logo }} website" target="_blank" rel="noopener" aria-label="{{ item.logo }}" class="tech-logo__anchor {{ item.class }}">
      <span class="visually-hidden">Visit the {{ item.logo }} website.</span>
    {% endif %}  
      <img src="../images/tech/{{ item.logo | lower | replace(" ", "-") }}.jpg" loading="lazy" alt="{{ item.logo }} logo" width="{{ item.width }}" height="{{ item.height }}">
    {% if item.url %}
      </a>
     {% endif %}   
    </li>
  {% endfor %}
</ul>
    

  {# <img
  sizes="(max-width: 275px) 100vw, 275px"
  srcset="
  environment-agency-logo_hdv5f6_c_scale,w_200.jpg 200w,
  environment-agency-logo_hdv5f6_c_scale,w_275.jpg 275w"
  src="../images/work/{{ item.logo | lower | replace(" ", "-") }}-logo.jpg"
loading="lazy" alt="{{ item.logo }} logo" width="{{ item.width }}" height="{{ item.height }}"> #}