{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
{%- set mentions = webmentions.children | getWebmentionsForUrl(absoluteUrl) -%}
<!-- Set reposts as mentions that are `repost-of`  -->  
{% set reposts = mentions | webmentionsByType('repost-of') %}
{% set repostsSize = reposts | size %}
<!-- Set likes as mentions that are `like-of`  -->
{% set likes = mentions | webmentionsByType('like-of') %}
{% set likesSize = likes | size %}
<!-- Set replies as mentions that are `in-reply-to`  -->
{% set replies = mentions | webmentionsByType('in-reply-to')  %}
{% set repliesSize = replies | size  %}
<!-- Set mentions as mentions that are `in-reply-to`  -->
{% set mention = mentions | webmentionsByType('mention-of')  %}
{% set mentionSize = mention | size  %}


{# {{ likesSize }} -- #}


<section class="webmentions flow" id="webmentions">
  {% if mentions | length %}

    {% if likesSize > 0 %}
      <h3>Likes</h3>
      <div class="webmentions__facepile">
        {% for webmention in likes | reverse | head(5) %}
          <a class="webmention__author p-author" href="{{ webmention.author.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
          </a>
        {% endfor %}
        {% if likes.length > 5 %}
          <span>+{{ likes.length - 5 }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if repostsSize > 0 %}
      <h3>Retweets</h3>
      <div class="webmentions__facepile">
        {% for webmention in reposts | reverse | head(10) %}
          <a class="webmention__author p-author" href="{{ webmention.author.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
          </a>
        {% endfor %}
        {% if reposts.length > 10 %}
          <span>+{{ reposts.length - 10 }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if mentionSize > 0 %}
      <h3>Mentions</h3>
      <div class="webmentions__facepile">
        {% for webmention in mention | reverse | head(5) %}
          <a class="webmention__author p-author" href="{{ webmention.author.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{% if webmention.author.photo %}{{ webmention.author.photo }}{% else %}{{ '/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
        </a>
        {% endfor %}
        {% if mention.length > 5 %}
          <span>+{{ mention.length - 5 }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if repliesSize > 0 %}
      <div class="webmention-replies">
        <h3>{{ repliesSize }} {% if replies.length == "1" %}Reply{% else %}Replies{% endif %}</h3>
        {% for webmention in replies %}
          {% include 'webmention.njk' %}
        {% endfor %}
      </div>
    {% endif %}


  {% else %}
    <p>No mentions yet.</p>
  {% endif %}

</section>
