---
title: Maze - A PostCSS responsive grid system
date: 2016-02-24
github: https://github.com/cathydutton/postcss-maze
demo: http://cathydutton.github.io/postcss-maze/
description: Maze is a flexible and semantic mobile first responsive grid built with PostCSS. Maze is fully customisable and removes the reliance on .last-column classes by instead applying the margin to both sides of each element and adjusting the wrapper width accordingly.
---




