/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */

:root {
  /* https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=bright&n=medium&n=dark&n=black&v=FFFFFF&v=FFB1E0&v=FF0986&v=990566&v=4A1C44&v=000000 */

  --colour-black: hsl(0, 0%, 12%);
  --colour-white: hsl(0, 0%, 100%);
  --colour-grey: hsl(0, 0%, 76%);
  --colour-grey-light: hsl(0, 0%, 95%);
  /* --colour-pink: rgb(255, 51, 99); */
  --colour-pink:hsl(346, 100%, 80%);
  /* --colour-pink-light: hsl(346, 100%, 79%); */
  --colour-pink-light: hsl(358, 100%, 95%);
  
  
  --font-family: Lato,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  --font-size: 100%;
  --line-height: 1.5;
  --flow-space: 1em;
}


/* https://toolness.github.io/accessible-color-matrix/?n=white&n=grey%20light&n=grey&n=pink%20light&n=pink&n=black&v=FFFFFF&v=D5D5D5&v=8B8B8B&v=797979&v=ACACAC&v=010101 */

.theme-monochrome {
  --colour-black: hsl(0, 0%, 0%);
  --colour-white: hsl(0, 0%, 100%);

  --colour-grey: hsl(0, 0%, 55%);
  --colour-grey-light: hsl(0, 0%, 84%);

  --colour-pink: hsl(0, 0%, 67%);
  --colour-pink-light: hsl(0, 0%, 47%);
}


