/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */



/* RECHECK ALL CONTRAST ON ALL 3 MODES!!!! */


/* Colors */
:root {
  /* --colour-black:  hsl(212, 12%, 21%);
  --colour-black: hsl(294, 83%, 7%);
  --colour-medium: hsl(294, 83%, 28%);
  --colour-white: hsla(0, 3%, 94%, 0.933); 
  --colour-white: hsl(0, 0%, 100%);
  --colour-bright: hsl(322, 80%, 51%); */

  
  --colour-black: #1f1f1f;
  --colour-black-light: #2F2F2F;
  
  --colour-white: #ffffff;

  --colour-grey: #c2c2c2;
  --colour-grey-light: #f3f3f3;

  --colour-pink: #ff3363;
  --colour-pink-light: #fd7091;
  
  /* https://toolness.github.io/accessible-color-matrix/?n=White&n=light&n=bright&n=medium&n=dark&n=black&v=FFFFFF&v=F3F3F3&v=FECCCC&v=E3E3E3&v=FF3465&v=1E1E1E   */
  


  --font-family: Lato,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  --font-size: 100%;
  --line-height: 1.5;







}

/* https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=bright&n=medium&n=dark&n=black&v=001E3D&v=00356C&v=9C2064&v=FE9F00&v=FFFA06&v=FFFFFF */

.theme-contrast {
  /* --colour-black: hsl(0, 0%, 100%);
  --colour-black: hsl(59, 100%, 51%);
  --colour-medium: hsl(38, 100%, 50%);
  --colour-white: hsl(211, 100%, 21%);
  --colour-white: hsl(210, 100%, 12%);
  --colour-bright: hsl(327, 66%, 37%); */
}

/* https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=bright&n=medium&n=dark&n=black&v=FCF1D8&v=FCE5B9&v=EEA60B&v=543B1C&v=3A220C&v=211505 */

.theme-monochrome {
  /* --colour-black: hsl(34, 74%, 7%);
  --colour-black: hsl(29, 66%, 14%);
  --colour-medium: hsl(33, 50%, 22%);
  --colour-white: hsl(39, 92%, 86%);
  --colour-white: hsl(42, 86%, 92%);
  --colour-bright: hsl(41, 91%, 49%); */
}


