<!doctype html>
<html lang="en">
<!--

      #########:: #########:: ##.... ##:::: ##.... ##:. ####::::
      ##.....:::: ##.... ##:. ##.... ##:.:: ##.... ##:.  ##:::::
      ##.....:::: ##:::: ##:: ##:::: ##:::: ##.... ##:.  ##:::::
      #########:: #########:: #########:::: #########::  ##:::::
      ::.... ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      :::::: ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      #########:: ##.... ##:: :::::: ##:::: ##.... ##:: ####::::

      Email: info@cathydutton.co.uk
      Twitter: cathy_dutton
      website: cathydutton.co.uk
      
  -->

<head>
  {% include "head.njk" %}
</head>

<body>
  <div class="wrapper">
    <div class="container">
    <a href="#js-skip-link-target" class="skip-link" id="js-skip-link">skip to main content</a>
    {% include "a11y-buttons.njk" %}
      <div class="sidebar">
        {% include "sidebar.njk" %}
      </div>
      <div class="content">
      <main id="main">
          {{ content | safe }}
        </main>
        <footer class="footer">
          {% include "footer.njk" %}
        </footer>
      </div>
    </div>
  </div>
  <script src="/js/scripts.js"></script>
  <!-- Service worker -->
  <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/serviceWorker.js').then(function(registration) {
          }).catch(function(err) {
          });
        });
      }
  </script>
  <!-- Copy button -->
  <script>
    var clipboard = new ClipboardJS('.button--copy');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
  </script>
</body>

</html>