<!doctype html>
<html lang="en">
<!--

      #########:: #########:: ##.... ##:::: ##.... ##:. ####::::
      ##.....:::: ##.... ##:. ##.... ##:.:: ##.... ##:.  ##:::::
      ##.....:::: ##:::: ##:: ##:::: ##:::: ##.... ##:.  ##:::::
      #########:: #########:: #########:::: #########::  ##:::::
      ::.... ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      :::::: ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      #########:: ##.... ##:: :::::: ##:::: ##.... ##:: ####::::

      Email: info@cathydutton.co.uk
      Twitter: cathy_dutton
      website: cathydutton.co.uk
      
  -->

<head>
  {% include "head.njk" %}
</head>

<body>
  <div class="container">
  <a href="#" class="skip-link" id="js-skip-link">skip to main content</a>
  {% include "a11y-buttons.njk" %}
    <aside class="sidebar">
      {% include "sidebar.njk" %}
    </aside>
    <div class="content">
      <header role="banner" class="header clear">
        {% include "header.njk" %}
      </header>
      <main id="main">
        <p class="highlight-text" id="js-skip-link-target">
          {{pageIntro}}
        <p>
        {{ content | safe }}
      </main>
      <footer class="footer">
        {% include "footer.njk" %}
      </footer>
    </div>
  </div>
  <script src="/js/scripts.js"></script>
</body>

</html>