---
layout: layouts/base.njk
---

<h1 class="project-title">{{ title }}</h1>
<p class="project--date">
  <span class="visually-hidden">Project date</span> <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
</p>

{{ content | safe }}

<a href="/projects" class="anchor">Back to all projects</a>








