---
layout: layouts/base.njk
---

{# <h1 class="project-title" id="js-skip-link-target">
  {{ title }}
</h1> #}

<div class="wrapper  wrapper--top">
  <p class="post-date">
    <time datetime="{{ date }}">{{ date | dateDisplayProject }}</time>
  </p>
  <section class="flow"> 
    {{ content | safe }}
  </section>
</div>

<div class="wrapper wrapper--white">
  <a href="/projects" class="anchor">Back to all projects</a>
</div>


