<!doctype html>
<html lang="en">
<!--

      #########:: #########:: ##.... ##:::: ##.... ##:. ####::::
      ##.....:::: ##.... ##:. ##.... ##:.:: ##.... ##:.  ##:::::
      ##.....:::: ##:::: ##:: ##:::: ##:::: ##.... ##:.  ##:::::
      #########:: #########:: #########:::: #########::  ##:::::
      ::.... ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      :::::: ##:: ##.... ##:: :::::: ##:::: ##.... ##::  ##:::::
      #########:: ##.... ##:: :::::: ##:::: ##.... ##:: ####::::

      Email: info@cathydutton.co.uk
      Twitter: cathy_dutton
      website: cathydutton.co.uk
      
  -->

<head>
  {% include "head.njk" %}
</head>

<body>
<div class="h-entry">
  
  <a href="#js-skip-link-target" class="skip-link" id="js-skip-link">skip to main content</a>
    
  <div aria-label="Accessibility tools" class="accessibility-tools">
    <div class="wrapper wrapper--accessibility-tools">
      {% include "a11y-buttons.njk" %}
    </div>
  </div>

  <header class="header" role="banner">
    <div class="wrapper wrapper--no-container wrapper--header">

      <div class="profile-image h-card p-author">
        <a class="u-url" href="/">
          <div class="profile-image-inner">
            <div class="profile-image-front">
                <img
                  sizes="(max-width: 369px) 100vw, 369px"
                  srcset="
                  /images/profile-image_m4cdxm_c_scale,w_200.jpg 200w,
                  /images/profile-image_m4cdxm_c_scale,w_369.jpg 369w"
                  src="/images/profile-image_m4cdxm_c_scale,w_369.jpg"
                  alt="Profile picture - Cathy Dutton" class="profile-image__img u-photo">
                  <span class="visually-hidden p-name">Cathy Dutton</span>
            </div>
            <div class="profile-image-back">
              <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" class="profile-image__img">
                <desc>Profile logo - Cathy Dutton</desc>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard">
                    <circle id="Oval" stroke-width="2" fill-rule="nonzero" cx="50" cy="50" r="50" class="profile-image__svg-circle"></circle>
                    <g id="Group" transform="translate(-1.000000, 18.000000)" fill="#1E1E1E" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="50" font-weight="bold">
                      <text id="C" class="profile-image__svg-text">
                        <tspan x="15.1901703" y="49">C</tspan>
                      </text>
                      <text id="D" class="profile-image__svg-text">
                        <tspan x="49.1901703" y="49">D</tspan>
                      </text>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
   
          </div>
        </a>
      </div>

        <nav class="navigation" aria-labelledby="mainNavigation" id="mainNavigation">
          {% include "navigation.njk" %}
        </nav>

      </div>

      <div id="js-skip-link-target" class="main-content">
        <div class="wrapper wrapper--no-container flow">
          <h1 class="p-name">
            {{ title }}
          </h1>
          <p class="page-intro"> {{ description }}</p>
          <ul class="social-media">
            {% for item in socialMedia %} 
              <li class="social-media__item">
                <a href="{{ item.url }}" class="anchor social-media__anchor" aria-label="{{ item.title }}" target="_blank" rel="noopener">
                <span>{{ item.description }}</span>
                <svg version="1.1" width="100" height="100" role="img" viewBox="{{ item.viewBox }}" aria-labelledby="{{ item.title }}Title {{ item.title }}Desc">
                  <title id="{{ item.title }}Title">{{ item.title }}</title>
                  <desc id="{{ item.title }}Desc">link to {{ item.title }} profile</desc>
                  <path d="{{ item.path }}"/>
                </svg>
                </a>
              </li>
            {% endfor %}
          </ul> 
        </div>
      </div>

    </header>

  <main id="main">
    {# bridgy #}
    <a class="u-url" href="{{ postURL }}">
    <a href="https://brid.gy/publish/twitter"></a>
    <data class="p-bridgy-omit-link" value="false"></data>
    <div class="wrapper  wrapper--top e-content">
      <p class="post-date">
        <span class="visually-hidden dt-published">Published on</span> <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
        <span class="h-card p-author"><a class="anchor" href="https://cathydutton.co.uk/">Cathy Dutton</a></span>
      </p>

      {# <p>
        <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ postURL }}&via=cathy_dutton&related=cathy_dutton" rel="noopener"  target="_blank" class="share-post-anchor">
          Share on Twitter
        </a> 
      </p>   #}

      <section class="flow"> 
        {{ content | safe }}

        <p>
          <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ postURL }}" rel="noopener"  target="_blank" class="share-post-anchor">
            Share on Twitter
          </a> 
        </p>  

      </section>
    </div>

   <div class="wrapper  wrapper--middle">
     {% include "webmentionlist.njk" %}
    </div>
    
    
    <div class="wrapper wrapper-bottom">
      <nav class="pagination">
        <ul class="pagination__list">
            <li class="pagination__list-item pagination__list-item--prev">
              <a class="pagination__anchor" href="/posts">
                <svg class="pagination__svg" version="1.1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
                </svg>
                <span class="navigation__title">Back to all posts</span>
              </a>
            </li>
          <li class="pagination__list-item pagination__list-item--next">
            <a class="pagination__anchor" href="/feed.xml">
              <span class="navigation__title">RSS feed</span>
              <svg class="pagination__svg" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                <path d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    
    </div> 


  </main>

  <footer class="footer">
    <div class="wrapper wrapper--no-container">
      {% include "footer.njk" %}
    </div>
  </footer>

  <script async src="/js/scripts.js"></script>
  
  <!-- Service worker -->
  <script defer>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/serviceWorker.js').then(function(registration) {
          }).catch(function(err) {
          });
        });
      }
  </script>

</div>
</body>

</html>
