---
layout: layouts/base.njk
---

{# <h1 class="post-title" id="js-skip-link-target">
  {{ title }}
</h1> #}

<div class="wrapper  wrapper--top">

  <p class="post-date">
    <span class="visually-hidden">Published on</span> <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
  </p>

  <section class="flow"> 
    {{ content | safe }}
  </section>
</div>

<div class="wrapper wrapper--white">
  <p>
    Subscribe to the <a href="/feed.xml" class="anchor">RSS feed</a>
  </p>

  <p>
    <a href="/posts" class="anchor">Back to all posts</a>
  </p>
</div>
