---
layout: layouts/base.njk
---

<h1 class="post-title" id="js-skip-link-target">
  {{ title }}
</h1>

<p class="post-date">
  <span class="visually-hidden">Published on</span> <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
</p>

<section class="flow"> 
  {{ content | safe }}
</section>

<p>
  Subscribe to the <a href="/feed.xml" class="anchor">RSS feed</a>
</p>

<p>
  <a href="/posts" class="anchor">Back to all posts</a>
</p>