<p><a href="/" class="anchor">Link</a></p>
<p><a href="/" class="anchor">External link</a></p>
<p><a href="/" class="anchor">Incredibly long anchor text linkk</a></p>


 <a href="#" class="anchor" target="_blank">bbbbbbbbb</a>
  <a href="#" class="anchor">bbbbbbbbb</a>
  <a href="#" class="anchor">bbbbbbbbb</a>
  <a href="#" class="anchor">bbbbbbbbb</a>


