<button class="button button--primary" type="button" value="Button">Button</button>
<button class="button button--secondary" type="button" value="Button">Button</button>
<button class="button button--submit" type="submit" value="Submit">Submit</button>
<button class="button button--reset" type="reset" value="Reset">Reset</button>
<button class="button button--disabled" type="button" value="Button" disabled>Disabled</button>
<button class="button button--right" type="button" value="Button">Right</button>