<section class="cards">
    <article class="card js-content-group" data-url="#" data-title="card title">
      <div class="">
        <img src="/images/portfolio/card-cover.jpg" loading="lazy" alt="Cover image for card title">
      </div>
      <h3 class="card__title">
      <a href="#">
        <span class="visually-hidden">Card title</span>
        Card Title
      </a>
      </h3>
      <p class="card__date">
        <span class="visually-hidden">Card date</span>
        <time datetime="2018-07-07">July 2018</time>
      </p>
      <p class="card__tags">Tagged in: <a href="#" class="anchor">Tag 1</a> , <a href="#" class="anchor">Tag 2</a></p>
    </article>
      <article class="card js-content-group" data-url="#" data-title="card title">
      <div class="">
        <img src="/images/portfolio/card-cover.jpg" loading="lazy" alt="Cover image for card title">
      </div>
      <h3 class="card__title">
      <a href="#">
        <span class="visually-hidden">Card title</span>
        Card Title
      </a>
      </h3>
      <p class="card__date">
        <span class="visually-hidden">Project date</span>
        <time datetime="2018-07-07">July 2018</time>
      </p>
      <p class="card__tags">Tagged in: <a href="#" class="anchor">Tag 1</a> , <a href="#" class="anchor">Tag 2</a>, <a href="#" class="anchor">Tag 3</a></p>
    </article>
  </section>