<p>In The Problem with Patterns, Cathy Dutton warns that <q cite="https://cathydutton.co.uk/posts/the-problem-with-patterns/">patterns should never sacrifice user context for efficiency and consistency</q>.</p>