/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools {
  color: var(--colour-white);
  background: var(--colour-black);
  border-bottom: solid 4px var(--colour-pink);
  padding: .5rem 0;
}
  
.accessibility-tools fieldset {
  margin: 0 1rem 0 0;
  padding: .2rem 0;
  float: left;
  border: 0;
}

.accessibility-tools legend {
  float: left;
  padding: .4rem .8rem .2rem 0;
}

.button--ally {
  --button: hsl(346, 100%, 60%);
  --button-hover: hsl(346, 100%, 70%);
  --button-active:  hsl(346, 100%, 80%);
  --button-visited: hsl(346, 100%, 70%);
  --button-colour: var(--colour-black);
  --button-border: var(--colour-pink);

  padding: .5em .7em;
  box-shadow: 0;
}
