/*
  A11y buttons
  ----------------------------------- */

.accessibility-tools {
  display: none;
} 

@supports (display: grid) {
  
  .accessibility-tools {
    display: block;
    color: var(--colour-white);
    background: var(--colour-black);
    border-bottom: solid 4px var(--colour-white);
  }
  
  .wrapper--accessibility-tools {
    padding: 1rem 1.5rem;
    max-width: 62rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-template-rows: auto auto;
    gap: 5px 10px;
  }
  
  .accessibility-tools fieldset {
    display: contents;
    border: 0;
  } 
  
  .sub-grid {
    grid-column: span 3;
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    align-items: center;
  }
  
  .button--ally {
    box-shadow: none;
    height: 100%;
    font-size: .9rem;
  }

  /* ACTIVE */
  
  .button--ally--active:after {
    content: ': on';
  } 

  .button--ally--active {
    background: var(--colour-pink);
  } 
  
  .button--ally--active:hover,
  .button--ally--active:focus {
    background: var(--colour-pink);
    cursor: not-allowed;
  }


}