/*
  Anchors
  ----------------------------------- */

/* a {
  --link: hsl(230, 60%, 50%);
  --link-visited: hsl(290, 60%, 50%);
  --link-hover: hsl(230, 80%, 60%);
  --link-active: hsl(350, 60%, 50%);
} */

 a,
.anchor {
  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 3px;
  transition: all .3s ease-in-out;
  padding: 0 .3rem;
}

a:hover,
.anchor:hover {
  outline: dashed 1px var(--colour-pink);
  text-decoration: none;
}

a:active,
.anchor:active {
  outline-style: dashed;
  outline-color: var(--colour-pink);
  outline-width: 1px;
}

a:focus,
.anchor:focus {
  outline-style: dashed;
  outline-color: var(--colour-pink);
  outline-width: 1px;
}

a:visited,
.anchor:visited {
  outline-style: dashed;
  outline-color: var(--colour-pink);
  outline-width: 1px;
}


/* Print styles */

@media print {
  
  a,
  .anchor{
    color: #000!important;
  }

  a:before,
  .anchor:before {
    content:" (" attr(href) ") "!important;
    font-size: 0.8rem;
    font-weight: normal;
  }

  a:after ,
  .anchor:after {
    content: '';
  }

} 
