/*
Cards
----------------------------------- */

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
  grid-template-rows: auto repeat(4, auto 1fr auto);
  grid-gap: 2rem;
}

.card-wrapper {
  background: linear-gradient(180deg, var(--colour-pink) 0%, var(--colour-pink) 40%, var(--colour-white) 40%);
  border: solid 1px var(--colour-grey); 
  padding: 1rem;
  /* display: contents; */
}

.card {
  display: grid;
  /* grid-row: span 3; */
  grid-template-rows: auto 1fr auto;
  /* grid-template-rows: subgrid;  */
  grid-row-gap: .5rem;
  height: 100%;
} 

.card img {
  width: 100%;
  grid-row: 1; 
}

.card__title {
  grid-row: 2; 
}

.card__title::after {
  content: "";
  display: none;
}

.card__title a {
  text-decoration: none;
}

/* .card__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  outline: solid 1px var(--colour-white);
}  */



@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .card {
    clear: both;
    overflow: auto;
    position: relative;
  }

  .card__post {
    float: left;
    width: 48%;
    margin: 1%;
  }
} 