/*
Cards
----------------------------------- */

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
  grid-gap: 2rem;
}

.card-wrapper {
  background: linear-gradient(180deg, var(--colour-pink) 0%, var(--colour-pink) 40%, var(--colour-grey-light) 40%);
  border: solid 1px var(--colour-grey); 
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: .5rem;
  height: 100%;
} 

.card div {
  background: var(--colour-pink);
}

.card img {
  width: 100%;
  grid-row: 1; 
}

.card-wrapper:hover img,
.card-wrapper:focus img {
  mix-blend-mode: normal;
}

.card__title {
  grid-row: 2; 
}

.card__title::after {
  content: "";
  display: none;
}

.card__title a {
  text-decoration: none;
}

.card__title a:hover {
  outline: none;
}

.card-wrapper:hover,
.card-wrapper:focus {
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: solid 4px var(--colour-pink);
  outline: none;
} 

.card-wrapper:hover .card img,
.card-wrapper:focus .card img {
mix-blend-mode: overlay;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  
  .cards {
    clear: both;
    overflow: auto;
    position: relative;
  }

  .card-wrapper {
    float: left;
    width: 48%;
    margin: 1%;
  }
  
} 