/*
Cards
----------------------------------- */

.cards {
  --ratio-padding: 55%;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr) );
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  padding: .8rem;
  background: var(--colour-white);
  border-bottom: solid 4px var(--colour-bright);
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .card {
    clear: both;
    overflow: auto;
    position: relative;
  }

  .card__post {
    float: left;
    width: 48%;
    margin: 1%;
  }
}

.card__title {
  color: var(--colour-medium);
}

.card__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  outline: solid 1px var(--colour-white);
}
