/*
Logo images

----------------------------------- */

.work-history,
.currently-using {
  margin-bottom: 0;
}

.tech-logo,
.work-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.375rem, 1fr)); 
  grid-template-rows: auto auto auto;
  margin-bottom: 1.5rem;
}

.tech-logo__item,
.work-logo__item {
  display: contents;
  list-style: none;
}

.tech-logo__item a,
.work-logo__item a { 
  display: inline;
  padding: 0;
  /* background: var(--colour-pink); */
  transition: all .3s ease-in-out;
}

.tech-logo__item a:hover img,
.work-logo__item a:hover img, 
.tech-logo__item a:active img,
.work-logo__item a:active img,
.tech-logo__item a:focus img,
.work-logo__item a:focus img { 
  opacity: 70%; 
}

.tech-logo__item a:hover,
.work-logo__item a:hover, 
.tech-logo__item a:active,
.work-logo__item a:active,
.tech-logo__item a:focus,
.work-logo__item a:focus { 
  border: 0;
  outline: 0;
  box-shadow: none;
}

.tech-logo__item img,
.work-logo__item img {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding: 0;
  border: none; 
  mix-blend-mode: normal;
}

.column-2 {
  grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}

/* Theme */

.theme-monochrome .tech-logo__item img,
.theme-monochrome .work-logo__item img { 
  filter: grayscale(100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(grayscale(100%))";
}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  
  .work-logo,
  .tech-logo {
    clear: both;
    overflow: auto;
    position: relative;
  }

  .work-logo__item,
  .tech-logo__item {
    float: left;
    width: 19%;
    margin: 1%;
  }

} 