/*
Logo images

----------------------------------- */

/* .tech-logo,
.work-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.375rem, 1fr));
  margin-bottom: 1.5rem;
}

.tech-logo__item,
.work-logo__item {
  list-style: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .tech-logo,
  .work-logo {
    clear: both;
    overflow: auto;
    position: relative;
  }

  .tech-logo__item,
  .work-logo__item {
    float: left;
    width: 25%;
  }
}

.tech-logo a,
.work-logo a {
  border: 0;
}

.tech-logo img,
.work-logo img{
  padding: 0;
}

.tech-logo .,
.work-logo . {
  margin: 0;
  border: 0;
}

.tech-logo__anchor,
.work-logo__anchor {
  display: block;
  position: relative;
}

.tech-logo__anchor:focus,
.work-logo__anchor:focus {
  outline: 0;
} */

/* .tech-logo__anchor:before,
.work-logo__anchor:before {
  background-color: var(--colour-pink);
  color: var(--colour-black);
  content: attr(aria-label);
  font-weight: bold;
  display: inline-block;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  font-size: .7rem;
} */

/* .tech-logo__anchor:focus:before,
.tech-logo__anchor:hover:before,
.work-logo__anchor:focus:before,
.work-logo__anchor:hover:before {
  transition: all .3s ease-in-out;
  opacity: .90;
} */


.tech-logo,
.work-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.375rem, 1fr)); 
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
}

.tech-logo__item,
.work-logo__item,
.tech-logo__item a,
.work-logo__item a{
  display: contents;
}

.tech-logo__item img,
.work-logo__item img{
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.column-2 {
  grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}

.tech-logo__item img,
.work-logo__item img {
 padding: 0;
}