/*
  Navigation
  ----------------------------------- */

.navigation {
  margin: 1em;
}

.navigation .navigation__list {
  padding: 0 1em;
}

.navigation .navigation__item {
  float: left;
  margin: .2em;
  list-style: none;
}
  
.navigation a {
  color: var(--colour-dark);
  padding: .4em .8em;
}

.navigation a:hover {
  color: var(--colour-bright);
  text-decoration: underline;
  transition: all .3s ease-in-out;
}

.navigation a:focus {
  background: var(--colour-bright);
  text-decoration: underline;
  transition: all .3s ease-in-out;
  outline: 0;
}
  
.navigation .navigation__item--current a,
.navigation a:active {
  color: var(--colour-bright);
  text-decoration: underline;
}

.navigation a:active:hover {
  text-decoration: none;
  cursor: not-allowed;
}
  