/*
  Ordered lists
  ----------------------------------- */

.ordered-list {
  list-style: none;
  margin: 1rem 0;
  padding-left: 1rem;
  line-height: 2;
  max-width: 80%;
  margin-bottom: 1.5rem;
}

.ordered-list__list-item {
  margin-bottom: .4rem;
  list-style-type: decimal;
}
