/*
Pagination
----------------------------------- */

.pagination {
 padding: .5rem;
}

.pagination__list {
  display: grid;
  grid-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: .5rem;
  grid-template-rows: 50px;
}

.pagination__list-item {
  list-style: none;
  display: contents;
}

.pagination__list-item--prev,
.pagination__list-item--next {
  width: 100%;
  text-align: center;
}

.pagination__anchor {
  transition: all .3s ease-in-out;
  background: var(--colour-pink);
  height: 100%;
  padding: 0;
  text-decoration: none;
}

.pagination__list-item--prev a {
  text-align: left;
}

.pagination__list-item--next a {
  text-align: right;
  height: 50px;
}

.pagination__svg {
  transition: all .3s ease-in-out;
  fill: var(--colour-pink);
  background: var(--colour-black);
  padding: 14px 12px;
  width: 45px;
  height: 50px;
}

.pagination__anchor:hover,
.pagination__anchor:focus ,
.pagination__anchor:active   {
  background: var(--colour-grey-light);
  box-shadow: none;
}

.pagination__anchor:hover svg,
.pagination__anchor:focus svg,
.pagination__anchor:active svg {
  fill: var(--colour-black);
  background: var(--colour-pink);
}

.navigation__title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 13px;
  padding-left: 10px;
}

.pagination__list-item--prev .navigation__title {
  padding-left: 10px;
}

.pagination__list-item--next .navigation__title {
  padding-right: 10px;
}



