/*
Latest posts feed
----------------------------------- */


.latest-posts {
  --slapdash-color:var(--colour-black-light);
  --slapdash-weight: 1;
  color: var(--colour-white);
  background-color:  var(--colour-black);
  background-image: paint(slapdash);
}

.news-feed__post {
  width: 100%;
  margin-top: 1.4rem;
  padding: .8rem;
  border: solid 1px var(--colour-grey);
  /* border-bottom: solid 2px var(--colour-pink); */
}

.news-feed__post:hover {
  transition: all .3s ease-in-out;
}

.news-feed__title {
  margin-bottom: .2rem;
}

.news-feed__header {
  margin: 0;
  padding: 0;
}
