/*
Latest posts feed
----------------------------------- */


/* .latest-posts {
  border: solid 1px var(--colour-grey);
} */

.news-feed__post {
  width: 100%;
  margin-top: 2rem;
  padding: .8rem;
  background: var(--colour-grey-light);
  border: solid 1px var(--colour-grey);
  /* border-bottom: solid 2px var(--colour-pink); */
}

.news-feed__post:hover,
.news-feed__post:focus {
  cursor: pointer;
  transition: all .3s ease-in-out;
  outline-style: dashed;
  outline-color: var(--colour-pink-light);
  outline-width: 2px;
  background: var(--colour-white);
}

.news-feed__title {
  margin-bottom: .2rem;
}

.news-feed__title a:hover {
  background: transparent;
}

.news-feed__anchor {
  padding: 0;
  text-decoration: none;
}

.news-feed__header {
  margin: 0;
  padding: 0;
}
