/*
PostCSS  feed
----------------------------------- */

.postcss__post {
  width: 100%;
  margin-top: 1.4rem;
  padding: .8rem;
  background: var(--colour-white);
  border-bottom: solid 4px var(--colour-pink);
}

.postcss__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  outline: solid 1px var(--colour-white);
}

.postcss__title {
  font-size: 2rem;
  color: var(--colour-grey);
}

.postcss__header {
  margin: 0;
  padding: 0;
}
