/*
PostCSS  feed
----------------------------------- */

.postcss__post {
  width: 100%;
  margin-top: 1.4em;
  padding: .8em;
  background: var(--colour-light);
  border-bottom: solid 4px var(--colour-bright);
}

.postcss__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  outline: solid 1px var(--colour-light);
}

.postcss__title {
  font-size: 2em;
  color: var(--colour-medium);
}

.postcss__header {
  margin: 0;
  padding: 0;
}
