/*
Latest posts feed
----------------------------------- */

.news-feed__post {
  width: 100%;
  margin-top: 1.4rem;
  padding: .8rem;
  background: var(--colour-light);
  outline: solid 1px var(--colour-medium);
  border-bottom: solid 2px var(--colour-bright);
}

.news-feed__post:hover {
  transition: all .3s ease-in-out;
  background: var(--colour-white);
  transform: scale(0.9);
}

.news-feed__title {
  /* font-size: 2rem; */
  margin-bottom: .2rem;
}

.news-feed__header {
  margin: 0;
  padding: 0;
}
