/*
Quotations
----------------------------------- */
.quote {
  background: var(--colour-white);
  margin: 1rem 0;
  padding: 1rem;
}

blockquote {
  padding: 1rem;
}

blockquote:before,
blockquote:after {
  font-family: var(--font-family);
  color: var(--colour-medium);
  font-size: 2rem;
  line-height: 0.1rem;
}

blockquote:before {
  content: open-quote;
  margin-right: 0.25rem;
  vertical-align: -0.2rem;
}

blockquote:after {
  content: close-quote;
  margin-left: 0.25rem;
  vertical-align: -0.3rem;
}
