/*
    Navigation footer
    ----------------------------------- */

.navigation-footer {
  margin: 1.5rem 0;
  padding: 0;
  font-size: 1.1rem;
}

.navigation-footer .navigation__item {
  display: inline-block;
  margin: .4rem;
}

.navigation-footer .navigation__item a {
  color: var(--colour-black);
  text-decoration: none;
  display: inline-block;
  border-bottom: solid 3px var(--colour-medium);
  position: relative;
}

@media (hover: hover) {
  .navigation-footer .navigation__item a:before,
  .navigation-footer .navigation__item a:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--colour-bright);  
    position: absolute;
    top: 100%;
    transition: width .3s;
    height: 3px;
  }

  .navigation-footer .navigation__item a:before,
  .navigation-footer .navigation__item a:before {
    width: 0;
    left: 50%;
  }

  .navigation-footer .navigation__item a:after,
  .navigation-footer .navigation__item a:after {
    width: 0;
    right: 50%;
  }

  .navigation-footer .navigation__item a:hover:before,
  .navigation-footer .navigation__item a:focus:before {
    width: 50%;
    left: 50%;
  }

  .navigation-footer .navigation__item a:hover:after,
  .navigation-footer .navigation__item a:focus:after {
    width: 50%;
    right: 50%;
  }

}

.navigation-footer .navigation__item a:hover,
.navigation-footer .navigation__item a:focus {
  transition: all .3s ease-in-out;
  color: var(--colour-bright);

}

.navigation-footer .navigation__item--current a,
.navigation-footer .navigation__item a:active {
  border-bottom: solid 3px var(--colour-bright); 
  cursor: not-allowed;
}
