/*
    Navigation footer
    ----------------------------------- */

.navigation-footer {
  margin: 1.5em auto 2em;
  padding: 0;
  font-size: 1.1em;
}

.navigation-footer .navigation__item {
  display: inline-block;
  margin: .4em;
}

.navigation-footer .navigation__item a {
  color: var(--colour-black);
  text-decoration: none;
  display: inline-block;
  border-bottom: solid 3px var(--colour-light);
  position: relative;
}

@media (hover: hover) {
  .navigation-footer .navigation__item a:before {
    display: block;
    content: '';
    border-bottom: solid 3px var(--colour-bright);  
    position: absolute;
    top: 100%;
    transition: width .3s;
    width: 0;
    height: 3px;
  }

  .navigation-footer .navigation__item a:hover:before,
  .navigation-footer .navigation__item a:focus:before {
    width: 100%;
  }

}

.navigation-footer .navigation__item a:hover,
.navigation-footer .navigation__item a:focus {
  transition: all .3s ease-in-out;
  color: var(--colour-bright);
}

.navigation-footer .navigation__item--current a,
.navigation-footer .navigation__item a:active {
  color: var(--colour-medium)!important;
  border-bottom: solid 3px var(--colour-medium); 
}
