/*
    Navigation footer
    ----------------------------------- */

.navigation-footer {
  margin: 1.5rem 0;
  padding: 0;
  font-size: 1.1rem;
}

.navigation-footer .navigation__item {
  display: inline-block;
  margin: .4rem;
}

.navigation-footer .navigation__item a {
  color: var(--colour-white);
  text-decoration: none;
  display: inline-block;
  border-bottom: solid 3px var(--colour-black-light);
  position: relative;
  padding: 0;
}

@media (hover: hover) {

  .navigation-footer .navigation__item a:hover {
    cursor: hand;
    background: none;
    color: var(--colour-pink);
  }

  .navigation-footer .navigation__item a:before,
  .navigation-footer .navigation__item a:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--colour-pink);  
    position: absolute;
    top: 100%;
    transition: width .3s;
    height: 3px;
    width: 0;
  }

  .navigation-footer .navigation__item a:hover:before,
  .navigation-footer .navigation__item a:focus:before {
    width: 100%;
  }

}

.navigation-footer .navigation__item a:hover,
.navigation-footer .navigation__item a:focus {
  transition: all .3s ease-in-out;
  /* color: var(--colour-pink); */

}

.navigation-footer .navigation__item--current a,
.navigation-footer .navigation__item a:active {
  border-bottom: solid 3px var(--colour-pink); 
  cursor: not-allowed;
}
