/*
Social Share buttons
----------------------------------- */

.share-post-anchor {
  max-width: 200px;
  text-align: center;
  padding: .7rem .5rem;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background: #0f4481;
  border: 0;
  border-bottom: solid 2px #072b55;
  display: block;
  color: var(--colour-white);
  margin-top: 2rem;
}

.share-post-anchor:hover,
.share-post-anchor:active {
  background: #0f4481;
  outline-color: #0f4481;
} 

.share-post-anchor:focus {
  outline-color: #0f4481;
} 

.theme-monochrome .share-post-anchor {
  background: var(--colour-black);
  border-bottom: solid 2px var(--colour-grey);
} 

.theme-monochrome .share-post-anchor:hover,
.theme-monochrome .share-post-anchor:focus,
.theme-monochrome .share-post-anchor:active {
  background: var(--colour-grey);
  border-bottom: solid 2px var(--colour-grey);
  outline-color: var(--colour-black);
} 

