/*
Skip Links
----------------------------------- */

.skip-link {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
  padding: .2rem .6rem;
  transform: skewY(0.5deg);
}

.skip-link:focus {
  right: auto;
  background: var(--colour-pink);
  color: var(--colour-black);
}
