/*
  Slides
  ----------------------------------- */

.slides figure {
  --ratio-padding: 56.27%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(18rem, 1fr) );
  grid-gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-bottom: dashed 1px var(--colour-black);
}
  
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    
    .slides .image-ratio {
      clear: both;
      overflow: auto;
      position: relative;
    }
  
    .slides figcaption {
      float: left;
      width: 48%;
      margin: 1%;
    }
  

  }
  
  