/*
Social media icons
----------------------------------- */

:root {
  --colour-social-colour: var(--colour-black);
  --colour-social-stroke: var(--colour-pink);
}



.footer {
  --colour-social-colour: var(--colour-pink);
  --colour-social-stroke: var(--colour-black);
}




.social-media {
  margin: 2.5rem 0;
  list-style: none;
  animation: fadeIn 2s forwards;
}

.social-media__item {
  list-style: none;
}

.social-media__anchor {
  display: block;
}

.social-media__anchor:hover {
  background: none;
}

.social-media__anchor svg {
  width: 44px;
  height: 44px;
  margin: 0 5px;
  color: var(--colour-social-colour);
  fill: var(--colour-social-colour);
}

.social-media__anchor svg:hover,
.social-media__anchor svg:focus {
  transition: all .3s ease-in-out;
  border-radius: 100%;
  color: var(--colour-social-stroke);
  fill: var(--colour-social-stroke);
  background: var(--colour-social-colour);
  outline: none;
  transform: scale(1.25);
}


/* Footer  */

.footer .social-media__item {
  float: left;
}

/* Main  */

main .social-media {
  position: absolute;
}