/*
Social media icons
----------------------------------- */

.social-media {
  width: 100%;
  padding: 0;
  margin: 2.5rem 0;
  list-style: none;
  animation: fadeIn 2s forwards;
}

.social-media__item {
  display: inline-block;
}

.social-media__anchor svg {
  width: 34px;
  height: 34px;
  margin: 0 5px;
  color: var(--colour-dark);
  fill: var(--colour-dark);
}

.social-media__anchor svg:hover,
.social-media__anchor svg:focus {
  transition: all .3s ease-in-out;
  border-radius: 100%;
  color: var(--colour-bright);
  fill: var(--colour-bright);
  background: var(--colour-dark);
  outline: none;
  transform: scale(1.25);
}

/* .social-media__anchor:before {
  border-radius: 3px;
  background-color: var(--colour-dark);
  color: var(--colour-white);
  content: attr(aria-label);
  display: inline-block;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  text-align: center;
  transform: translateY(-150%);
  transition: all 0.25s ease;
} */

/* .social-media__anchor:focus:before,
.social-media__anchor:hover:before {
  opacity: 1;
  transform: translate(-18% ,-144%);
} */

