/*
Social media icons
----------------------------------- */

.social-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 20px;
  margin: 2.5rem 0;
  list-style: none;
  animation: fadeIn 2s forwards;
  align-items: center;
}

.social-media__item {
  /* display: inline-block; */
  list-style: none;
}

.social-media__anchor {
  display: block;
}

.social-media__anchor svg {
  width: 34px;
  height: 34px;
  margin: 0 5px;
  color: var(--colour-black);
  fill: var(--colour-black);
}

.social-media__anchor svg:hover,
.social-media__anchor svg:focus {
  transition: all .3s ease-in-out;
  border-radius: 100%;
  color: var(--colour-pink);
  fill: var(--colour-pink);
  background: var(--colour-black);
  outline: none;
  transform: scale(1.25);
}

