/*
  Tabs
  ----------------------------------- */

  .tab-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
  }
  
  .tab-item {
    background: var(--colour-grey);
    list-style: none;
    hyphens: auto;
    grid-column: auto / span 4;
  }

  /* Less then or equal to 4  */
  .tab-item:nth-last-child(-n+4):first-child,
  .tab-item:nth-last-child(-n+4):first-child ~ li {
    grid-column: auto / span 1;
  }

  .tab-link {
    color: var(--colour-black);
    display: block;
    padding: 1rem 1rem;
    position: relative;
    text-decoration: none;
    border-bottom: 0;
    border-right: solid 1px var(--colour-white);
    text-decoration: underline;
    height: 100%;
  }

  .tab-link:hover  {
    transition: all .3s ease-in-out;
    background: var(--colour-pink);
    color: var(--colour-black);
  }

  .tab-link[data-tab-active] {
    background: var(--colour-black);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 1, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 1, 1);
    text-decoration: none;
    color: var(--colour-white);
    text-decoration: none;
    cursor: not-allowed;
    outline: currentColor;
  }

  .tab-link:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  .tab-panel {
    padding: .5rem 1rem;
    background: var(--colour-black);
    border: solid 1px var(--colour-pink);
    margin-bottom: 1rem;
    color: var(--colour-white);
  }

  .tab-panel h2 {
    margin-top: 0;
  }
  
  .tab-panel[aria-hidden="true"] {
    display: none;
  }
  
  .tab-panel:focus {
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--colour-grey);
  }
  