/*
  Unordered lists
  ----------------------------------- */
  
.unordered-list {
  padding: 0 0 0 1rem;
  margin: 1rem 0;
  list-style: disc;
  line-height: 2;
  max-width: 80%;
  margin-bottom: 1.5rem;
}

.unordered-list__list-itrem {
  list-style: disc;
  /* text-indent: -0.75rem; */
  /* margin: .5rem 0; */
}

/* .unordered-list__list-item:before {
  display: inline-block;
  content: '';
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--colour-grey);
} */
