/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */

  /* https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=bright&n=medium&n=dark&n=black&v=FFFFFF&v=E3E3E3&v=E61E9C&v=780C83&v=1E0321&v=110213 */

/* Colors */
:root {
  --colour-black: hsl(293, 81%, 4%);
  --colour-dark: hsl(294, 83%, 7%);
  --colour-medium: hsl(294, 83%, 28%);
  --colour-light: hsl(0, 0%, 89%);
  --colour-white: hsl(0, 0%, 100%);
  --colour-bright: hsl(322, 80%, 51%);
}

.theme-contrast {
  --colour-black: hsl(0, 0%, 100%);
  --colour-dark: hsl(62, 100%, 74%);
  --colour-medium: hsl(45, 100%, 59%);
  --colour-light: hsl(180, 1%, 26%);
  --colour-white: hsl(210, 100%, 12%);
  --colour-bright: hsl(327, 66%, 37%);
}

.theme-monochrome {
  --colour-black: rgb(33, 21, 5);
  --colour-dark: hsl(29, 64%, 14%);
  --colour-medium: hsl(34, 50%, 22%);
  --colour-light: hsl(39, 94%, 86%);
  --colour-white: hsl(41, 90%, 92%);
  --colour-bright: hsl(41, 91%, 49%);
}

/* Fonts */
:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dyslexic {
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Font size */
:root {
  --font-size: 16px;
}












