/*
  Settings
  CSS variables for fonts, colors, etc.
  ----------------------------------- */

/* https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=bright&n=medium&n=dark&n=black&v=FFFFFF&v=F4DFF6&v=E61E9C&v=780C83&v=1E0321&v=110213 */

/* Colors */
:root {
  --colour-black: hsl(293, 81%, 4%);
  --colour-dark: #1d0320;
  --colour-medium: #780C83;
  --colour-light: #f4dff6;
  --colour-white: hsl(0, 0%, 100%);
  --colour-bright: #e61e9c;



  --colour-black--h: 293;
  --colour-black--s: 81%;
  --colour-black--l: 4%;
  --colour-black: hsl(var(--colour-black--h), var(--colour-black--s), var(--colour-black--l));

  --colour-dark--h: 294;
  --colour-dark--s: 83%;
  --colour-dark--l: 7%;
  --colour-dark: hsl(var(--colour-dark--h), var(--colour-dark--s), var(--colour-dark--l));

  --colour-medium--h: 294;
  --colour-medium--s: 84%;
  --colour-medium--l: 17%;
  --colour-medium: hsl(var(--colour-medium--h), var(--colour-medium--s), var(--colour-medium--l));

  --colour-light--h: 0;
  --colour-light--s: 0%;
  --colour-light--l: 95%;
  --colour-light: hsl(var(--colour-light--h), var(--colour-light--s), var(--colour-light--l));

  --colour-white--h: 0;
  --colour-white--s: 0%;
  --colour-white--l: 1004%;
  --colour-white: hsl(var(--colour-white--h), var(--colour-white--s), var(--colour-white--l));

  --colour-bright--h: 322;
  --colour-bright--s: 80%;
  --colour-bright--l: 51%;
  --colour-bright: hsl(var(--colour-bright--h), var(--colour-bright--s), var(--colour-bright--l));



}

.theme-contrast {
  --colour-black: hsl(0, 0%, 100%);
  --colour-dark: hsl(62, 100%, 74%);
  --colour-medium: hsl(45, 100%, 59%);
  --colour-light: hsl(180, 1%, 26%);
  --colour-white: hsl(210, 100%, 12%);
  --colour-bright: hsl(327, 66%, 37%);
}

.theme-monochrome {
  --colour-black: rgb(33, 21, 5);
  --colour-dark: hsl(29, 64%, 14%);
  --colour-medium: hsl(34, 50%, 22%);
  --colour-light: hsl(39, 94%, 86%);
  --colour-white: hsl(41, 90%, 92%);
  --colour-bright: hsl(41, 91%, 49%);
}

/* Fonts */
:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dyslexic {
  --font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Font size */
:root {
  --font-size: 16px;
}












