--- 
title: Buttons
description: Patterns components and styles for cathydutton.co.uk 
---

{% block use %}
<p>A button button is... </p>
{% endblock %}

{% block dontUse %}
<p>A button button is... </p>
{% endblock %}

  <p>A button button is... </p>



 

