--- 
title: Anchor tags 
description: Anchor tags - Patterns, components and styles for cathydutton.co.uk 
intro: An anchor tag is used to link from one page or section of a page to another.
---



<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have clear hover and focus states</li>
  <li class="unordered-list__list-item">be distinguishable by more than just colour</li>
  <li class="unordered-list__list-item">have desctiptive content like "We'd love for you to <a href="#" class="anchor">
  get in touch</a> with us</li>
  <li class="unordered-list__list-item">clearly communicate if they open a new window</li>
  <li class="unordered-list__list-item">show the full URL if printed</li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">use non descriptive text like "Click <a href="#" class="anchor">here</a>
  to get in touch</li>
  <li class="unordered-list__list-item">perform an action, for this use a <a href="/components//buttons" class="anchor">button</a></li>
</ul>

