--- 
title: Blockquotes
description: Blockquotes - A section that is quoted from another source
intro: A Blockquote is a block of content that is quoted from another source.
pageName: Components 
---

<h2>Blockquotes should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Be contained by a blockquote tag</li>
  <li class="unordered-list__list-item">Use the cite tag to distinguish the quote from the attribution</li>
  <li class="unordered-list__list-item">Use figcaption to wrap the cite element and figure to wrap the entire quotation</li>
</ul>

<h2>Blockquotes should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Be used for inline quotations</li>
</ul>





 
