--- 
title: Buttons
description: Buttons - Patterns, components and styles for cathydutton.co.uk 
intro: A button is a clickable HTML element used to perform an action.
pageName: Components 
---


<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have a large click area</li>
  <li class="unordered-list__list-item">use text not icons</li>
  <li class="unordered-list__list-item">have sufficient contrast with the page background </li>
  <li class="unordered-list__list-item">have sufficient contrast between button colour and text</li>
  <li class="unordered-list__list-item">have a solid border bottom</li>
  <li class="unordered-list__list-item">have a clear colour change for the hover state</li>
  <li class="unordered-list__list-item">have a clear colour change for the active state</li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have a hand cursor</li>
  <li class="unordered-list__list-item">link to another page or section of a page, for this use an <a href="/components/anchor-tags" class="anchor">anchor tag</a></li>
</ul>





 
