--- 
title: Buttons
description: Buttons - Patterns, components and styles for cathydutton.co.uk 
intro: A button is a clickable HTML element used to perform an action.
---


<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have clear hover and focus states</li>
  <li class="unordered-list__list-item">be defined by the content on the button</li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have a hand cursor</li>
  <li class="unordered-list__list-item">link to another page or section of a page, for this use an <a href="/components/anchor-tags" class="anchor">anchor tag</a></li>
</ul>





 
