--- 
title: Description list
description: Ordered lists - Patterns, components and styles for cathydutton.co.uk 
intro: An description list groups items and
---

<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item"></li>
  <li class="unordered-list__list-item"></li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item"></li>
  <li class="unordered-list__list-item"></li>
</ul>





 
