--- 
title: Description list
description: Description list - Patterns, components and styles for cathydutton.co.uk 
intro: A description list (dl) groups description terms (dt) and their corresponding description details (dd)
---

<h2>Description lists should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">work with one or more description term elements
</li>
  <li class="unordered-list__list-item">work with one or more description details elements</li>
</ul>

{# <h2>Description lists should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item"></li>
  <li class="unordered-list__list-item"></li>
</ul> #}





 
