--- 
title: Highlight text
description: Highlight text - Patterns, components and styles for cathydutton.co.uk 
intro: Highlight-text is used to differentiate a block of text from it's surroundings.
pageName: Components 
---

<h2>Highlight text should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used sparingly throughout a page</li>
  <li class="unordered-list__list-item">be differentiated by more than colour</li>
</ul>






 
