--- 
title: Icons 
description: Icons - Patterns, components and styles for cathydutton.co.uk 
intro: An Icon is is a quickly comprehensible symbol used alongside text. Icons can be used as part of links or buttons.
pageName: Components 
---



<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">only be used alongside text</li>
  <li class="unordered-list__list-item">be vectors and be readable by assistive tech</li>
  <li class="unordered-list__list-item">be universally understood</li>
  <li class="unordered-list__list-item">be used sparingly throughout a site</li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used in place of words</li>
  <li class="unordered-list__list-item">be used in navigation</li>
  <li class="unordered-list__list-item">be used as decoration</li>
</ul>

