--- 
title: Navigation bar
description: Navigation bar - Patterns, components and styles for cathydutton.co.uk 
intro: A navigation bar links to the main site content. 
pageName: Components 
---

<h2>A navigation bar should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be clear and easy to recognise</li>
  <li class="unordered-list__list-item">be descriptive</li>
  <li class="unordered-list__list-item">signpost users to important content</li>
  <li class="unordered-list__list-item">have clear hover and focus states</li>
</ul>

<h2>A navigation bar should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be hidden from view in a dropdown or behind a toggle</li>
  <li class="unordered-list__list-item">contain more then 7 links</li>
</ul>





 
