--- 
title: Ordered list
description: Ordered lists - Patterns, components and styles for cathydutton.co.uk 
intro: An ordered list groups items that have a numerical ordering
---

<h2>Ordered lists should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used if the order of the items is relevant</li>
</ul>

<h2>Ordered lists should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used if the order of the items is not relevant</li>
</ul>





 
