--- 
title: Quotes
description: Quotes - inline short quotation
intro: The HTML <q> element indicates that the enclosed text is a short inline quotation.
pageName: Components 
---

<h2>Quotes should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Use the cite tag to distinguish the quote from the attribution</li>
</ul>

<h2>Quotes should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Be used for block quotations</li>
  <li class="unordered-list__list-item">Have the default quotation marks removed</li>
</ul>





 
