--- 
title: Secondary navigation
description: Secondary navigation - Patterns, components and styles for cathydutton.co.uk 
intro: Secondary navigation links to content that is of secondary interest to the user. 
---

<h2>{{ title }} should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">have clear hover and focus states</li>
  <li class="unordered-list__list-item">be distinguishable by more than just colour</li>
  <li class="unordered-list__list-item">have desctiptive content</li>
</ul>

<h2>{{ title }} should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be hidden from view in a dropdown or behind a toggle</li>
</ul>





 
