--- 
title: Unordered list
description: Unordered lists - Patterns, components and styles for cathydutton.co.uk 
intro: An unordered list groups items that do not have a numerical ordering.
---

<h2>Unordered lists should:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used if the order of the items is not relevant</li>
</ul>

<h2>Unordered lists should not:</h2>

<ul class="unordered-list">
  <li class="unordered-list__list-item">be used if the order of the items is relevant</li>
</ul>





 
