/*
  Elements -   Images

  https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/?utm_source=CSS-Weekly&utm_campaign=Issue-402&utm_medium=email

https://web.dev/native-lazy-loading/
----------------------------------- */


img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
  image-rendering: auto;
  padding: .4rem;
  display: block;
  border: solid 1px var(--colour-grey);
  background: url('/images/placeholder.svg') var(--colour-grey-light) no-repeat 50% 50%;
}

img.half, .half {
  width: 50%;
}

img.third, .third {
  width: 70%;
}
