/*
  Elements -   Tables
  
  ----------------------------------- */
  
.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}

table::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

table, 
th, 
td {
  border: 1px solid black;
}

th, 
td {
  padding: 15px;
  text-align: left;
}
