/*
  Generic -   Typography
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */


.flow {
  --flow-space: 1em;
}  
  
.flow > * + * { 
  margin-top: var(--flow-space);
}


body {
  font-display: optional;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
  font-size: var(--font-size);
}

h1, h2, h3, h4, p, .page-intro {
  /* margin-bottom: 1.5rem; */
  max-width: 80%;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

/* Decoration */

h2 {
  position: relative;
}

h2:after {
  content: "";
  height: 6px;
  display: block;
  background-color: var(--colour-pink);
  width: 60px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

p,
ol,
ul {
  /* max-width: 33rem; */
  font-size: 1.1rem;
}

.page-intro {
  font-size: 1.3rem;
  margin-bottom: var(--flow-space);
}

.post-date {
  padding-bottom: .5em;
  widtH: 300px;
  border-bottom: solid 1px var(--colour-grey);
  margin-bottom: .5em;
}

/* 

.post-title,
.project-title {
  font-size: 2.4rem;
}



input, 
select, 
textarea, 
button {
  font-family: inherit;
  font-size: .8rem;
}

footer p {
  font-size: .8rem;
}

.profile-description {
  font-size: .8rem;
} */
