/*
  Generic -   Typography
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */


.flow {
  --flow-space: 1em;
}  
  
.flow > * + * { 
  margin-top: var(--flow-space);
}


body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
  font-size: var(--font-size);
}

h1, h2, h3, h4, p, .page-intro {
  /* margin-bottom: 1.5rem; */
  max-width: 80%;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

/* Decoration */

h2,
h3, 
h4 {
  position: relative;
}

h2:after,
h3:after,
h4:after {
  content: "";
  height: 6px;
  display: block;
  background-color: var(--colour-pink);
  width: 60px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

p {
  /* max-width: 33rem; */
  font-size: 1.1rem;
}

.page-intro {
  font-size: 1.3rem;
}



.highlight-text {
  padding: 1rem;
  background: var(--colour-grey-light);
  border: solid 1px var(--colour-grey);
  max-width: 80%;
  /* border-left: 4px solid var(--colour-pink); */
}

.highlight-text p {
  max-width: 100%;
}



/* 

.post-title,
.project-title {
  font-size: 2.4rem;
}

.post-date {
  font-style: italic;
}

input, 
select, 
textarea, 
button {
  font-family: inherit;
  font-size: .8rem;
}

footer p {
  font-size: .8rem;
}

.profile-description {
  font-size: .8rem;
} */
