/*
  Generic -   Typography
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */


h1 {
  font-size: 2.8em;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: .8rem;
  max-width: 80%;
}


.page-intro {
  font-size: 1.5em;
  margin-top: .6em;
  max-width: 80%;
}

/* 

h2 {
  color: var(--colour-dark);
  margin-bottom: .4em;
}
  
h3 {
  color: var(--colour-dark);
  margin-bottom: .4em;
}
  
h4,
h5,
h6 {
  color: var(--colour-dark);
  margin-bottom: .4em;
}

p {
  margin-bottom: .8em;
}

.highlight-text {
  border-left: 4px solid var(--colour-bright);
  padding-left: .4em;
  font-size: 1.2em;
}

.post-title,
.project-title {
  font-size: 2.4em;
}

.post-date {
  font-style: italic;
}

input, 
select, 
textarea, 
button {
  font-family: inherit;
  font-size: .8em;
}

footer p {
  font-size: .8em;
}

.profile-description {
  font-size: .8em;
} */
