--- 
title: Pod - Component library - Cathy Dutton 
description: Patterns components and styles for cathydutton.co.uk 
layout: layouts/base.njk 
permalink: /component-library/ 
pageName: Component library 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
    Pod
    <span class="page-description">Design patterns and components</span>
  </h1>
</header>

<p class="highlight-text">
  ckmwdeg gergergge gremcflmf;m;em,le
<p>

<ul class="unordered-list">
  {% for item in components %}
    <li class="unordered-list__list-item">
      <a href="{{ item.component | lower | replace(" ", "-")}}">{{ item.component }}</a></li>
  {% endfor %}
</ul>

  {# <ul class="unordered-list">
    <li class="unordered-list__list-item">A11y buttons</li>
    <li class="unordered-list__list-item">Anchor tags</li>
    <li class="unordered-list__list-item">Buttons</li>
    <li class="unordered-list__list-item">Description lists</li>
    <li class="unordered-list__list-item">Lists</li>
    <li class="unordered-list__list-item">Navigation</li>
    <li class="unordered-list__list-item">Secondary navigation</li>
    <li class="unordered-list__list-item">Skip link</li>
    <li class="unordered-list__list-item">Social media icons</li>
    <li class="unordered-list__list-item">Tabs</li>
    <li class="unordered-list__list-item">Quotes</li>
    <li class="unordered-list__list-item">Blockquotes</li>
    <li class="unordered-list__list-item">Tabel</li>
    <li class="unordered-list__list-item">Highlight text</li>
  </ul> #}

 




