/*
  Layout - Header
  ----------------------------------- */


.wrapper--header {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto;
  align-items: center;
  /* clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 1.5rem)); */
  /* justify-items: end; */
}

.profile-image {
  width: 142px;
  height: 100px;
}

.navigation {
  justify-self: end;
}

