/*
  Layout - Header
  ----------------------------------- */


.wrapper--header {
  /* display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.profile-image {
  /* width: 142px;
  height: 100px; */
}

.navigation {
  justify-content: flex-end;
}

