/*
  Layout - Base
  ----------------------------------- */

html {
  background: var(--colour-black);
}

body {
  animation: fadeIn 2s forwards;
  transform: skewY(-0.5deg);
}

header,
footer,
section {
  padding: 1rem 0;
}

section {
  margin-bottom: 2rem;
}


/* Wrappers  */

.wrapper {
  max-width: 59rem;
  margin: 0 auto;
  transform: skewY(0.5deg);
}

.wrapper--no-container {
  padding: 0 1.5rem 2rem 1.5rem;
  max-width: 62rem;
}

.wrapper--top {
  margin-top: -10rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: var(--colour-white);
  border: solid 1px var(--colour-grey);
}

.wrapper--middle {
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-top: 2rem;
  background: var(--colour-white);
  border: solid 1px var(--colour-grey);
}

.wrapper-bottom {
  margin-top: 2rem;
  margin-bottom: -4rem;
  background: var(--colour-white);
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.wrapper--full {
  margin-top: -10rem;
  margin-bottom: -4rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: var(--colour-white);
  border: solid 1px var(--colour-grey);
}
