/*
  Layout - Base
  ----------------------------------- */

body {
  animation: fadeIn 2s forwards;
}

.wrapper {
  max-width: 58rem;
  padding: 1.25rem;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* border: solid 4px red; */
}

.header {
  padding: 1em 0;
}

.profile-image {
  width: 142px;
  height: 100px;
}

.navigation {
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end
}




.page-header {
  padding: 3.05rem 0;
  background: var(--colour-light);
  border-top: solid 1px var(--colour-medium);
  border-bottom: solid 1px var(--colour-medium);
}

main {
  /* margin: 0 2em 0 1em;;
  padding: 1em 0; */
}

footer {
  padding: 0 .4em;
}

.inner-wrapper {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
}




  

