/*
  Layout - Accessibility tools
  ----------------------------------- */

  /* .wrapper--accessibility-tools {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) ); 
    padding: 1rem 1.5rem;
    max-width: 62rem;
    /* grid-template-columns: max-content auto; */
    /* grid-template-rows: auto;
    align-items: center; */
  /* } */

