--- 
title: Sidebar navigation 
description: A look at the use of sidebar navigation systems in website design 
date: "2014-01-06"
tags: [Design] 
---

<p>Over the last few months I have found myself reading more on more about conversion rate optimisation and thinking much more about how a websites layout can help improve a users journey and encourage them to either make a purchase or an enquiry.</p>

<p>In almost all of my recent design work I have decided to use a sidebar navigation instead of the usual horizontal nav across the header of a site. The main reason for this being the side nav, when given a fixed position will remain constant as the
  user scrolls down a page ensuring all of the websites links are easily accessible at all times.</p>

<p>Another advantage of the sidebar navigation is the extra space above the fold which can now be used to display the different sides of the business, calls to action and unique selling points.</p>

<p>Below are some examples of recent designs utilising sidebars to create a clearer and easier to use website.</p>

<h3>
  <a href="http://beautifultype.net/" rel="nofollow">
    Beautiful Type
  </a>
</h3>

<div class="">
  <img alt="Beautiful Type" loading="lazy" src="/images/posts/sidebar-navigation/beautiful-type.jpg"/>
</div>

<h3>
  <a href="http://www.astrelcreative.com/" rel="nofollow">
    Astrel Creative
  </a>
</h3>

<div class="">
  <img alt="Astrel Creative" loading="lazy" src="/images/posts/sidebar-navigation/astrel.jpg"/>
</div>
