--- 
title: Sass variables and how to use them 
description: An introduction to Sass variables, including how too use them and how to name them 
date: 2014-06-18 
tags: [CSS] 
---
<p>Sass variables are used to store information that you want to reuse throughout your project. Using variables allows you to make site wide changes by adjusting just one value, making updates much simpler and quicker.</p>

<p>Despite being one of the most basic features of Sass variables are still often misused&#8230;</p>

<h2 class="heading">Good variable usage
</h2>

<pre><code>$color-primary: #ffa600;

h1{
  color: $color-primary;
}

button-checkout {
  background-color: $color-primary
}
</code></pre>

<p>A websites primary colour will be used throughout the site on buttons, links, borders etc. If the colour is updated the change can be easily rolled out across the site by changing the variables value.</p>

<h2 class="heading">
  Bad variable usage
</h2>

<pre><code>$liststyle: none;

.main-navigation {
  list-style: $liststyle;
}

.tab-list{
  list-style: $liststyle;
}
</code></pre>

<p>List elements can appear in various sections of a website for example in the main navigation, in the footer as secondary navigation, or in the site copy as a list of services or products.</p>

<p>Changing the style of one list does not necessarily mean all list styles will need to be updated. The navigation for example my be set with list-style: none; whereas the list in the websites copy may have list-style:circle;.</p>

<p>Using a variable for list-style (as above) is therefore no more efficient then simply adding the style in each use case, or by setting a default which can be over-ridden where necessary.</p>

<pre><code>ul, li {
  list-style: none;
}

.list-circle{
  list-style:circle;
}
</code></pre>

<p>Creating excess variables like this can bulk up the Sass files and although they don&#8217;t output any extra css it is better to keep variable to a minimum.</p>

<h3 class="heading">Naming
</h3>

<p>Variables need to be named in a way which makes them simple to re-use. Keep the naming convention standard, start generic getting more specific with each word if necessary. This keeps the variables easier to identify or find further down the line.</p>

<pre><code>$orange: #ffa600;
$grey: #f3f3f3;
$blue: #82d2e5;

$color-primary: $orange;
$color-secondary: $grey;
$color-tertiary: $blue;

$link-primary: $green;
$link- secondary: $blue;
$link- external: $grey;
</code></pre>

<p>Don’t be too generic with variable names. If it is not clear where the variable may have been used updating it could cause issues or prevent people from using it in the future.</p>

<h3 class="heading">Structure
</h3>

<p>Keep variables on the correct pages, site wide variables should be kept on in variables.scss in the base folder of a site. Module specific variables should be kept on the relevant modules Sass file.</p>

<p>
  <strong>Base.scss</strong>
</p>

<pre><code>$font-primary: font-family: &amp;#039;roboto&amp;#039;, sans-serif;
$font-secondary: arial, helvetica, sans-serif;
</code></pre>

<p>
  <strong>tab.scss</strong>
</p>

<pre><code>$tab-radius: 5px;
$tab-color: $grey;
</code></pre>

<p>
  <strong>Folder structure</strong>
</p>

<pre><code>@import &amp;#039;base/_variables.scss&amp;#039;;
@import &amp;#039;base/_mixins.scss&amp;#039;;
@import &amp;#039;base/_placeholders.scss&amp;#039;;

@import &amp;#039;modules/_buttons.scss&amp;#039;;
@import &amp;#039;modules/_lists.scss&amp;#039;;
@import &amp;#039;modules/_tabs.scss&amp;#039;;
</code></pre>
