--- 
title: The end of jQuery sliders 
description: A look at the jQuery banner design trend and the negative impacts on performance and information architecture. 
date: "2014-01-03"
tags: [javaScript] 
---

<p>With the current focus on conversion rate optimisation, load time and page speed it may finally be time to move away from the currently over used jQuery sliding banners.</p>

<p>Having a full width image slider has almost become standards practice over the past few years, often with poor navigation and large amounts of important content hidden from view. Not only do sliders increase page size and limit the impact of any
  calls to action used within them, they are also off putting and can have a negative effect on conversion. This view is backed up by this article
  <a href="http://conversionxl.com/dont-use-automatic-image-sliders-or-carousels-ignore-the-fad/" rel="noopener" target="_blank">dont use automatic image sliders or carousels ignore the fad</a>
  written by Peep Laja.</p>

<p>In my opinion the header area of a website can be used much more effectively with a strong and static call to action, summing up the businesses key selling point in a quick and easy to understand slogan or strap line. Having just one usp and call
  to action in place will create a much stronger message.</p>

<p>Despite this I am not completely against the use of jQuery to order content within a website. When used properly fading slides, accordions and tabs can be an effective way of displaying large amounts of text in a user friendly and intuitive
  manner. If used correctly Jquery plugins can even aid a websites conversion. In order to achieve this a clear navigation would need to be displayed ensuring that the user is in control of the content they see.</p>
