--- 
title: Optimise your CSS by taking better care of your HTML 
description: Semantic HTML for cleaner CSS, this post looks at the role HTML can play in producing more optimised CSS. 
date: "2015-01-09" 
tags: [CSS, Front end development, HTML] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/optimise-your-css-with-your-markup/
---

<p>This post looks at the role HTML can play in producing more optimised CSS. When discussing issues with CSS bloat, specificity and selector limits, focus is often drawn to the misuse of Sass. It’s true that refactoring your Sass can go a long way
  however paying attention to your website markup can be just as effective.</p>

<p>Going back to basics and creating meaningful class names could dramatically improve your website performance. Naming classes effectively can aid modular CSS coding and will therefore reduce CSS bloat and help control the number of selectors used
  (Necessary for large sites due to the IE selector limit).</p>

<h2>
  Make better use of classes
</h2>

<p>The best way to reduce selectors is to target tags individually rather then using the DOM structure as a guide. Take the following navigation example&#8230;</p>

<pre><code>&lt;nav class="navigation-main"&gt;;
  &lt;ul&gt;
    &lt;li class="navigation-main-list"&gt;&lt;a href="" class="navigation-main-link"&gt;home&lt;/a&gt;&lt;/li&gt;
    &lt;li class="navigation-main-list"&gt;&lt;a href="" class="navigation-main-link"&gt;about&lt;/a&gt;&lt;/li&gt;
    &lt;li class="navigation-main-list"&gt;&lt;a href="" class="navigation-main-link"&gt;blog&lt;/a&gt;&lt;/li&gt;
    &lt;li class="navigation-main-list"&gt;&lt;a href="" class="navigation-main-link"&gt;contact&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>

<p>
  <strong>Bad example&#8230;</strong>
</p>

<pre><code>
nav {
  width: 100%;
}

nav ul li {
  list-style-type: none;
  float: left;
}

nav ul li a {
  display: block;
  width: 120px;
  padding:10px;
  text-align: center;
  background: green;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background: grey;
  text-decoration: underline;
}
</code></pre>

<p>
  <strong>Good example&#8230;</strong>
</p>

<pre><code>

.navigation-main {
  width: 100%;
}

.navigation-main-list {
  float: left;
  list-style:none;
}

.navigation-main-link {
  display: block;
  width: 120px;
  padding:10px;
  text-align: center;
  background: green;
  color: white;
  text-decoration: none;
}

.navigation-main-link:hover {
  background: grey;
  text-decoration: underline;
}
</code></pre>

<p>In the second example the styles are not effected by the HTML structure making the code a little more future proof. We have also avoided using generic element selectors like nav, ul or li reducing the risk of effecting other areas of the website
  unintentionally. Most importantly though the second example uses significantly less selectors and will load faster as a result.</p>

<h2>
  Keep your classes semantic
</h2>

<p>Markup should also be free of specific style or grid related class names such as .eight-columns or .grid-6, classes like these have become commonplace in responsive grids and frameworks but become meaningless at smaller breakpoints&#8230;.</p>

<pre><code>@media (max-width: 480px) {
  .eight-columns {
     width: 100%;
  }
}
</code></pre>

<p>A major issue with this markup is that it restricts how a layout adapts to different screen sizes. Any element with the class .eight-columns will be forced to take on the same styles as the site responds. For example in the layout below there are
  two rows each with three blocks. As the class names will all be .four-columns there is no way to differ the behaviour of each row at tablet or mobile size.</p>

<h3>
  Why is this bad for CSS?
</h3>

<p>Lets say we wanted to change how the two rows above respond at the mobile breakpoint we would need to target them separately using parent selectors&#8230;</p>

<pre><code>@media (max-width: 480px) {
  .header .eight-columns {
     width: 100%;
  }
}
</code></pre>

<p>This introduces extra selectors and also creates DOM reliant styling making it difficult to re-use across the site.</p>

<p>A better solution would be to use class names relevant to the content for example .news-feed, .social-links or .main-cta and include the grid CSS from a mixin. Doing so has many benefits including&#8230;</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">
    Layout changes can be made in the CSS only.
  </li>
  <li class="unordered-list__list-item">
    Every row can respond individually.
  </li>
  <li class="unordered-list__list-item">
    Media queries are more logical.
  </li>
  <li class="unordered-list__list-item">
    Less selectors are used.
  </li>
  <li class="unordered-list__list-item">
    Code is easier to re-use.
  </li>
</ul>

<pre><code>.logo,
.search,
.social  {
  @include grid(span-3);
}

@media (max-width: 480px) {
  .logo,
  .search,
  .social {
    @include grid(span-12);
  }
}
</code></pre>

<h3>
  Don&#8217;t be to unique
</h3>

<p>Being too content unique with your class names can however be equally damaging. In order to successfully minimise your CSS a modular approach is needed, creating re-usable blocks of code will keep file size and selectors down as well as being
  easier to maintain.</p>

<p>Naming every element uniquely will create repetitive CSS&#8230;</p>

<pre><code>.primary-button {
 display:block;
 color:$white;
 background: $orange;
 font-size:14px;
 text-align:center;
 padding: 10px;
 width:150px;
}

.secondary-button {
 display:block;
 color:$white;
 background: $blue;
 font-size:14px;
 text-align:center;
 padding: 10px;
 width:120px;
}
</code></pre>

<p>One solution to this is would be to use @extend to copy styles, however if overused @extend can create long, messy selectors creating more issues then it solves&#8230;</p>

<pre><code>%btn {
 display:block;
 color:$white;
 font-size:14px;
 text-align:center;
 padding: 10px;
}

.primary-button {
 @extend %btn;
 background: $orange;
 width:150px;
}

.secondary-button {
 @extend %btn;
 background: $blue;
 width:120px;
}
</code></pre>

<p>The CSS output here will be&#8230;</p>

<pre><code>.primary-button,
.secondary-button  {
 display:block;
 color:$white;
 font-size:14px;
 text-align:center;
 padding: 10px;
}

.primary-button {
 background: $orange;
 width:150px;
}

.secondary-button {
 background: $blue;
 width:120px;
}
</code></pre>

<h3>
  A better way
</h3>

<p>Using a Base Class and a Modifier Class in your markup is a much cleaner way to re-use styles, reduce selectors and keep file size down&#8230;</p>

<pre><code>&lt;a class="button primary-button"&gt;&lt;/a&gt;
&lt;a class="button secondary-button"&gt;&lt;/a&gt;
</code></pre>

<pre><code>.button {
 display:block;
 color:$white;
 font-size:14px;
 text-align:center;
 padding: 10px;
}

.primary-button {
 a: $orange;
 width:150px;
}

.secondary-button {
 background: $blue;
 width:120px;
}
</code></pre>

<p>In this example styles from the base class are re-used without creating long selectors. Styles can also be easily adapted using the modifier class without the need to use !important or to add specificity with a parent selector.</p>
