--- 
title: Designing digital forms 
description: Digital transformation provides organisations with the perfect opportunity to redesign legacy paper forms making it quicker and simpler for users to achieve their goal. However, as well as opportunity, creating a digital experience can also introduce new problems, after all paper forms do have some advantages over their digital replacements. 
date: "2018-09-05"
tags: [Design] 
---
<p>Every day more and more users interact with businesses and organisations online, to register for a service, book an appointment, apply for a licence or to submit information. Often these digital services are direct replacements for legacy paper
  based services.</p>

<p>This digital transformation provides organisations with the perfect opportunity to redesign these legacy forms making it quicker and simpler for users to achieve their goal. However, as well as opportunity, creating a digital experience can also
  introduce new problems, after all paper forms do have some advantages over their digital replacements.</p>

<p>Benefits of paper forms:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">They can be read from beginning to end allowing users to understand exactly what's expected of them before they begin</li>
  <li class="unordered-list__list-item">They can be re-visited and/or part completed allowing users to gather information they may not have had to hand (without a complex save and return or password feature)</li>
  <li class="unordered-list__list-item">They can be filled out in the order of the user's choosing</li>
  <li class="unordered-list__list-item">They can be edited/checked before submission</li>
</ul>

<p>For all of these reasons and more the structure and question sequence of online forms is hugely important.
</p>

<h2>Form structure</h2>

<p>A well-thought-out form should flow naturally in the same way that a conversation would. Each new question put to the user should relate to the information they've already provided and progress in logical steps. The form should also flow from
  topic to topic, not jump sporadically from service choices to requests for user information.
</p>

<p>In most cases a form can be split into two topics:</p>

<h4>1) The service - options relating to the service the user requires.</h4>

<p>For example:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">“When would you like your licence to start?”</li>
  <li class="unordered-list__list-item">“Where will the activity tke place?”</li>
  <li class="unordered-list__list-item">“What type of cover are you looking for?”</li>
</ul>

<h4>2) The user - information about the user required either by the organisation or to identify available products.</h4>

<p>For example:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">“How can we send you your licence details?”</li>
  <li class="unordered-list__list-item">“What is your date of birth?”</li>
  <li class="unordered-list__list-item">“Do you have Blue Badge?”</li>
</ul>

<h2>So, which should come first: the user or the service?</h2>

<h3>1) Service first</h3>

<p>In a well designed service the user and their needs should always come first, therefore the form should aim to focus on the user's' end goal. Any additional questions should come at the end.</p>

<div class=" --thin">
  <img data-src="/images/posts/designing-digital-conversations/service-first.jpg" class="lazyload" alt="Service first diagram">
</div>

<p>There are many benefits to this approach, including:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Addressing the needs of the user before that of the service</li>
  <li class="unordered-list__list-item">Opening the form with expected questions, making it quick and easy for experienced or return users to complete</li>
  <li class="unordered-list__list-item">Creating a simplified journey by only asking the questions required for the selected product or service.</li>
</ul>

<p>However there are also some drawbacks to opening the form with product related questions including:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">We lose the opportunity to provide guidance for new or inexperienced users</li>
  <li class="unordered-list__list-item">Users may be making ill-informed decisions</li>
  <li class="unordered-list__list-item">Users could be presented with options they are not eligible for</li>
</ul>

<figure class="quote">
  <blockquote>
    "I don't know which option is right for me?"
  </blockquote>
</figure>

<h4>Example</h4>

<p>Online booking forms are great examples of this service first approach with the user's end goal of booking an appointment being addressed first. Although the service will still need to collect the users details to complete the booking, these are
  only necessary if a suitable time slot is found, and so are placed at the end of the form.</p>

<div class=" --medium">
  <img data-src="/images/posts/designing-digital-conversations/online-booking.jpg" class="lazyload" alt="Online booking">
</div>

<h3>2) User first</h3>

<p>Sometimes the services or products available are determined by the user. In these situations, we first need to collect information from users in order to create the best user journey.</p>

<div class=" --thin">
  <img data-src="/images/posts/designing-digital-conversations/user-first.jpg" class="lazyload" alt="User first diagram">
</div>

<p>The benefits of first determining who the user is include:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">The ability to guide users, ensuring they get the best product or service for them
  </li>
  <li class="unordered-list__list-item">Determining which products or services the user is eligible for before displaying them</li>
  <li class="unordered-list__list-item">Displaying accurate price points if there are age-related discounts</li>
  <li class="unordered-list__list-item">Asking simple questions before questions that may require thought, for example starting with "What is your name?"</li>
</ul>

<p>This approach however also has some drawbacks, including:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">It could be unclear why all questions are are being asked</li>
  <li class="unordered-list__list-item">Some questions about the user could be product-specific</li>
</ul>

<figure class="quote">
  <blockquote>
    "This form wants to know so much about me, but I know nothing about it."
  </blockquote>
</figure>

<h4>Example</h4>

<p>By starting with requests for some basic user information, accurate product descriptions and pricing can be displayed. This creates a more open and honest experience for both new and experienced users.
</p>

<p>In the example below users are informed that they have qualified for a senior discount, and are clearly shown the cost of each licence.</p>

<div class=" --thin">
  <img data-src="/images/posts/designing-digital-conversations/licence-details.jpg" class="lazyload" alt="Display licence costs">
</div>

<h2>How do you determine the best way?</h2>

<p>There is no one right way; each form will have a different set of criteria to work with, resulting in pros and cons for each approach. The key is to prototype multiple question sequences and, most importantly, test them with real users.</p>

<p>A good first step in working out the best question sequence for an online form is to write each individual question onto a card or post-it note. These can be moved around quickly into as many different orders as possible. This is also a good time
  to reassess the need for each question in the form (every question put to users should be justifiable and have a clear benefit to the user).</p>

<p>Try to identify the key questions that would cause the journey too branch, for example 'Date of birth' if there are age restrictions on certain products.</p>

<div class=" --thin">
  <img data-src="/images/posts/designing-digital-conversations/card-sort.jpg" class="lazyload" alt="Card sorting exercise">
</div>

<p>Experiment by mapping out possible user journeys using the key questions you identified as starting points. Use colour-coded post-it notes to highlight positive and negative aspects for each user journey in each sequence.</p>

<div class=" --thin">
  <img data-src="/images/posts/designing-digital-conversations/user-flows.jpg" class="lazyload" alt="User journey mapping">
</div>
<p>Things to look out for include:</p>

<h4>Efficiency</h4>

<p>The form should be quick, intuitive and easy to follow. Get users to their end goal as quickly as possible with minimal disruption. Where possible this should be achieved for all users and all products, however you may have to optimise the
  sequence for the most popular user journey.</p>

<h4>Price</h4>

<p>The price of a product or service is one of the most influential decision drivers. The cost implications of a decision should be clearly displayed, particularly if the user is inexperienced or new to the service. By adding prices to service
  options, users can make quicker, more informed decisions and have more confidence in the choices they make. The service also becomes much more transparent with no nasty surprises at the end.</p>

<h4>Consistency and familiarity</h4>

<p>The question sequence should remain consistent across journeys to aid return or repeat visitors and to build a sense of familiarity. The experience of buying for the first time should not be alien to that of upgrading or renewing a product.</p>

<h4>Future-proofing</h4>

<p>Building on the above point, the sequence should look to incorporate possible future enhancements. It is helpful to have an idea of the full service road-map to ensure you don't need to re-shuffle large sections of a form to include a new product.</p>

<h3>In summary</h3>

<p>Digital transformation has the potential to bring huge improvements to services, making them more inclusive, accessible, efficient and cost effective. However simply re-creating paper forms online will not automatically add value to a service.</p>

<p>As previously discussed if you get a digital interaction wrong it can make a service more difficult for users to interact with, points of contact are lost, technology barriers are introduced and guidance can be difficult to find.</p>

<p>The way questions are asked, the flow of a conversations, the information present to guide users are essential components in making digital forms work.</p>
