--- 
title: ????????
description: fggdgggfggggf gdgdfg
date: "2019-11-22" 
tags: [Design, CSS, Front end development] 
---
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>



<p>One of the first things I learned to do as a web designer was disable native behaviour for anchor tags. </p>

I was using workarounds before I even understood what was wrong with the text-decoration property and its values.</p>

<p>The first workaround I used was the border-bottom property.</p>

<pre>
  <code>
  a {
    text-decoration: none;
    border-bottom: solid 1px hotpink;
  }

  a:hover {
    border-bottom: 0;
  }
  </code>
</pre>

<h2>Border</h2>

<p>The border property provided options for switching the line colour, thickness and style as well as adding options to transition the hover effect.</p>

<p>One thing missing with border-bottom is the handling of descendants meaning letters like ‘g’ and ‘j’ are cut through by the border.</p>
  
<p class="codepen" data-height="300" data-theme-id="8492" data-default-tab="css,result" data-user="cathydutton" data-slug-hash="qBBwvmB" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Anchor tag - default and border styling">
  <span>See the Pen <a href="https://codepen.io/cathydutton/pen/qBBwvmB">
  Anchor tag - default and border styling</a> by Cathy Dutton (<a href="https://codepen.io/cathydutton">@cathydutton</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>


<p>I got around the issue with descendants by using box-shadow set to the same colour as the background.</p>

<pre>
  <code>
    a {
      color: #1e1e1e;
      text-decoration: none;
      border-bottom: solid 1px hotpink;
      text-shadow:
        -2px -2px white,
        -2px 2px white,
        2px -2px white,
        2px 2px white;
    }

    a:hover {
      border-bottom: 0;
    }
  </code>
</pre>



<p class="codepen" data-height="300" data-theme-id="8492" data-default-tab="css,result" data-user="cathydutton" data-slug-hash="oNNOVjN" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Anchor tags - better border styling">
  <span>See the Pen <a href="https://codepen.io/cathydutton/pen/oNNOVjN">
  Anchor tags - better border styling</a> by Cathy Dutton (<a href="https://codepen.io/cathydutton">@cathydutton</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>


<p>But this quickly became problematic, it only works for links on a white background but needs to be altered for darker backgrounds making it more difficult to implement across large code bases or more complex colour palettes.</p>

<p>It also takes away some of the reasons for using border in the first palce.</p>


<h2>Background images</h2>

<p>I briefly used background images for anchor tags and hover states, they opened up more posabilities for animation, gradients, ....,.... etc</p>


<p>IMAGE EXAMPLE</p>

<p>IMAGE EXAMPLE MORE CREATIVITY</p>


<p>Performance and also scle issues.</p>





<p>https://www.cassie.codes/</p>
<p>https://codepen.io/cassie-codes/pen/rNNGdmw</p>

<p>This frees up a lot of posabilities ….</p>

<p>But performance??</p>


<p>At the moment i've setled on ..... my current links.</p>

<h2>Navigation</h2>

<p>For secondry or footer navagation I try to make a clear distinction from links within a body of text.</p>

<p>At the moment I'm using psuedo ::before and ::after elements to create a bolder line with animation on hover.</p>


<p class="codepen" data-height="300" data-theme-id="8492" data-default-tab="css,result" data-user="cathydutton" data-slug-hash="QWWajKX" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Footern navigation old">
  <span>See the Pen <a href="https://codepen.io/cathydutton/pen/QWWajKX">
  Footern navigation old</a> by Cathy Dutton (<a href="https://codepen.io/cathydutton">@cathydutton</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

There are more reative posabilities with this aproach too using the transform properties. One of my favourate examples is <a href="https://stephaniewalter.design/">Stephani Walter's website</a>


 
<p>ENDING PARA - Work around like this are common in CSS when the options properties and values available do not meet the requirements of a design.</p>
 

<h3>Now - new text-decoration properties</h3>

<p>New CSS properties and values mean we can use the intended properties to style anchors.</p>
<p>New props = offset, thicknes, colour, text-decoration-skip-ink, text-decoration-style - OLD!!!</p>
<p>text-decoration-skip-ink auto by defualt (browser decides based on ???? - SKIP - means always skip - None - to move it up and create nice effect),</p>
<p>New features</p>

<p>Correct properties mean you can have both, you lose the animated underline colour that I like</p>

<p>You can also do strike throughs now - is this better</p>

<p>You can’t have the line breaks for h’s and the thickness and distance.</p>

<p>Browser support</p>

<h3>Further reading &amp; watching</h3>

<ul class="unordered-list">
  <li class="unordered-list__list-item">https://codepen.io/jensimmons/pen/voYMPE?editors=1100</li>
  <li class="unordered-list__list-item">https://codepen.io/collection/XgGLMO/</li>
  <li class="unordered-list__list-item">https://www.youtube.com/watch?v=sZS-7RX_c7g&feature=youtu.be</li>
</ul>









