--- 
title: Starting small
description: Reflecting on setting up a User Centred Design Community of Practice (COP) for a small team at Defra’s Warrington digital hub
date: "2019-07-08" 
tags: [Design] 
---

<p>How do you build a community with small numbers of people in different roles with various work patterns?</p>
<p>At our Warrington digital hub there are currently 3 Interaction Designers, 4 User Researchers and one Content Designer. And until recently there was no local Community of Practice (COP) in any of these areas.</p>

<h2>Why not? Barriers to setting up the community</h2>

<p>There can be a lot of barriers to running a successful COP with a small team.</p>

<h3>People</h3>

<p>A successful community needs people in the same place who are able to have face to face discussions, share ideas and show work. In smaller digital hubs or remote locations this can be difficult to achieve.</p>

<h3>Time</h3>

<p>Project work is the priority and can be all consuming for people working in small agile teams.</p>

<h3>Locations</h3>

<p>Although we share the same base location, research and design roles often take people out and about on research trips, conferences and cross government meet-ups. There's also working from home days and people’s differing core hours to consider.</p>

<h3>Pressure</h3>

<p>In small communities there can be a sense of pressure to attend and contribute. Either to organise and run the community or to deliver presentations or workshops. There can also be pressure from outside the community to deliver ‘something’ to justify the time away from projects.</p>

<h3>Topics</h3>

<p>Communities could become alienating for some people. Particularly if they don’t relate to the chosen topics of discussion or are unable to influence or input into the decisions.</p>

<div class=" --medium">
  <img src="/images/posts/starting-small/cop-warrington2.jpg" loading="lazy" alt="Cathy Dutton with Warrington COP colleagues">
</div>

<h2>Removing these barriers</h2>

<p>To kick off the new community we tried to remove some of these barriers.</p>

<h3>Be open and inclusive</h3>

<p>Firstly we opened the community to everyone working in User Centred Design roles:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">User Researchers</li>
  <li class="unordered-list__list-item">Interaction Designers</li>
  <li class="unordered-list__list-item">Content Designers</li>
  <li class="unordered-list__list-item">Service Designers</li>
</ul>

<p>More people equates to better, more varied discussions and ideas.</p>

<h3>Empower everybody</h3>

<p>We collectively decided on what the COP should be for, what day we should meet and what our aims should be. We included everybody in this discussion - to make sure we accommodated each individual’s working patterns and project days.</p>

<h3>Keep it casual</h3>

<p>We decided to run the community without an agenda. The hope is that this will remove the pressure to have ‘done something’ or prepare a pre-set topic. Keeping sessions conversational ensures each member has a voice and an opportunity to suggest a discussion. It also makes it easier to adapt sessions based on the attendees.</p>

<h3>Keep it frequent</h3>

<p>We decided on a Tuesday slot at 1pm on alternating weeks, to align to each team’s sprint planning and retro days. Having a meeting every 2 weeks means there are plenty of opportunities to share work without a build-up developing. It also means that if you miss a meeting there's another one just around the corner.</p>
<h3>Have guidelines</h3>

<p>Finally we borrowed some community guidelines from a cross-government design system meet up run by the GOV.UK design system team.</p>
<p>That it’s ok to:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">not be available</li>
  <li class="unordered-list__list-item">have the meet up without everybody present</li>
  <li class="unordered-list__list-item">catch up on things you missed outside of the designated community hour</li>
  <li class="unordered-list__list-item">have nothing to update or input</li>
</ul>

<h2>Future plans for the community</h2>

<p>Right now we are finding common goals and areas of interest to look into. But as the community grows, it may become more difficult to continually generate discussion ideas on the fly.</p>
<p>When this happens we plan to use the findings of other larger COP and move towards a more objective-based approach. We also plan to trial a weekly meet up and experiment with assigning community roles.</p>




