--- 
title: Achieving Vertical Alignment (Thanks, Subgrid!)
description: Our tools for vertical alignment have gotten a lot better as of late. My early days as a website designer involved laying out 960px wide homepage designs and aligning things horizontally across a page using a 12-column grid. Media queries came along which required a serious mental shift. It solved some big problems, of course, but introduced new ones, like dealing with alignment when elements wrap or are otherwise moved around in the layout. 
date: "2020-09-30" 
tags: [Design, CSS] 
pageName: Blog
postURL: https://css-tricks.com/achieving-vertical-alignment-thanks-subgrid/
---

<p>Read on
  <a href="https://css-tricks.com/achieving-vertical-alignment-thanks-subgrid/" class="anchor">CSS tricks</a>
</p>