--- 
title: Designing whole services
description: How to organise and structure service design in a large organisation. A write up after a talk at Governments discuss a design challenge.
date: "2021-11-08" 
tags: [Design] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/design-for-the-unexcpected/
---

<p>A follow-up to <a href="https://cathydutton.co.uk/posts/a-space-for-service-design/">a space for service design</a>.
</p>

<p>
The first Government project I worked on was a licensing service. As part of the project, the license numbers were updated. That change stopped users from being able to log into a different but related service. 
</p>

<p>
In summary, our service had broken someone else’s service.
</p>

<p>
I’ve seen loads of examples of similar issues over the last 5 years. Usually the result of designing parts of services or single interactions in isolation.
</p>

<p>So how can we start to design whole services as a user would define them? 
</p>

<figure class="quote">
  <blockquote>
    If your business was making chairs, you’d hire a furniture designer - government needs service designers to design the services it provides
  </blockquote>
</figure>

<p>The logical place to start would be to hire some service designers. I’m a little wary of this though, service designers aren’t a magical quick fix.
</p>

<p>For example, adding service designers to the product teams we already have won’t help us change the things we design. Instead, we will create a lot of overlap with existing UCD roles working in the same spaces.
</p>

<p>There are other things to resolve too like:
</p>

<p><b>What is a service?</b> Can we define it consistently across the department?
</p>

<p><b>What do service designers Do?</b> We need to define what service designers do in a way none designers understand and a way that highlights the difference between service design and interaction design. 
</p>

<p><b>What projects do service designers work on?</b> We need to create the right spaces or teams for service designers to work in.
</p>

<p><b>How can we increase our service design capabilities?</b> Hiring service designers is hard especially with the money on offer outside of Government. We need a way for existing Civil Servants to move into the role. 
</p>


<h2>What is a service?</h2>

<p>Starting with what is a service. We need to be much clearer on what we class as a service and what is a part of a service. In the example, I mentioned at the start both things were called services, but none of them should be.
</p>

<p>A service should be something that helps someone to do something or achieve a goal. A service is not a form, a portal, a microsite, or a permit. These are smaller things people need to do to complete a larger task.
</p>

<p>For Defra, it’s things like managing my farm and going fishing.
</p>

<p>These services include smaller interactions that build-up to one goal like buying a fishing license, submitting catch returns, and having a license checked at the river bank.
</p>

<p>I know a lot of this has been discussed many times in the past but we still have a habit of calling everything a service. And that is one of the biggest blockers to changing how we work.
</p>

<p>So inspired by Paul’s work at DVSA we’ve been trying to define the different things we deliver.
</p>


<p>So far we have:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><b>A component</b> - which is a single thing that could be used on multiple products and services </li>
  <li class="unordered-list__list-item"><b>A Product</b>  - which is a single interaction by a user with the organisation, usually one step in a larger user journey 
</li>
  <li class="unordered-list__list-item"><b>A Service</b> - A service has multiple touch-points or interactions and that’s where a service designer should be.
</li>
</ul>

<figure id="figure1">
<img src="/images/posts/designing-whole-services/product-types.jpg" loading="lazy" alt="omponent, Product and Service diagram">
<figcaption>Component, Product and Service diagram</figcaption>
</figure>

<p>We also have a collection of services together that makeup ‘a whole service’ or programme of work.</p>

<p>
Whole Services like this transcend delivery or product teams and even organisations. This is where we could use a principal service designer.</p>

<p>
We've also got a collection of products that don't make up one whole service, like our permitting programme.
A collection of products would still benefit from consistency in design and approach but that’s probably more interaction design then service design.
</p>

<figure id="figure2">
<img src="/images/posts/designing-whole-services/programmes-of-work.jpg" loading="lazy" alt="Whole service and collection of products diagram">
<figcaption>Whole service and collection of products diagram</figcaption>
</figure>

<h2>What do service designers do?</h2>

<p>Now we can define the projects service designers work on we need to clearly describe what service designers do to people who don’t have a background in design.
</p>

<p>I think some of the biggest misconceptions about service designers are that:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">They work in the Discovery phase
</li>
  <li class="unordered-list__list-item">They design the ‘end-to-end journey’ of a single transaction or interaction
</li>
  <li class="unordered-list__list-item">They are responsible for mapping out existing services</li>
    <li class="unordered-list__list-item">They do the offline or ‘none website’  things
</li>
</ul>

<p>
Definitions like this don’t help to differentiate the role from other UCD disciplines which makes it hard to explain and therefore sell the value service designers bring.
</p>

<p>
So I tried to find a way of defining what service designers do based on the spaces they work in not tasks they might do.
</p>


<p>One of the best definitions I found is this one…
</p>

<figure class="quote">
  <blockquote>
The majority of products that we encounter are actually part of a larger service network. In some cases, those touchpoints have been designed. But in many cases, they have just happened organically, with no thought for the whole picture. That’s where service design comes in.
  </blockquote>
   <figcaption>Andy Polaine, Lavrans Løvlie, and Ben Reason - <cite>Service design: From Insight to Implementation</cite></figcaption>
</figure>


<p>I think this relates to a lot of government services that are already in existence and formed organically around the organisation's structure, data sets, or funding silos.
</p>

<p>Another definition I like  is problem framing, leaving the problem-solving part to Interaction design:
</p>

<figure class="quote">
  <blockquote>
look at new upcoming initiatives, customer problems, and goals and to be able to identify what should / should not be worked on as well as ensure all the dots across the business are connected
  </blockquote>
  <figcaption>Andy Ireland - <cite>How service design is improving our ways of working</cite></figcaption>
</figure>


<p>This relates to the upfront work needed to shape future projects making sure we solve the right problems.
</p>

<p>The definition we are using now builds on these two quotes.
</p>

<figure class="quote">
  <blockquote>
  A service designer makes sure we design and deliver the right service. They work in programme teams that may support multiple product teams.  They also work in the space before Discovery shaping and scoping future work.
  </blockquote>
</figure>


<p>This definition helps us to focus more on the spaces and teams that service designers operate in instead of the skills they might have.
</p>

<h3>Project scoping 
</h3>

<p>When a project reaches Discovery a lot of key decisions have already been made.
</p>

<p>Service design has generally been bought in at Discovery or even Alpha stages so we are playing catch up which can be considered disruptive if we start to challenge some of those decisions.
</p>

<p>The Project scoping phase is about making sure we solve the right problems and focus any resulting Discoveries on outcomes, not solutions or technology.
</p>

<h3>Programme teams</h3>


<p>The second part of the description and the biggest part is programme teams. Services as end-users would understand them are bigger than any 1 delivery or product team. So a service designer should work across multiple delivery teams.
</p>

<p>This will  help us to:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Solve problems that sit outside the normal remit of interaction designers on delivery teams
</li>
  <li class="unordered-list__list-item">Build context and understanding of end-users lives
</li>
  <li class="unordered-list__list-item">Highlight organisational and structural issues that prevent good service design
</li>
</ul>

<h2>Where do services designers work?</h2>

<p>The definition starts to answer this question for us, but the projects also need to be right.</p>

<p>A service designer on their own won't change anything. We need stakeholder buy-in and a whole team approach for things to really work.
</p>


<h3>Scoping projects
</h3>

<figure id="figure3">
<img src="/images/posts/designing-whole-services/pre-discovery.jpg" loading="lazy" alt="re Discovery diagram">
<figcaption>Pre Discovery diagram</figcaption>
</figure>

<p>Last year we got the perfect brief to get a service designer involved in some upfront work.
</p>

<p><q>
We want to find out how we can deal with outbreaks of disease in trees and plants more effectively and more efficiently.
</q></p>


<p>They joined a pre-discovery team for 3 months, these projects traditionally have a Project Manager a BA, and an Architect.
</p>

<figure id="figure4">
<img src="/images/posts/designing-whole-services/before-pre-discovery.jpg" loading="lazy" alt="Before Pre Discovery diagram">
<figcaption>Before Pre Discovery diagram</figcaption>
</figure>

<p>The first thing we learned was that there are a lot more steps before the before stage. People had been working on the project for months and already had ideas about the solution and the technology.
</p>

<p>It was an intense 3 months trying to push back on that approach whilst also trying to understand how the organisation worked and where the opportunities were.
</p>

<p>The resulting programme of work did end up with probably the best service design brief I’ve had. I was asked for a service designer to help them improve outcomes through the re-design of the user-facing service, business processes, and better collaboration across systems.
</p>

<p>I hope this brief was the result of the pre-work done. 
</p>

<p>We want to do much more of this type of work but there are a couple of challenges including:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><b>Recruitment</b> - It’s always hard to get someone in for short 3 month contracts
</li>
  <li class="unordered-list__list-item"><b>Knowledge transfer</b> - There’s a natural gap between this phase one any discovery work meaning we lose the Service designer and the knowledge and trust they built up
</li>
</ul>

<p>Long term we could address these issues with a permanent shaping or scoping service design role. We should be able to make that happen if we can prove this type of work is a recurring thing.
</p>

<h3>Programme teams</h3>

<p>We have also been positioning service designers outside of project teams into the programme space. We started with a trial and the aim of proving that having someone work across teams would help us to deliver more joined-up services and work on areas deemed out of scope for the current project teams.
</p>

<p>Some of the challenges we faced with this work include:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><b>Funding</b>- We didn't charge for the first 6 months but after that, we had to work out how a role that sits across teams is funded
</li>
  <li class="unordered-list__list-item"><b>Service ownership</b> - Organisations are not always structured around user-facing services, so finding someone responsible for the whole service is tricky
</li>
<li class="unordered-list__list-item"><b>Uncertainty</b> - The role needs someone who is comfortable with a lot of uncertainty, by working across teams there can be a lack of structure and guidance 
</li>
</ul>

<p>We got some really positive feedback from the programme who said the last 12 months had helped them identify:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Individual service improvement requirements
</li>
  <li class="unordered-list__list-item">Gaps in their combined service offering
</li>
<li class="unordered-list__list-item">And collective developments that they need to implement across their estate
</li>
</ul>

<p>The next step for this piece of work is to support the organisation to hire their own permanent service designer and have them embedded into their leadership team without losing the connections to the service design community.
</p>

<p>Off the back of that work, we are hiring 2 permanent principal service designers to work across our Farming and Trade portfolios. 
</p>

<h2>How do we increase our Service design capability?</h2>


<p>Hiring Service designers is probably the most difficult part of my job. At the moment we have:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Practitioner roles at G6 to look across the whole service 
</li>
  <li class="unordered-list__list-item">Senior roles at G7 working on services 
</li>
</ul>

<p>We rely on contractors to fill gaps whilst we try to grow the permanent team. This is something we might always need to do to help upskill existing team members.</p>

<figure id="figure5">
<img src="/images/posts/designing-whole-services/career-progression.jpg" loading="lazy" alt="Career progression diagram">
<figcaption>Career progression diagram</figcaption>
</figure>

<p>We want to create a structure where designers can move from interaction to service and are thinking of starting out with more generic design roles at junior level so people can experience both disciplines.
</p>

<p>We are also looking at creating a pathway for people to move sideways into service design from other roles like content design. 
</p>






