--- 
title: Designing for the unexpected 
description: A design quote that has always stayed with me is this "Your company's survival is tied to the ability of the products it makes to work in situations you haven’t imagined, and on devices that don’t yet exist" but how can we put that into practice?
date: "2021-07-15"
pageName: Blog
postURL: https://alistapart.com/article/designing-for-the-unexpected/
---

Post written for A list Apart 

<a href="https://alistapart.com/article/designing-for-the-unexpected/" class="anchor">Designing for the unexpected</a>

