--- 
title:  A space for Service design
description: A follow-up to blurred lines and job titles this time looking at some of the crossovers and myths around Service design in Government. 
date: "2021-04-26" 
tags: [Design] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/a-space-for-service-design/
---


<p>In April 2019 I wrote <a href="https://cathydutton.co.uk/posts/blurred-lines-and-job-titles/" title="Blurred lines and job titles" class="anchor">blurred lines and job titles</a>. It was about the blurred lines between design and front-end development roles as well as constantly changing job titles.</p>

<p>I focused on what was a hot topic at the time thanks to the post <a href="https://bradfrost.com/blog/post/frontend-design/" title="frontend design" class="anchor">Front end design</a> by Brad Frost.</p>

<p>Brad’s post matched my career almost perfectly, switching between user experience design and front-end development but never feeling completely at home in either role.</p>

<p>The short version is I ended up an Interaction designer, and everything clicked into place. </p>

<p>That was then.</p>

<p>In the post I stopped at Interaction design, I could have gone one to talk about the emerging crossover in my working world between Interaction design and Service design. </p>

<p>At the time I felt under qualified to comment on Service design as a role in Government (I still do actually). But the definition of each role is becoming more and more ingrained in my day-to-day job. </p>

<h2>That's my job!</h2>

<p>Hard lines and ring-fenced tasks or roles create resentment quickly, nobody likes being told what they can or can’t get involved with.</p>

<p>A lot of my early experiences of Service design in Government were people talking about end-to-end journeys, offline channels, and joining things up. None of this was stuff I hadn't thought about before as an Interaction designer. </p>

<p>The emergence of the Service design role rightly or wrongly created a little bit of fear, fear of becoming just that person that builds the prototypes. </p>

<p>The DDaT definitions define the two design roles like this:</p>

<figure class="quote">
  <blockquote>
“An interaction designer works out the best way to let users interact with services, in terms of both overall flow and at the level of individual design elements.”
  </blockquote>
</figure>
<figure class="quote">
  <blockquote>
“Service designers design the end-to-end journey of a service. This helps a user complete their goal and government deliver a policy intent. Their work may involve the creation of, or change to, transactions, products and content across both digital and offline channels provided by different parts of government.”
  </blockquote>
</figure>


<p>These two definitions are quite similar which can lead to a lot of people announcing they do both. Or one of my favorite and probably more accurate descriptions occasionally wearing a Service design hat. </p>

<p>This is not necessarily a problem on its own, but it is a problem when you need to clearly explain the roles to none designers, create job descriptions, and recruit people. </p>

<p>It’s also hard to sell something that we can’t pin down and we are definitely still in the selling phase.</p>

<h3>Service design and Interaction design</h3>

<p>A lot of jobs I see are looking for Service designers to join a Discovery phase, or to design the end-to-end journey of a single transaction. </p>

<p>Firstly Interaction design is an acceptable role to have in Discovery, there are fairly obvious benefits to the person doing the design being involved in understanding the problem their design will aim to fix.</p>

<p>Despite this there are still requests for Service designers to do a Discovery piece of work, I assume to later hand over to Interaction designers at Alpha? There's that fear of being the ‘prototype builder’ again.</p>

<p>Secondly, if the project is a single transaction like applying for a permit ‘end to end’ is still mostly Interaction design. There’s no designing of touchpoints or understanding relationships across team or organisational boundaries. </p>


<h3>Service design and User research</h3>

<p>A lot of the Service design CV’s I get have User research roles on them as well. It sometimes feels like those two roles are more closely linked than the two design roles.</p>

<p>This is also probably due to the link that’s been made between Service design and Discovery work. When Service designers work on already scoped discoveries there will be a lot of overlap. But is that where they should be?</p>

<p>If Discovery is the stage where teams start exploring a problem space, someone somewhere will have already made decisions about what the problem to be solved is. This is the part where I think Service designers can add more value, working outside of the research space before Discovery to understand the relationships between existing services and processes highlighting inconsistencies, inefficiencies, dependencies, pain points, dead ends, etc. And then helping teams identify what should or shouldn’t be worked on.</p>

<p>To put it simply Service designers help scope out the problems to solve. User research’s lead on understanding those problems and what needs to be done to resolve them. </p>

<h3>Service design and Business analysis</h3>

<p>Probably the most controversial of the areas Service design could overlap, and one I’ve had more than a few conversations about over the past 8 or 9 months.</p>

<p>For what it’s worth I think Business analysts and Service designers can work really well as a pair each bringing a different lens to crossover tasks like mapping for example.</p>

<p>Some of the issues raised have been specifically about mapping and in particular who is responsible for mapping as-is or to-be journeys.</p>

<p>As much as I understand the links between Service design and mapping it might help if we could do more to articulate why maps are produced and emphasise the service prototyping and touchpoint design elements of the role. </p>

<p>There will always be crossover tasks with many other roles because Service design is horizontal looking sideways across multiple pieces of work, picking up tasks deemed out of scope for delivery teams. </p>

<p>We can reduce the friction with clearer descriptions of what Service designers do and more importantly the spaces they operate in. </p>

<h2>Back to definitions</h2>

<p>Could we do better with the definition of Service design? And would that help us to more clearly differentiate the role from User research, Interaction design, Business analysis, and others?</p>

<p>I started trying to list out responsibilities of Service designers in the Discovery, Alpha, and Beta phases, something we’d already done for Interaction design, but it wasn't really making things any clearer or easier to sell.</p>

<p>That's probably because Service design doesn't fit neatly into that delivery cycle.</p>

<p>One of my favorite Service design definitions is this:</p>

<figure class="quote">
  <blockquote>
The majority of products that we encounter are actually part of a larger service network. In some cases, those touchpoints have been designed. But in many cases, they have just happened organically, with no thought for the whole picture. That’s where service design comes in.
  </blockquote>
   <figcaption>Andy Polaine, Lavrans Løvlie, and Ben Reason - <cite>Service Design: From Insight to Implementation</cite></figcaption>
</figure>


<p>This relates to a lot of government services that are already in existence and formed organically around the organisation's structure, data sets, funding silos, etc.</p>

<p>Another is problem framing leaving the problem solving to Research, Content, and Interaction design:</p>

<figure class="quote">
  <blockquote>
look at new upcoming initiatives, customer problems, and goals and to be able to identify what should / should not be worked on as well as ensure all the dots across the business are connected
  </blockquote>
  <figcaption>Andy Ireland - <cite>How Service Design is improving our ways of working</cite></figcaption>
</figure>


<p>This relates to the upfront work needed to shape future projects to be worked on as well as making sure everything we do ties in to what has already gone before and a shared program vision or goal.</p>

<p>Using these two areas we can start to describe what Service designers do outside of the usual Discovery, Alpha, Beta phases.</p>

<h2>Service design in Defra</h2>

<p>So this is where we are now.</p>

<p>A Service designer makes sure we design and deliver the right service. They work in program teams which may support multiple product teams. They also work in the space before Discovery shaping and scoping future work.</p>

<p><b>Program teams:</b></p>

<p>Services as end-users would know them transcend delivery or product teams. Service designers work across a program of work to design the interactions and building blocks that make a service. </p>

<p><b>Project scoping:</b></p>

<p>This stage is about establishing the problem/costs/issues that you want to look at including the people and skills you are likely to need for Discovery. A Service designer will work with the business and policy upfront to understand what we have, define the problem(s) to be solved, and the desired outcome(s).</p>

<p>This breakdown made it easier to define tasks and responsibilities for each project type.</p>
 
<h3>Feasibility study or Pre-discovery</h3>

<p>Working alongside Policy, Business analysis and Architecture to understand the main business drivers, problems to be solved, and desired outcomes before moving to Discovery. </p>

<p>A Service designer will:</p>
<ul class="unordered-list">
<li class="unordered-list__list-item">identify the main business drivers </li>
<li class="unordered-list__list-item">gather existing insight about the users of any current service and high-level pain points </li>
<li class="unordered-list__list-item">gather existing insight about user needs</li>
<li class="unordered-list__list-item">identify SMEs and key stakeholders</li>
<li class="unordered-list__list-item">align proposed work to strategy and program vision</li>
<li class="unordered-list__list-item">work with the team to define the problems we are trying to solve</li>
<li class="unordered-list__list-item">work with the team to define the outcomes we want to deliver</li>
<li class="unordered-list__list-item">work alongside Business analysis to understanding the people, processes, and data involved in any as-is process</li>
<li class="unordered-list__list-item">create as is user journeys, highlighting pain points, dependencies, areas for improvements, and hypothesis to test</li>
<li class="unordered-list__list-item">create service prototypes, and design touchpoints</li>
<li class="unordered-list__list-item">work with the team to provide recommendations for how to take the work forward</li>
<li class="unordered-list__list-item">frame and create problem statements for discovery</li>
</ul>

<h3>New programs of work</h3>

<p>Slightly different to the more common existing set of products and sub-services. Sometimes new policy, legislation or incentives mean we need to create new services.</p>

<p>In this space a Service designer will:</p>
<ul class="unordered-list">
<li class="unordered-list__list-item">develop a strategic vision for the service </li>
<li class="unordered-list__list-item">design the interactions and building blocks that make up the service</li>
<li class="unordered-list__list-item">create service prototypes to test ideas and assumptions</li>
<li class="unordered-list__list-item">understand user needs and track interactions across departmental and organisational boundaries </li>
<li class="unordered-list__list-item">influence performance reporting so we measure and target improvements to things that matter to users</li>
<li class="unordered-list__list-item">lead on ensuring that interactions and user journeys across the program are rational and consistent</li>
</ul>

<h3>Existing programs of work</h3>

<p>Service designers work within existing programs to help connect discrete digital projects to deliver a joined-up service vision, provide cost efficiencies, and increase the effectiveness with which end-user benefits are delivered.</p>

<p>A Service designer will:</p>
<ul class="unordered-list">
<li class="unordered-list__list-item">align and lead communication with service managers, product owners, and policy colleagues to define user journeys and articulate the vision for products and services </li>
<li class="unordered-list__list-item">visualise/map existing products and processes, highlighting inconsistencies, inefficiencies, dependencies, pain points, and dead ends</li>
<li class="unordered-list__list-item">visualise/map relationships between different products or sub-services</li>
<li class="unordered-list__list-item">identify opportunities for service improvement and cost reduction</li>
<li class="unordered-list__list-item">identify opportunities to align internal processes </li>
<li class="unordered-list__list-item">identify opportunities to align our services with user journeys and tasks </li>
<li class="unordered-list__list-item">lead on ensuring that interactions and user journeys across the program are rational and consistent</li>
<li class="unordered-list__list-item">understand user needs and track interactions across departmental and organisational boundaries </li>
<li class="unordered-list__list-item">influence performance reporting so we measure and target improvements to things that matter to users</li>
</ul>

<p>We’ve been using these definitions and role descriptions to create new roles in Defra and to explain how Service design differs from other roles.</p>

<p>Through these new roles we are attempting to demonstrate the value that can be brought to new and existing programs of work, hopefully without stepping on anyone else’s toes. </p>

