--- 
title: Future Leaders Scheme, Assignment One
description: Assignment one on the Future Leader Scheme, focussing on my own leadership practice.
date: "2023-10-05" 
tags: [Design] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/fsff/
---

<h2>Leadership in Context</h2>

<p>
Question:
</p>

<p class="highlight-text margin-bottom">				
Drawing on relevant theory, critically discuss your leadership approach within the context of your organisation’s practice and culture; and identify ways in which you can enhance your practice
<p>



<h3>Introduction</h3>

<p>
The public sector needs reliable leaders who keep their promises, are trustworthy and bring about change (Joyce, 2016). This paper will evaluate my own approach to building trust in a complex public sector organisation. To do so I will draw comparisons with leadership theories including authentic leadership, transformational leadership and leadership at all levels. I will also discuss more recent research into design theory and links between design thinking and leadership. 
</p>
<p>
I will examine the effectiveness of these theories in the context of Defra’s organisational culture and explore the differences between leading a team and a profession. I will conclude with learnings and reflections and identify ways in which I can enhance my leadership practice.
</p>


<h3>Leading a team</h3>
<p>
To me, leadership is about two things: aligning people around a shared vision and making sure everybody has a voice and can contribute equally.  As head of Design, I formed a new service design function built around the vision of integrating design thinking into decision-making. Together we defined roles, set standards, and established career pathways, fostering a strong sense of purpose and values.
</p>
<p>
This approach aligns with authentic leadership, characterised by passion, behavior, connectedness, consistency, and compassion (George, 2003). According to Northouse (2013), authentic leaders have a genuine passion and deep interest in their work. There are also parallels with creating leadership at all levels by sharing accountability for defining standards.
</p>
<p>
While the authentic approach to leadership has been effective, it places significant emphasis on the leader-follower relationship (Avolio & Gardner, 2005). As my team grows, it becomes increasingly challenging to maintain those individual relationships, which limits the effectiveness of this approach. Initially, I had regular one-on-one sessions with each team member, reinforcing our mission and my passion to achieve it. As the team grew, I had to delegate this responsibility, diluting the message and creating a sense of separation between myself and the team.
</p>
<p>
Building leadership capability could address this issue, as supported by Leslie and Canwell (2010) who argue that "leadership must be performed by multiple agents across an organization or system—therefore the focus needs to be on leadership capabilities" (p. 301). However, creating levels of leadership for a new design profession in an organisation with limited design maturity is a risk and could place too much responsibility on a new team to influence embedded cultures.
</p>
<p>
According to Bass and Riggio (2006), motivating others through a common mission is considered transformational leadership. However, in an organisation with 33 competent authorities and varying levels of digital maturity, relying solely on alignment to a shared mission isn't feasible. In such a complex environment, it can even have negative implications on team morale if the broader organisation and subcultures do not uphold the same vision. For this reason, it may be more appropriate to use a transactional style, clearly setting out goals and expectations for teams who need more guidance to achieve tasks, as suggested by Vera and Crossan (2004). 
</p>
<p>
​​Using an authentic leadership approach, I have built a collaborative and empowered team. As this team grows, I can switch between transactional and transformational methods to support each team member's needs. "Founders have the capacity to a) shape the design and structure of their organizations, and b) build systems and procedures that reflect their basic value priorities" (Shim & Steers, 2012, p. 2). However, I am still unsure how much long-term organisational change can be accomplished with an authentic style, especially when trying to introduce new ways of working across organisational boundaries.
</p>

<h3>Leading a profession</h3>

<p>
When leading the service design profession, I adopted a pragmatic approach, starting with small areas to experiment and learn before scaling. Collaborating with the Environment Agency, I piloted service design methods within the flood portfolio. This initiative enabled flood teams to identify collective enhancements and uncover gaps in their combined offering. It represented a new approach to delivery and influenced wider discussions on improved delivery models within Defra. 
</p>
<p>
This approach aligns with transformational leadership and with the design principles of experimentation, iteration, and problem-solving. There is a growing consciousness of the value using design principles in leadership (Gloppen, 2009). Kelley (2012) also suggests that design thinking can be applied to leadership, He claims creativity is a vital trait for success in any industry and a most important trait for leadership.
</p>
<p>
This approach created a small pocket of change and helped me to build connections beyond the design team. However, challenges can arise in organisation with diverse cultures, as it can be difficult for other areas of Defra to relate or find synergies. 
Additionally, although successful when working with the Environment Agency the danger with this approach is introducing a transformational approach to areas of Defra that need more direction or placing transactional orientated people in the wrong positions at the wrong time (Marcus & Mugadza, 2015). When introducing a service design role to APHA it caused tension and reduced productivity in teams. In this case a transactional approach with clearly defined goals and objectives would have been more effective. 
In this space my approach needs to be determined by the culture of the organisations I’m working with. "As the organization matures its structures, procedures, and practices become well formulated and stable [...]. Organizational culture defines leadership more than leadership determines culture" (Shim & Steers, 2012, p. 2).
</p>
<p>
(Benameur, 2020) uses design principles to articulate key leadership styles: the architect, the learner, the steward, and the mentor. My current approach aligns with the learner theory emphasising fast failure, creativity, and open-mindedness. To scale the service design profession other aspects of design leadership such as the mentor approach (developing others with empathy) or the architect approach (shaping empowering environments) could be utilised (Benameur, 2020).
</p>

<h3>Conclusion and recommendations</h3>

<p>
The main conclusion drawn from my research is that leadership, whether of a profession or a team, involves defining a vision, aligning people, and inspiring action (Kotter, 1996). While flexibility is crucial in both roles, with the design team, I decide on the correct approach, whereas with the profession, organisational culture dictates the approach.
</p>
<p>
When setting up a new team, I've employed authentic leadership, nurturing relationships through open, honest communication. As the team expands, I must maintain these connections while developing leadership in others and finding the right balance between transformational and transactional styles.
 </p>
<p>
In leading the service design profession, I've embraced design thinking, initiating pilot projects to learn and expand my network. To be more effective, I must enhance leadership capabilities, foster cross-organisational relationships, and establish a common cross-organisational purpose (Leslie & Canwell, 2010). I also need to adapt my approach, letting the organisation's subcultures determine whether I use transformational or transactional styles.
</p>

<h3>References</h3>

<p>
Avolio, B. J., & Gardner, W. L. (2005). Authentic leadership development: Getting to the root of positive forms of leadership. The Leadership Quarterly, 16(3), 315–338.
</p>
<p> 
Bass, B. M., & Riggio, R. E. (2006). Transformational leadership. L. Erlbaum Associates.
 </p>
 <p>
Benameur, E. (2020). FORBES LEADERSHIP LEADERSHIP STRATEGY what great design teaches us about leadership.
 </p>
 <p>
George, B. (2003). Authentic leadership: Rediscovering the secrets to creating lasting value. San Francisco: Jossey-Bass.
 </p>
 <p>
Gloppen, J. (2009). Perspectives on design leadership and design thinking and how they relate to European service industries. Design Management Journal, 4(1), 33-47.
https://doi.org/10.1111/j.1942-5074.2009.00005.x
 </p>
 <p>
Joyce, P. (2016). Strategic leadership in the public sector (2nd ed.). Routledge. https://doi.org/10.4324/9781315660677
 </p>
 <p>
Kotter, J. P. (1996). Leading change. Boston, Mass.: Harvard Business School Press.
 </p>
 <p>
Leslie, K., & Canwell, A. (2010). Leadership at all levels: Leading public sector organisations in an age of austerity. European Management Journal, 28(4), 297-305. https://doi.org/10.1016/j.emj.2010.05.006
 </p>
 <p>
Marcus, R., & Mugadza, G. (2015). When Innovation and Creativity are a Costly and Futile Endeavor. Journal of Leadership Studies, 9(3), 62-63.
 </p>
 <p>
Northouse, P. G. (2013). Leadership: Theory and practice (6th ed.). SAGE Publications, Inc.
 </p>
 <p>
Shim, W. S., & Steers, R. M. (2012). Symmetric and asymmetric leadership cultures: A comparative study of leadership and organizational culture at Hyundai and Toyota. Journal of World Business, 47(4), 581-591. https://doi.org/10.1016/j.jwb.2012.01.011
 </p>
 <p>
Kelley, T. (2012). How Design Thinking can Make you a better Leader [Speech]. Constellation's Connected Enterprise, Beyond Innovation: Design Thinking. Retrieved from https://www.constellationr.com/content/how-design-thinking-can-make-you-better-leader
 </p>
 <p>
Vera, D., & Crossan, M. (2004). Strategic leadership and organizational learning. Academy of Management Review, 29(2), 222-240.
</p>				
			

