--- 
title: Is this service design?
description: A write up of the services week talk from March 2023, reflecting on 12-months in a service design role for a complex portfolio of work.
date: "2023-09-22" 
tags: [Design] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/is-this-service-design/
---



<p>As Lou Downe said in <a href="https://gds.blog.gov.uk/2016/04/18/what-we-mean-by-service-design/">What we mean by service design</a>: </p>
<figure class="quote">
  <blockquote>
If your business was making chairs, you’d hire a furniture designer - government needs service designers to design the services it provides
  </blockquote>
   {# <figcaption>Lou Downe - <cite>what we mean by service design</cite></figcaption> #}
</figure>

<p>But how do we design better services:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">in areas with conflicting or competing priorities? 
</li>
  <li class="unordered-list__list-item">in areas with multiple leadership teams?
</li>
  <li class="unordered-list__list-item">with a reliance on politics?</li>
  <li class="unordered-list__list-item">across different competent authorities and government departments? </li>
</ul>

<p>When this is the case, hiring service designers into existing teams or structures won’t help us to change the things we design and build.
</p>

<h2>Defining design
</h2>

<p>Before we hire service designers we need to…
</p>

<ol class="ordered-list">
  <li class="ordered-list__list-item">Define what we mean by a service</li>
  <li class="ordered-list__list-item">Define the role of the service designer </li>
  <li class="ordered-list__list-item">Define the spaces in which service designers should work </li>
</ol>

{# <h3>1) Define what we mean by a service </h3>

<p>We need to be much clearer on what we class as a service. A service should be something that helps someone to do something or achieve a goal. A service is not a form, a portal, a microsite, or a permit. These are smaller things people need to do to complete a larger task.
</p>



<h3>2) Define the role of the service designer 
 </h3>

<p>Service design has become increasingly linked with tasks and tools like mapping or running workshops, perhaps in an attempt to differentiate itself from other design disciplines. This can lead to gatekeeping of service design roles, keeping out designers who previously worked more in the detail or who don’t excel at facilitation. 
</p>



 <h3>3) Define the spaces in which service designers should work

 </h3>

<p>We need to define service design in a way that is more inclusive, thinking about the spaces service designers operate in, not the tasks they complete or their personal characteristics. 
</p> #}

{# <p>
This is the stuff I started to do last year, so now we have a definition of a service. 
</p> #}


{# <p>Whole services as end-users would know them transcend delivery teams/organisational boundaries.
</p> #}

{# <p>A whole service is everything the user needs to do to achieve a goal, including non-transactional things, such as research and choosing how to achieve their goal. A whole service is also everything government needs to do to achieve an outcome, including delivering and supporting the service.
</p> #}

{# <p>The whole service starts at the first point that a customer becomes aware that the service exists and ends at the point that the customer no longer wants to/needs to use the service.
</p> #}

{# <figure id="figure1">
<img class="half" src="/images/posts/is-this-service-design/whole-services.png" loading="lazy" alt="whole services">
<figcaption>Whole services</figcaption>
</figure> #}

{# <p>We have a role definition: 
</p>

<p>A service designer makes sure we design and deliver the right service.  They work in programme teams that may support multiple product teams. They also work in the space before discovery, shaping and scoping future work.
</p>

<p>And we identified the spaces service designers should work in.
</p> #}



{# <p>On programme teams: 
</p>


<p>Services as end-users would know them transcend delivery or product teams. So service designers work across a programme of work to design the interactions and building blocks that make a service.
</p>


<p>The service designer may support multiple product teams to provide insight on how to achieve desired outcomes in a measurable way.
</p> #}


{# <p>And on project scoping:
</p>

<p>A service designer should work with the business and policy to understand what we have, define the problem(s) to be solved, and the desired outcome(s).
</p>
 #}

<p>This work is covered in more deatil in previous blog's <a href="https://cathydutton.co.uk/posts/a-space-for-service-design/">A space for service design</a> and <a href="https://cathydutton.co.uk/posts/designing-whole-services/">Designing whole services</a>. Once this is done we should be able to hire service designers into the right spaces and onto the right work. </p>
  
<p>But what does that look like in practice? 
</p>


<h2>Getting started</h2>

<p>Joining an existing programme of work is like jumping onto a moving train, or 7 moving trains all going in different directions.
</p>

<p>The programme I work on includes 6 main services with each having up to 400,000 transactions per year and around 5 core supporting services, products or platforms. The programme sits under 2 different directorates, multiple competent authorities and across multiple government departments. In total across the programme there are over 10,000 variants of end-to-end journeys. 
</p>

<h3>Understanding our users</h3>


<p>The first thing I wanted to do was try to get an understanding of who was using the services, what they were trying to achieve and how. To do this I ran a workshop to get all the researchers on the programme together, to discuss each service and to get all our known user needs out in the open, highlighting any gaps that might need filling.
</p>


<p>The 2 key takeaways from the workshop were:
</p>

<ul class="ordered-list">
  <li class="unordered-list__list-item">We had areas of work with no user research or design presence 
</li>
  <li class="unordered-list__list-item">In a lot of cases the user needs we had were quite product or feature specific
</li>
</ul>

<p>This doesn't help us to understand what users need from our service away from existing systems or technology. 
</p>

<h3>Understanding our service
</h3>

<p>The second thing I wanted to understand was the whole service as it is now from start to finish. This includes things that happen before and after the parts that we can control. 
</p>

{# <p>By understanding our service as our users would view it we can see that it cuts across other programmes of work in Defra.
This includes our farming and plant health programmes and the science and animal health programme.
</p> #}

{# <figure id="figure2">
<img class="half" src="/images/posts/is-this-service-design/what-defra-does.png" loading="lazy" alt="What Defra does">
<figcaption>What Defra does</figcaption>
</figure> #}


{# <p>To start to understand the wider context a bit more I started some wider journey mapping going right from preparation, to supply chain, disease monitoring, then the export or import applications, transport, arrival and reporting. 
</p> #}


{# <p>In each journey I started to note pain points and opportunities that could feed into new design work but also into any continuous improvement work.
</p> #}

<figure id="figure3">
<img src="/images/posts/is-this-service-design/journey-mapping.png" loading="lazy" alt="Journey mapping">
<figcaption>Example journey map</figcaption>
</figure>


<p>These maps helped us to spot patterns in behaviour, things that could be improved, areas of complexity and how different systems are, or are not connected. 
They are also useful to understand the flow of events or the relationships between events which should inform any service design work. 
</p>

<p>By mapping these journeys we can start to see areas of duplication and places where we could start to build some common capabilities.
We’re not re-designing anything yet, but working out how we could incrementally improve what already exists.
</p>

<p>Another key output of the journey maps is highlighting gaps in knowledge and using this to help plan future research activities.
</p>

{# <figure id="figure4">
<img src="/images/posts/is-this-service-design/Imports-opportunities-and-pain-points.png" loading="lazy" alt="Imports opportunities and pain points">
<figcaption>Imports opportunities and pain points</figcaption>
</figure> #}

{# <figure id="figure5">
<img src="/images/posts/is-this-service-design/exports-opportunities-and-pain-points.png" loading="lazy" alt="Exports opportunities and pain points">
<figcaption>Exports opportunities and pain points</figcaption>
</figure> #}



<h2>Creating the right conditions </h2>

<p>Most of the work that came out of these 2 exercises was about trying to create the right conditions for a service approach.
</p>

<h3>Building a community </h3>

<p>Starting with some obvious things like building a design and research community. We introduced some regular programme wide community meetings, show and tells and drop in sessions. Making sure people are aware of other projects and able to share insights and design work across teams.
</p>


<h3>Increasing capability</h3>

<p>I ran sessions on user centred design, the service standards and accessibility to raise awareness of the value research and design bring to teams. This has helped us to grow the UCD team and to get people on to the projects and teams that had previously had no research or design input.
</p>

<h3>Process maps 
</h3>

<p>
The next thing I did was create some process maps or low-fi blueprints to help teams understand how their services fit into a wider system. The maps helped to identify dead ends in proposed new service, offline journeys, and areas teams would need to consider designing new business processes. 
 </p>


<figure id="figure6">
<img src="/images/posts/is-this-service-design/process-map.png" loading="lazy" alt="Process map">
<figcaption>Process map</figcaption>
</figure>


<p>This was intentionally quite provocative to try to change the way people viewed the things we deliver.
</p>


<h3>Taking a broader view of user research 
</h3>


<p>The most important thing was trying to take a broader view of user research. To start thinking about our service as a whole we need to understand our users and their needs away from the constraints of what exists already.
</p>


<p>Getting broader insights is the starting point for moving teams away from building something the right way to making sure we are building the right thing. And for positioning research as something that guides decisions instead of validating (or not) decisions that have already been made.
</p>


<p>To help with this we introduced a research framing process and roadmap to re-frame requests around the problems that needed to be solved. This helped us shift requests from “Can I have a researcher to look at APIs” to “How can we improve the application process. This is about delivering better research, not hiring more researchers. Fewer people doing the right research is better than lots of researchers validating existing ideas. 
</p>


<p>One of the biggest benefits to come out of doing this was highlighting how often we commissioned the same piece of work in different teams with differing ideas on solutions. 
</p>

<h2>Is this service design?</h2>

<p>None of this work feels like service design, its mostly been about building an understanding of the service, the people, the teams, and the ways of working. 
  
  {# Understanding these things is essential when joining a large portfolio of work and helps us to start creating the right spaces and conditions for service design. #}
</p>

<p>Going back to the definition of service design</p>

<figure class="quote">
  <blockquote>
Service designers work across a programme of work to design the interactions and building blocks that make a service.
  </blockquote>
</figure>
<p>Incrementally improving what exists is valuable work, but can only ever go so far, particularly if what exists includes services or systems that exist because of failure elsewhere. At some point we will need to take a fresh more holistic approach and start to actually re-design services. </p>
<p>Unfortunately when or if this happens is usually out of our control. 
</p>

<h3>Laying the foundations</h3>

<p>What we can do is make sure when that time arrives we’re in a position to effectively communicate what our users are trying to do, what issues they face and how we might be able to improve things for them.
</p>

<p>We started to do this by collecting insights with the broader research pieces discussed earlier and through some exploration work, pulling together users, systems, pain points, and opportunities helping us to create high level themes and problems to solve. These insights can be shared across the whole programme to help us to start thinking about the work as one whole service. 
</p>


 <figure role="group" class="table-wrapper"> 
  <table>
    <caption>Research themes</caption>
  <tbody>
    <tr class="grey">
      <td class="td-modal">Confidence:</td>
      <td>My orders are viable, my business is profitable</td>
    </tr>
    <tr class="light-grey">
      <td class="td-modal">Speed:</td>
      <td>My goods arrive in time to satisfy my customers</td>
    </tr>
    <tr class="grey">
      <td class="td-modal">Cost-effective:</td>
      <td>My orders are viable, my business is profitable</td>
    </tr>
        <tr class="light-grey">
      <td class="td-modal">Time:</td>
      <td>I can prepare my orders quickly and efficiently </td>
    </tr>
        <tr class="grey">
      <td class="td-modal">Accurate information:</td>
      <td>I am able to provide accurate information about my goods</td>
    </tr>
  </tbody>
</table>
</figure>




{# <figure role="group" class="table-wrapper">
  <table border="1">
    <caption>Opportunities</caption>
  <tbody>
   <tr class="yellow">
      <td>How might we enable/facilitate users in providing timely and accurate information about their goods?</td>
    </tr>
     <tr class="grey">
      <td>How might we reduce the opportunities for human error during the imports and exports process?
</td>
    </tr>
    <tr class="red">
      <td>How might we improve the viability of imports and exports for smaller volumes/businesses?
</td>
    </tr>
  </tbody>
</table>
</figure> #}


<p>As well as preventing the need for each team to re-do this work, it also gives us a reference point to keep returning to. Is the work we are doing solving these problems? These artefacts should be the foundations for any future service design, strategy or vision.
</p>

{# <figure id="figure7">
<img class="half" src="/images/posts/is-this-service-design/storyboard.png" loading="lazy" alt="Storyboard">
<figcaption>Storyboard</figcaption>
</figure>

<p>We’re also creating storyboards to help us quickly communicate the findings from in depth journey mapping sessions. 
</p> #}



<h3>Service blueprinting </h3>


<p>A service blueprint or to-be map of the service may have been useful to start much sooner. But if no one is asking for one where is the value? We need everyone to recognise what we are delivering as one whole service, before we start to map out common touchpoints, interactions, and areas where we might introduce common capabilities.
</p>


<p>One of the biggest benefits in producing a blueprint is the process itself, waiting to be asked to produce one means we have a cross team understanding of how the whole service cuts across multiple deliveries, and more chances of getting the right people involved in co-creating one. After 12-months working across this service, we are only now starting to map the full end to end, with all the touchpoints, technology, data, people etc. Working alongside policy and programme team members from 2 different directorates.
</p>


{# <p>So for designing the building blocks of a service I think we are getting there, slowly. We have improved the programme's design and research capability, created a centralised view of the current landscape, and started to build connections that help us get closer to designing the future service around end users.
</p> #}

<h3>Project scoping
</h3>

{# <p>And on project scoping:
</p>

  <p>A service designer should work with the business and policy to understand what we have, define the problem(s) to be solved, and the desired outcome(s).
</p> #}

<p>The second part of the deffenition was project scoping, this stage is about establishing the problem/costs/issues that you want to look at. So as service designers we should work with the business and policy upfront to understand what we have, define the problem(s) to be solved, and the desired outcome(s).
</p>


<p>Just jumping back to the programme level work for a second, the biggest blocker to getting stuff done in that space is meetings. It’s really easy to end up in an overseeing role sitting across somewhere between 10 and 15 teams. And that quickly turns into a really reactive role, dealing with issues as and when they arise.
</p>

<p>The questions we should be asking are:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">why are there so many teams? 
</li>
  <li class="unordered-list__list-item">why is there so much work? 
</li>
<li>and where is all the work coming from?
</li>
</ul>

<figure class="quote">
  <blockquote>
    “Failure demand can only be removed when you change the way work is designed and managed” John Seddon - Systems Thinking in the Public Sector
 </blockquote>
</figure>

<p>To get a grip of it we need to look at the way work is designed and managed. The research framing process I mentioned earlier was a useful stepping stone for this but it’s still reactive work, re-setting briefs that come to us from various sources.
</p>

<h3>Current landscape
</h3>

<p>As much as we might want to position ourselves as a partner, the role of service design sits under digital and is almost always seen as a supplier. And as a supplier we react to requests for work. Because these requests come from multiple places it’s possible for us to get competing requests, duplications and contradictions.
</p>



<figure id="figure8">
<img class="half" src="/images/posts/is-this-service-design/requests-for-work.png" loading="lazy" alt="Requests for work">
<figcaption>Requests for work</figcaption>
</figure>

<p>To really start to design whole services we need to be more proactive, we need to move from being a supplier providing a solution, to a partner working collaboratively to shape work around problems or outcomes.
</p>

<p>Moving from “Here is something we want you to build” to “Work with us to understand the problems we should to address” requires the process of how work is created to be re-designed. This is something we have started to do by first capturing the as-is process and using that to create a future state.
</p>
{# 
<figure role="group" class="table-wrapper">
  <table border="1">
  <tbody>
    <tr>
      <td class="td-modal">One:</td>
      <td>Here is something we want you to build</td>
    </tr>
    <tr>
      <td class="td-modal">Two:</td>
      <td>Here is something we want you to design and build
</td>
    </tr>
    <tr>
      <td class="td-modal">Three:</td>
      <td>Here is a problem we want you to solve
</td>
    </tr>
        <tr>
      <td class="td-modal">Four:</td>
      <td>Work with us to understand the problems we should to address
</td>
    </tr>
  </tbody>
</table>
</figure> #}




<h3>Triage process
</h3>

<p>In the new process the first thing we did was add a triage step, to shape requests for work, aligning them to the wider strategy, defining the problem to solve and the desired outcomes and success measures. 
</p>

<figure id="figure9">
<img class="half" src="/images/posts/is-this-service-design/triage-process.png" loading="lazy" alt="Triage process">
<figcaption>Triage process</figcaption>
</figure>

<p>Triage questions:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">What is the problem to be solved
</li>
  <li class="unordered-list__list-item">Short background to the problem space, team etc 
</li>
  <li class="unordered-list__list-item">What are the expected outcomes
</li>
  <li class="unordered-list__list-item">What work has been done to date?
</li>
    <li class="unordered-list__list-item">How will we measure success?
</li>
</ul>

<p>This should help us to get service design involved further upstream, and to create consistency across the programme, removing any duplication and contradictions.
</p>

<p>Then we split work into 3 lanes: 
</p>

<ol class="ordered-list">
  <li class="unordered-list__list-item">Discovery, because there is a well defined problem to solve </li>
  <li class="unordered-list__list-item">Continuous improvement, we have a valid problem but the work is better suited to being added to an existing teams backlog 
</li>
    <li class="unordered-list__list-item">Exploration, this problem is too big for us to solve all at once </li>
</ol>

<p>The first 2 are pretty self explanatory, the third one can be a bit more controversial. 
</p>


<p>Exploration or pre-discovery has a reputation for adding time and cost to a project without adding much value. I’ve definitely seen this happen and we definitely dont always need this phase. But if we have a statement as broad as “How might we better facilitate trade” we need space to break the problem down into more manageable chunks.
</p>

{# <figure id="figure10">
<img src="/images/posts/is-this-service-design/dsas.jpg" loading="lazy" alt="dsada">
<figcaption>cdsfcdffsffs</figcaption>
</figure> #}


<p>A good exploration phase should be short, with a small team, it could be:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">a problem framing workshop </li>
  <li class="unordered-list__list-item">a short piece of work like a design sprint 
</li>
    <li class="unordered-list__list-item">or a phase of exploratory work that might lead to multiple problem statements that need to be prioritised
</li>
</ul>


<p>Exploration is done when we have a clear and well scoped problem statement(s) to tackle at discovery. </p>
  
 <p> The final part of the process is the feedback loops, making sure research and learnings in the teams make their way back into the process to help prioritise future work.
</p>

{# <p>we’ve probably made slightly less progress in the scoping space, and have a lot more questions to answer including 
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">where does the work go after tirage?
</li>
  <li class="unordered-list__list-item">how do we structure our teams around services or outcomes?
</li>
   <li class="unordered-list__list-item">how do we prioritise work?
</li>
    <li class="unordered-list__list-item">how will we measure success?
</li>
</ul>

<p>Getting answers to these questions will unlock the most opportunities for service design.
</p> #}

<h2>Summary
</h2>

<p>Designing and delivering better services is about having a shared service vision and outcomes, aligning around problems to solve, and continuously measuring value. This isn’t something that succeeds or fails based on the inclusion of any individual role. 
</p>

<p>Simply having a service designer won’t remove any of the barriers to good service design. Most of the work is aligning and working together with the right people in the right space, whoever and wherever that might be.
</p>

<p>Some of the key takeaways have been: 
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">there is a constant balancing act between improving what exists and planning for what could exist
</li>
  <li class="unordered-list__list-item">before we can really progress we need to design our internal structures and design a process for how work is created and delivered 
</li>
</ul>


{# <p>In a way it’s a chicken and egg situation. To design a whole service you first need to design how an organisation works. To re-design an organisation you need an understanding of your services. 
</p> #}





























