--- 
title: Future leaders scheme - 2022 Candidate Statement
description: The Future Leaders Scheme is a Civil Service accelerated development scheme, aimed at grade 6 and 7 civil servants.
date: "2023-09-28" 
tags: [Design] 
pageName: Blog
postURL: https://cathydutton.co.uk/posts/gth/
---

<h2>My candidate statement for the Future Leaders Scheme (FLS)</h2>

<p>As part of the application I was asked to complete a candidate statement answering 3 questions:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">What motivates you to further your leadership career?</li>
  <li class="unordered-list__list-item">What is it about your approach to leadership that makes you stand out?</li>
  <li class="unordered-list__list-item">Why do you think you have the capabilities to make the most of the opportunities on this accelerated development scheme?</li>
</ul>


<h3>What motivates you to further your leadership career? </h3>

<p>I joined Defra in 2016 working as one of only 5 Designers. The team I joined was under pressure to deliver and had recently failed an assessment. This created a tense working environment and led to a difficult first few months. Despite these challenges, I was able to help the team move forward and in turn, grow the understanding of the role designers play in delivery teams.</p>
<p>This experience motivated me to create a better working environment for designers and to work towards establishing the discipline within DDTS. In 2018 I was promoted to Head of Design where I recruited and now lead a team of 60+ designers. I am really proud of what this team has achieved and my role in supporting them and driving the team's strategy.</p>
<p>My ambition now is to influence delivery on a wider scale and to move into a more proactive and strategic space. </p> 

<h3>What is it about your approach to leadership that makes you stand out?</h3> 

<p>I believe my technical experience both inside and outside of government makes me a credible design leader. More importantly, the experiences I have had within Defra help me to be a compassionate leader who can draw on personal experience to support designers working on a range of complex services. </p>

<p>As Head of Design I tried to create an environment that allowed the team to do their best work. Creating an inclusive space so that all team members can contribute equally.</p>

<p>As an introvert, I am often told that I lack confidence. I hope I have managed to show that this is not an obstacle and that leadership can take many forms.</p>


<h3>Why do you think you have the capabilities to make the most of the opportunities on this accelerated development scheme?</h3> 




<p>Moving into a Head of Design role has really helped me to step outside my comfort zone. I’ve gone from avoiding speaking up on conference calls to leading discussions and workshops, influencing stakeholders, and presenting on design strategy at cross-Government and wider industry events. I think this demonstrates my ability to overcome challenges, adapt to new environments, and make the most of the opportunities I’m presented with.</p>


<p>I am passionate about the role design can play in wider government strategy, and believe we can use design skills further upstream to make sure we are solving the right problems in the most cost-effective way. My current role has given me the chance to show the positive impact this can have. Working with the Environment Agency's flood teams I have implemented a service design approach to delivery, starting wider discussions on improved delivery models within DDTS.</p>


<p>I want to use the opportunities the FLS would bring to help me broaden my understanding of Government and learn the skills I will need to widen this approacah so that I can start to impact delivery on a larger scale. </p>




