/*
  Layout
  CSS grid and Flexbox responsive content based layout.
  ----------------------------------- */

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 1280px;
  }

  /* Main Flex box 2 column layout */
  .sidebar {
    flex: 1 0 0;
    padding: .5em;
    background: var(--colour-dark);
  }
  
  .content {
    flex: 10 0 10em;
    padding: .5em;
    width: 100%;
    background: var(--colour-white);
  }

  /* Header CSS grid */
  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
  }
  
  /* Resisable demo area */
  #demo {
    border: 1px solid var(--colour-dark);
    padding: 1em;
    margin-top: 1em;
    overflow: scroll;
    /* resize: both; */
  }



