/*
  Utilities
  Utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
  ----------------------------------- */

/* Visually hidden */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Clear fix */

.clear:before,
.clear:after {
  display: table;
  content: '';
}

.clear:after {
  clear: both;
}






