/*
  Generic
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */


/*
  Typography
  ----------------------------------- */

  h1 {
    /* font-family: impact; */
    /* text-transform: uppercase; */
    font-size: calc(100% + 6vw);
    color: var(--colour-dark);
    margin-bottom: .8em;
    line-height: 1.2;
    hyphens: auto;
  }
  
  h2 {
    font-size: calc(100% + 4vw);
    margin-bottom: .6em;
    hyphens: auto;
  }
  
  h3 {
    font-size: calc(100% + 3vw);
    margin-bottom: .4em;
    hyphens: auto;
  }
  
  h4,
  h5,
  h6 {
    font-size: calc(100% + 2vw);
    margin-bottom: .4em;
    hyphens: auto;
  }

  p {
    font-size: 1em;
    margin-bottom: .6em;
    hyphens: auto;
  }

  .page-headings p {
    font-size: 1.188em;
    border-left: 4px solid var(--colour-bright);
    padding-left: .4em;
    hyphens: auto;
  }

  input, 
  select, 
  textarea, 
  button {
    font-family:inherit;
    font-size: .8em;
  }

  .sub-text {
    font-size: .8em;
  }
