/*
  Anchors
  styling for bare a tags 
  ----------------------------------- */

a {
 color: currentColor;
 text-decoration: none;
 border-bottom: solid 1px currentColor
}

a:hover {
  transition: all .3s ease-in-out;
  color: var(--colour-bright);
}

.anchor {
  color: var(--colour-medium);
  text-decoration: none;
  display: inline-block;
  border-bottom: dashed 1px currentColor;
  position: relative;
}

.anchor:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width .3s;
  position: absolute;
}

.anchor:hover:after {
  width: 100%;
}
  
.anchor:active:after,
.anchor:focus:after {
  width: 100%;
}
  
.anchor:visited:after{
  content: '(visited)';
}
  
.anchor
[target=_blank]:after {
  display: inline-block;
  content: '(opens new window)';
} 


  