/*
  Generic
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */


/*
  Typography
  ----------------------------------- */
  

  h1 {
    font-size: calc(4vw + 4vh + 2vmin);
    color: var(--colour-dark);
    margin-bottom: .8em;
    line-height: 1.2;
    hyphens: auto;
  }
  
  h2 {
    font-size: calc(3vw + 3vh + 2vmin);
    margin-bottom: .6em;
    hyphens: auto;
  }
  
  h3 {
    font-size: calc(2vw + 2vh + 2vmin);
    margin-bottom: .4em;
    hyphens: auto;
  }
  
  h4,
  h5,
  h6 {
    font-size: calc(1.4vw + 1.4vh + 2vmin);
    margin-bottom: .4em;
    hyphens: auto;
  }

  p {
    margin-bottom: .6em;
    hyphens: auto;
  }

  .page-headings p {
    border-left: 4px solid var(--colour-bright);
    padding-left: .4em;
    hyphens: auto;
  }

  input, 
  select, 
  textarea, 
  button {
    font-family:inherit;
  }

