/*
  Generic -   Typography
  Reset and/or normalize styles, box-sizing definition, etc. 
  ----------------------------------- */

  h1 {
    font-size: calc(4vw + 4vh + 2vmin);
    color: var(--colour-dark);
    margin: 0;
    line-height: 1.2;
    hyphens: auto;
  }
  
  h2 {
    font-size: calc(2.5vw + 2.5vh + 2vmin);
    color: var(--colour-dark);
    margin-bottom: .6em;
    hyphens: auto;
  }
  
  h3 {
    font-size: calc(2vw + 2vh + 2vmin);
    color: var(--colour-dark);
    margin-bottom: .4em;
    hyphens: auto;
  }
  
  h4,
  h5,
  h6 {
    font-size: calc(1.4vw + 1.4vh + 2vmin);
    color: var(--colour-dark);
    margin-bottom: .4em;
    hyphens: auto;
  }

  p {
    margin-bottom: .8em;
    font-size: 1em;
  }

  p.highlight-text {
    border-left: 4px solid var(--colour-bright);
    padding-left: .4em;
    hyphens: auto;
    font-size: 1.2em;
  }

  p.page-description {
    hyphens: auto;
    font-size: 1.2em;
  }

  input, 
  select, 
  textarea, 
  button {
    font-family:inherit;
    font-size: .8em;
  }

  footer p {
    font-size: .8em;
  }
