---
title: University of Salford
description: Degree work from the University of Salford - Cathy Dutton
projectTags: [Product design]
image: /images/portfolio/uni-cover.jpg
date: 2007-09-09
---

<p class="highlight-text">Product designers are responsible for giving form, function and meaning to a range of products that furnish our everyday lives. Their creative and practical input provides the essential link between the consumer and the manufacturer. </p>

<p>I completed a degree in product design and development at the University of Salford in 2007. The course was made up of several modules including:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">User research and persona development</li>
  <li class="unordered-list__list-item">Sketch work</li>
  <li class="unordered-list__list-item">Foam and card model making</li>
  <li class="unordered-list__list-item">Computer modeling and animation</li>
  <li class="unordered-list__list-item">Technical drawing</li>
  <li class="unordered-list__list-item">Graphic design</li>
</ul>
<p>During my time at unaversity I was shortlisted for a <a href="http://www.pewterers.org.uk/pewter_live/pewterlive.html" class="anchor">Pewter live</a> design award with an adaptable <a href="http://www.pewterers.org.uk/pewter_live/Pewter_Live_2007_catalogue.pdf" class="anchor">candle holder concept</a>.</p>


<section class="portfolio-images" style="--ratio-padding: 78.12%;">
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/uni/sketching.jpg" class="lazyload"  alt="Sketch work">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/uni/models.jpg" class="lazyload"  alt="Model making">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/uni/autocad.jpg" class="lazyload"  alt="Technical drawing">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/uni/user-research.jpg" class="lazyload"  alt="User research">
    </div>
    <div class="image-ratio">
        <img data-src="/images/portfolio/uni/computer-modeling.jpg" class="lazyload"  alt="Computer modeling">
    </div>
</section>












