--- 
title: Get the label 
description: Graphic and we design work for GetTheLabel.com - Cathy Dutton 
projectTags: [Front end development, User experience, Design] 
image: /images/portfolio/gtl-cover.jpg 
date: "2010-09-12"
---

<p class="highlight-text">Getthelabel.com offer discounted designer clothing with up to 75% off RRP, the company was launched in 2009 as a subsidiary of JD Sports Fashion plc and by 2012 had received over 420,000 orders.</p>

<h2 class="heading">My role</h2>

<p>Working within the marketing department my role was to help build the GetTheLabel.com brand, working on both the designs for the website and the weekly email marketing campaigns. I was responsible for creating the site content and for measuring
  the success of each champagne using a mixture of Google Analytics and heat mapping software. I also worked on expanding the communication channels and marketing opportunities, designing and developing the companies first in house blog.</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Design weekly emails for a variety of marketing campaigns and customer interaction</li>
  <li class="unordered-list__list-item">Creation of reports monitoring the success of each digital campaign</li>
  <li class="unordered-list__list-item">Design and update the sites landing page on a weekly basis</li>
  <li class="unordered-list__list-item">Develop a bespoke Wordpress theme for use as a new marketing and communication channel</li>
  <li class="unordered-list__list-item">Site wide front end development and testing across multiple browsers, platforms, and devices</li>
  <li class="unordered-list__list-item">Creation and development of a set of company brand and style guidelines
  </li>
</ul>

<h2 class="heading">Email marketing campaigns</h2>

<p>Closely working alongside buyers and merchandisers I put together the weekly marketing emails and home page re-designs. The success of each campaign was measured to improve conversion and gain a greater understanding of the site's customer base.
</p>

<section class="portfolio-images">
  <div class="image-ratio" style="--ratio-padding: 162.33%;">
    <img data-src="/images/portfolio/get-the-label/gtl-one.jpg" class="lazyload" alt="Email marketing footwear">
  </div>
  <div class="image-ratio" style="--ratio-padding: 162.33%;">
    <img data-src="/images/portfolio/get-the-label/gtl-two.jpg" class="lazyload" alt="Email marketing winter">
  </div>
  <div class="image-ratio" style="--ratio-padding: 115.07%;">
    <img data-src="/images/portfolio/get-the-label/gtl-three.jpg" class="lazyload" alt="Email marketing Adidas">
  </div>
</section>
