---
title: Creare website design agency
description: Website design and development examples from Creare - Cathy Dutton
author: Cathy Dutton
layout: portfolio-post
category: portfolio
tags: Website design, Front end development, Wordpress, Magento, Design training, Project management
image: ../assets/img/portfolio/creare-cover.jpg
done: true
---
<p class="highlight-quote">Creare are a full service web design and internet marketing agency based in Rugby, Warwick shire. The team of over 100 employees come from a wide range of backgrounds including web design, development, marketing and graphic design. Based in the center of the UK, Creare operate nationally throughout England and Wales.</p>

<h2 class="heading">My role</h2>

I was employed by Creare in 2011 as a design and front end development team leader. I was responsible for the delivery of web projects for SMEs through from the initial design concept to the front end development and SEO using platforms such as Wordpress and Magento. 

I was also responsible for a small team of junior designers and developers overseeing the successful delivery of digital projects, as well as providing training and mentoring. 

Main responsibilities:

* Managing a small team of designers and developers
* Producing design concepts and prototypes to tight deadlines
* Front end development and testing across multiple browsers, platforms, and devices
* Project management of Magento and WordPress projects, delivering on time and meeting financial targets
* Training and supporting junior team members


<h3 class="heading">Ecommerce websites</h3>
Bespoke, salable online transactional websites.



<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/e-commerce-one.jpg" class="portfolio-piece__img"  alt="Elmers hardware store design concept">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/e-commerce-two.jpg" class="portfolio-piece__img"  alt="HJ socks design concept">
    </div>
</div>
</section>


<h3 class="heading">Content managed websites</h3>
Versatile and extendable websites allowing customers to manage content with minimal fuss.


<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/content-managed-one.jpg" class="portfolio-piece__img"  alt="CSS playground design concept">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/content-managed-two.jpg" class="portfolio-piece__img"  alt="Recruitment company design concept">
    </div>
</div>
</section>

<h3 class="heading">Static websites</h3>

Tailored designs to suit any company and industry, created with search engines in mind.

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/static-one.jpg" class="portfolio-piece__img"  alt="Sushi restaurante design concept">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/creare/static-two.jpg" class="portfolio-piece__img"  alt="Recruitment company design concept">
    </div>
</div>
</section>
