--- 
title: Tropic skincare 
description: Tropic skincare site design and banner advert concepts - Cathy Dutton 
projectTags: [Front end development, User experience, Design] 
image: /images/portfolio/tropic-skincare.jpg 
date: "2011-11-21"
---

<p class="highlight-text">After appearing on BBC’s The Apprentice in 2011 Susan Ma and Lord Alan Sugar become 50/50 partners in a natural and cruelty free skincare brand. The Tropic brand continues to grow with more than 7,000 ambassadors, over 100
  stunning products, and more than 35 prestigious beauty awards</p>

<h2>My role</h2>

<p>I was tasked with designing and building a bespoke Mangento store for the re-launch of the company following Susan's appearance on the apprentice. The website featured a discounted trade store and a media and blogging section.</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Design concepts</li>
  <li class="unordered-list__list-item">Prototyping</li>
  <li class="unordered-list__list-item">Project management</li>
  <li class="unordered-list__list-item">Staff training</li>
  <li class="unordered-list__list-item">Magento development</li>
  <li class="unordered-list__list-item">Search engine optimisation</li>
</ul>

<h2>Landing page concepts</h2>

<p>Design concepts for the entry page to the e commerce site, featuring top selling products, the latest news and testimonials.</p>

<section class="portfolio-images--wide">
  <div class="">
    <img src="/images/portfolio/tropic/tropic-one.jpg" loading="lazy" alt="Tropic skincare home page concept">
  </div>
  <div class="">
    <img src="/images/portfolio/tropic/tropic-two.jpg" loading="lazy" alt="Tropic skincare alternative home page concept">
  </div>
</section>

<h3>Banner concepts</h3>

<p>Design concepts for promotional banners to display on the website and send in email campaigns.</p>

<section class="portfolio-images">
  <div class="">
    <img src="/images/portfolio/tropic/tropic-banner-one.jpg" loading="lazy" alt="Tropic skincare banne concept one">
  </div>
  <div class="">
    <img src="/images/portfolio/tropic/tropic-banner-two.jpg" loading="lazy" alt="Tropic skincare banne concept two">
  </div>
  <div class="">
    <img src="/images/portfolio/tropic/tropic-banner-three.jpg" loading="lazy" alt="Tropic skincare banne concept three">
  </div>
</section>
