--- 
title: EE 
description: EE accessories site re-design - Cathy Dutton 
projectTags: [Design, User experience, Front end development] 
image: /images/portfolio/ee.jpg 
date: "2013-03-03"
period: 2013
pageName: Portfolio 
---

<p class="highlight-text">
  EE, part of the BT Group, is the largest and most advanced digital communications company in Britain, delivering mobile and fixed communications services. The company has approximately 553 retail stores, and services more than 31 million connections
  across its mobile, fixed and wholesale networks. Established in 2010 EE was a joint venture between Deutsche Telekom and Orange.</p>

<h2>My role</h2>

<p>I was employed as lead designer on the re-branding of the Orange accessories website following the takeover by EE. Working to a tight deadline and strict brand guidelines I designed and developed the new look Magento theme.</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Working within the EE brand guidelines to produce design concepts for key site pages</li>
  <li class="unordered-list__list-item">Producing visuals for the online stores promotional banners and adverts</li>
  <li class="unordered-list__list-item">Front end Magento development and testing across multiple browsers, platforms, and devices</li>
</ul>

<h3>Design concepts</h3>

<section class="portfolio-images">
  <div class="">
    <img src="/images/portfolio/ee/home.jpg" loading="lazy" alt="EE home page">
  </div>
  <div class="">
    <img src="/images/portfolio/ee/landing.jpg" loading="lazy" alt="EE landing page">
  </div>
  <div class="">
    <img src="/images/portfolio/ee/category.jpg" loading="lazy" alt="EE category page">
  </div>
  <div class="">
    <img src="/images/portfolio/ee/product.jpg" loading="lazy" alt="EE product page">
  </div>
</section>
