---
title: Brightstar 20:20
description: 20:20 mobile website design - Cathy Dutton
author: Cathy Dutton
layout: portfolio-post
category: portfolio
tags: Interaction design, Prototyping, Magento, Digital design
image: ../assets/img/portfolio/20-20-mobile.jpg
done: true
---


<p class="highlight-quote">Brightstar 20:20 Limited markets and distributes mobile devices across more than 200 operators and 50,000 retailers, and has a local presence in more than 50 countries, including the UK and Spain.</p>

<h2 class="heading">My role</h2>
I was employed as both a front end developer and a designer initially working on the Everything Everywhere re-branding project. I was also a key part of the development team working on a site launch for Mobile by Sainsbury's.

During my time at Brightstar 20:20 I was fortunate enough to work on a range of digital projects for large communications companies including o2, Three mobile, Orange, EE, Mobil by Salisbury's and Vodafone.

<p>Main responsibilities:</p>

<ul>
    <li>Working to strict brand guidelines to produce design concepts and visuals</li>
    <li>Front end development and testing across multiple browsers, platforms, and devices</li>
    <li>Magento site set up and development</li>
    <li>Producing working prototypes to present to key stakeholders</li>
    <li>Design and development of a white label Magento store</li>
    <li>Working as part of an agile delivery team</li>
    <li>Liaising with third party design partners to produce estimates and road maps</li>
</ul>

<h3 class="heading">White label Magento theme</h3>
As part of my role I was also responsible for designing and developing a white label store Magento theme. The theme was used for sales pitches and to research new features and techniques.

<section class="portfolio-images">
    <div class="portfolio-piece-wrapper">
    <h4>Home page concept</h4>
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/brightstar/home.jpg" class="portfolio-piece__img" alt="Brightstart magento theme home page">
        </div>
    </div>
    <div class="portfolio-piece-wrapper">
    <h4>Landing page concept</h4>
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/brightstar/landing.jpg" class="portfolio-piece__img" alt="Brightstart magento theme landing page">
        </div>
    </div>
</section>

<section class="portfolio-images">
    <div class="portfolio-piece-wrapper">
    <h4>Category page concept</h4>
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/brightstar/category.jpg" class="portfolio-piece__img" alt="Brightstart magento theme category page">
        </div>
    </div>
    <div class="portfolio-piece-wrapper">
    <h4>Product page concept</h4>
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/brightstar/product.jpg" class="portfolio-piece__img" alt="Brightstart magento theme product page">
        </div>
    </div>
</section>
