---
title: Brightstar 20:20
description: 20:20 mobile website design - Cathy Dutton
projectTags: [User experience, Design]
image: /images/portfolio/20-20-mobile.jpg
date: 2013-04-04
---
<p class="highlight-text">Brightstar 20:20 Limited markets and distributes mobile devices across more than 200 operators and 50,000 retailers, and has a local presence in more than 50 countries, including the UK and Spain.</p>

<h2 class="heading">My role</h2>

<p>I was employed as both a front end developer and a designer initially working on the Everything Everywhere re-branding project. I was also a key part of the development team working on a site launch for Mobile by Sainsbury's.</p>

<p>During my time at Brightstar 20:20 I was fortunate enough to work on a range of digital projects for large communications companies including o2, Three mobile, Orange, EE, Mobil by Salisbury's and Vodafone.</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Working to strict brand guidelines to produce design concepts and visuals</li>
  <li class="unordered-list__list-item">Front end development and testing across multiple browsers, platforms, and devices</li>
  <li class="unordered-list__list-item">Magento site set up and development</li>
  <li class="unordered-list__list-item">Producing working prototypes to present to key stakeholders</li>
  <li class="unordered-list__list-item">Design and development of a white label Magento store</li>
  <li class="unordered-list__list-item">Working as part of an agile delivery team</li>
  <li class="unordered-list__list-item">Liaising with third party design partners to produce estimates and road maps</li>
</ul>

<h3 class="heading">White label Magento theme</h3>

<p>As part of my role I was also responsible for designing and developing a white label store Magento theme. The theme was used for sales pitches and to research new features and techniques.</p>

<section class="portfolio-images" style="--ratio-padding: 148.14%;">
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/brightstar/home.jpg" class="lazyload"  alt="Brightstart magento theme home page">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/brightstar/landing.jpg" class="lazyload"  alt="Brightstart magento theme landing page">
    </div>
        <div class="image-ratio"> 
        <img data-src="/images/portfolio/brightstar/category.jpg" class="lazyload"  alt="Brightstart magento theme category page">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/brightstar/product.jpg" class="lazyload"  alt="Brightstart magento theme product page">
    </div>
</section>