---
title: o2
description: O2 website design - Cathy Dutton
author: Cathy Dutton
layout: portfolio-post
category: portfolio
tags: Interaction design,Prototyping, Front end develoment
image: ../assets/img/portfolio/o2-cover.jpg
done: true
---

<p class="highlight-quote">O2 are a leading digital communications company with over 25 million customers, running 2G, 3G and 4G networks across the UK.  O2 has over 450 retail stores and sponsors The O2, O2 Academy venues and the England Rugby union team. </p>

<h2 class="heading">My role</h2>
I was lead designer on a series of design projects for an internal O2 sales chanel with 20:20 mobile. Working to strict brand guidelines I designed and prototyped concepts for the new internal sales portal as well as creating working prototypes to present to key stakeholders.


Main responsibilities:

- Working within the o2 brand guidelines to produce design concepts for key site pages
- Presenting concepts to key stakeholders
- Creating working HTML prototypes
- Testing prototypes with internal users

<h3 class="heading">Design concepts</h3>

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/o2/home-one.jpg" class="portfolio-piece__img"  alt="o2 home page concept one">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/o2/category-one.jpg" class="portfolio-piece__img"  alt="o2 category page concept one">
    </div>
</div>
</section>

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/o2/home-two.jpg" class="portfolio-piece__img"  alt="o2 home page concept two">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/o2/category-two.jpg" class="portfolio-piece__img"  alt="o2 product page concept two">
    </div>
</div>
</section>

