---
title: EE
description: EE accessories site re-design - Cathy Dutton
author: Cathy Dutton
layout: portfolio-post
category: portfolio
tags: Front end development, Magento, Website design
image: ../assets/img/portfolio/ee.jpg
done: true
---


<p class="highlight-quote">
EE, part of the BT Group, is the largest and most advanced digital communications company in Britain, delivering mobile and fixed communications services. The company has approximately 553 retail stores, and services more than 31 million connections across its mobile, fixed and wholesale networks. Established in 2010 EE was a joint venture
between Deutsche Telekom and Orange.</p>

<h2 class="heading">My role</h2>
I was employed as lead designer on the re-branding of the Orange accessories website following the takeover by EE.
Working to a tight deadline and strict brand guidelines I designed and developed the new look Magento theme.

Main responsibilities:

- Working within the EE brand guidelines to produce design concepts for key site pages
- Producing visuals for the online stores promotional banners and adverts
- Front end Magento development and testing across multiple browsers, platforms, and devices

<h3 class="heading">Design concepts</h3>

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ee/home.jpg" class="portfolio-piece__img"  alt="EE home page">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ee/landing.jpg" class="portfolio-piece__img"  alt="EE landing page">
    </div>
</div>
</section>

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ee/category.jpg" class="portfolio-piece__img"  alt="EE category page">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ee/product.jpg" class="portfolio-piece__img"  alt="EE product page">
    </div>
</div>
</section>

