--- 
title: My Protein 
description: My Protein front end development work - Cathy Dutton 
projectTags: [Front end development, Design, User experience] 
image: /images/portfolio/my-protein.jpg 
date: "2014-06-06" 
---

<p class="highlight-text">Myprotein is the world’s leading online sports nutrition brand. With a range of over 2,500 high quality products and an expanding collection of activewear and accessories, the brand has become one of the most trusted health
  destinations for consumers worldwide.</p>

<h2>My role</h2>

<p>I worked as a senior UX developer on the company's flagship brand MyProtein. I worked closely with both designers and researchers to improve the website usability and introduce new features.
</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Writing production-ready, front-end code, testing and managing releases
  </li>
  <li class="unordered-list__list-item">Running a/b and multivariate tests to validate research and prove commercial worth.</li>
  <li class="unordered-list__list-item">Carrying out code reviews and re-factoring legacy CSS</li>
  <li class="unordered-list__list-item">Work in a multidisciplinary team to improve the user experience and site performance</li>
</ul>

<h3>Breadcrumb</h3>

<p>Breadcrumb links were added below the website header to aid users navigation around the site, and complex product categories. Tracking code was added to the links to help determine there usage and value.</p>

<section class="portfolio-images" style="--ratio-padding: 69.93%;">
  <div class="image-ratio">
    <img data-src="/images/portfolio/my-protein/home.jpg" class="lazyload" alt="MyProtein homepage">
  </div>
  <div class="image-ratio">
    <img data-src="/images/portfolio/my-protein/breadcrumb.jpg" class="lazyload" alt="MyProtein breadcrunb">
  </div>
</section>

<h3>Voucher pages</h3>

<p>The voucher page of the website was linked to on various marketing channels, I was heavily involved in a re-design of the page in order to increase conversion.</p>

<section class="portfolio-images" style="--ratio-padding: 175.13%;">
  <div class="image-ratio">
    <img data-src="/images/portfolio/my-protein/voucher-page.jpg" class="lazyload" alt="MyProtein voucher page">
  </div>
</section>
