---
title: AO.com
description: AO.com AV product launch - Cathy Dutton
author: Cathy Dutton
layout: portfolio-post
category: portfolio
tags: Front end development, Accessibility, Performance, CSS architecture
image: ../assets/img/portfolio/ao-cover.jpg
done: true
---


<p class="highlight-quote">AO.com is a leading online retailer, with millions of customers visiting the website each year. Launched in 2001, the company has won numerous awards for its online presence and customer service. Everything at AO revolves around the company's devotion to happiness and creating an amazing customer experience.</p>


<h2 class="heading">My role</h2>
I was responsible for the development of exciting and innovative front end pages, systems and functionality using a mixture of technologies including Gulp, HTML, Sass and Javascript. 

I joined AO as part of the team responsible for launching the TV and AV accessories division. I developed key pages for the AV launch including top level category pages, best buy pages and brand pages. I worked closely alongside industry leading UX designers, graphic designers and back end developers to successfully deliver the project to tight deadlines.

As part of this work I also developed a bespoke responsive framework to be used across the website and began work on a set of best practice guidelines for Sass and CSS usage.

Main responsibilities:

- Front end development and testing across multiple browsers, platforms, and devices
- Development of a responsive Sass based framework
- Production of Sass and CSS best practice guidelines

<h2 class="heading">Best buy pages</h2>
As part of the launch for the new TV range I developed a series of best buy pages to promote new products across a range of categories including TV, Blu-ray and DVD players and home cinema. These pages were designed to showcase the top 5 products in each category with information on price, customer reviews and product specifications.

<section class="portfolio-images">
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ao/ao-top-5-one.jpg" class="portfolio-piece__img"  alt="Top 5 TV page product section for AO.com">
    </div>
</div>
<div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="../assets/img/portfolio/ao/ao-top-5-two.jpg" class="portfolio-piece__img"  alt="Top 5 TV page banner section for AO.com">
    </div>
</div>
</section>


<h3 class="heading">AV brand pages</h3>
Alongside the new product offerings AO also launched new partnerships with leading AV brands. This resulted in the creation of brand specific category pages being rolled out across the site. I was tasked with developing a responsive and semantic solution from graphic desktop designs. 

<section class="portfolio-images">
    <div class="portfolio-piece-wrapper">
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/ao/ao-cat-one.jpg" class="portfolio-piece__img"  alt="Panasonic brand page for AO.com">
        </div>
    </div>
    <div class="portfolio-piece-wrapper">
        <div class="portfolio-piece">
            <img src="../assets/img/portfolio/ao/ao-cat-two.jpg" class="portfolio-piece__img"  alt="Sony brand page for AO.com">
        </div>
    </div>
</section>




