---
title: The Hut Group
description: The Hut Group front end development work - Cathy Dutton
projectTags: [Front end development]
image: /images/portfolio/the-hut-group-cover.jpg
date: 2014-07-07
---
<p class="highlight-text">The Hut group was founded in 2004 providing white label e-commerce websites for grocery retailers. Over the years the company acquired a series of entertainment, sports and fashion brands including Zavvi, My protein, Nintendo and Lookfantastic. The Hut group currently trade in nearly 200 countries in over 20 languages, supported by 24 currencies.</p>

<h2 class="heading">My role</h2>

<p>As a front end developer I was mostly involved in the implementation of new site features on the companies bespoke ecommerce platform. I also worked on the build of brand new sites for brands including Nectar, Zavi and Elizabeth Arden. As a member of the performance team I was responsible for improving the user experience and performance of the platform as well as carrying out quality and code reviews.</p>

<p>Main responsibilities:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Front end development and testing across multiple browsers, platforms, and devices</li>
  <li class="unordered-list__list-item">Training and supporting junior team members</li>
  <li class="unordered-list__list-item">Produce Sass and CSS best practice guidelines and presentations</li>
  <li class="unordered-list__list-item">Creation and optimisation of platform wide features for easy integration and reuse</li>
  <li class="unordered-list__list-item">New site development and integration</li>
  <li class="unordered-list__list-item">Implantation of linting tools to improve the coding standards and help build towards a coding style guide.</li>
  <li class="unordered-list__list-item">Running a/b and multivariate tests using the in-house experimentation service</li>
</ul>

<h3 class="heading">New site builds</h3>

<p>Using lean UX methodologies and techniques and working as part of a multidisciplinary team I was able to deliver site builds to agreed deadlines and time scales.</p>

<section class="portfolio-images">
    <div class="image-ratio" style="--ratio-padding: 148.14%;"> 
        <img data-src="/images/portfolio/hut/zavvi.jpg" class="lazyload"  alt="Zavvi">
    </div>
    <div class="image-ratio" style="--ratio-padding: 148.14%;"> 
        <img data-src="/images/portfolio/hut/elizabelth-arden.jpg" class="lazyload"  alt="Elizabelth Arden">
    </div>
      <div class="image-ratio" style="--ratio-padding: 148.14%;"> 
        <img data-src="/images/portfolio/hut/mio.jpg" class="lazyload"  alt="Mio">
    </div>
    <div class="image-ratio" style="--ratio-padding: 166.66%;"> 
        <img data-src="/images/portfolio/hut/look-fantastic.jpg" class="lazyload"  alt="Look Fantastic">
    </div>
</section>


<h3 class="heading">Features</h3>

<p>During my time at The Hut Group I worked on several new features for the ecommerce platform, focusing on adding value and increasing sales across a range of industries.</p>

<section class="portfolio-images" style="--ratio-padding: 69.83%;">
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/hut/reviews.jpg" class="lazyload"  alt="My protein reviews">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/hut/bundle-pages.jpg" class="lazyload"  alt="Exante diet - bundle pages">
    </div>
      <div class="image-ratio"> 
        <img data-src="/images/portfolio/hut/voucher-pages.jpg" class="lazyload"  alt="Beauty expert voucher pages">
    </div>
    <div class="image-ratio"> 
        <img data-src="/images/portfolio/hut/subscriptions.jpg" class="lazyload"  alt="Look fantastic - Subscriptions">
    </div>
</section>