--- 
title: Buy a rod fishing licence 
description: Buy a rod fishing licence interaction design work - Cathy Dutton 
projectTags: [Interaction design, Design] 
image: /images/portfolio/i-want-to-fish-cover.jpg 
date: "2016-06-06"
---

<p class="highlight-text">
  Each year the Environment Agency sells fishing licenses to around a million customers generating £22 million of income that is reinvested back into the fisheries and the environment across England and Wales.
</p>

<h2>My role</h2>

<p>My role was to design, prototype and test a fully GDS compliant user journey and interface, working within an agile, multidisciplinary team environment. I worked alongside a cross-section of business colleagues and key steak holders to ensure the
  service met both user and organisational needs.</p>

<p>During the project I was responsible for:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">
    <a href="#interaction-design">Interaction design, prototyping design concepts on paper, in code and with Balsamiq</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#user-journey">Creating an optimised user journey</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#content-design">Content design, delivering continuous improvements to the live service based on user feedback gathered from online sales, call centers and analytics</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#new-features">Researching, testing and designing new features</a>
  </li>
</ul>

<h2>The service</h2>

<p>The service passed its GDS public beta assessment and went live in January 2017 taking over £22million from 500,000 transactions in its first 2 months, with an estimated £40million and 1.2million transactions by the end of 2017.
</p>

<p>The service won a corporate service's recognition award for “Making it simple” in March 2017 and was shortlisted at the
  <a href="http://www.digileaders100.com/" class="anchor" title="DL100 awards">DL100</a>
  awards for digital public service innovation in June 2017.</p>

<p><a href="https://www.youtube.com/watch?v=t3MqLXrLLhI" target="_blank" rel="noopener" class="anchor">View the fishing licence service promotional video</a></p>

<h3>Feedback</h3>

<figure class="quote">
  <blockquote>
    The panel were particualrly impressed by the way the team have used what theyv'e learned to iteratte and improve the service. In particualr how they had explored different ways of frming questions and different question sequences
  </blockquote>
  <figcaption>GDS assessment comments</figcaption>
</figure>

<figure class="quote">
  <blockquote>
    Whenever Kevin Cunnington talks about the digital services the government will have built by 2020, he starts by enthusing about applying for a fishing licence online. Imagine CSW’s disappointment, then, when we ask the new director general of the
    Government Digital Service whether this focus on the gentle riverside pursuit is driven by a personal interest – and he responds with a quizzical look and a laugh. “No...” he says, pausing to check it isn’t a trick question. “It’s just a great
    application. I’m not a fisherman.
  </blockquote>
  <figcaption>GDS Director Kevin Cunnington,
    <cite>
      <a href="http://www.civilserviceworld.com/articles/interview/interview-gds-leader-kevin-cunnington-whitehall-self-help-groups-spend-controls" class="anchor" title="Interview: GDS leader Kevin Cunnington - Civil service world">Civil service world in March 2017</a>
    </cite>
  </figcaption>
</figure>

{# <figure class="quote">
  <blockquote>
  Since the ‘Get a fishing licence’ service has gone to Beta Public, Cathy has helped improve the service and make it better for our users. One of the changes Cathy suggested and implemented – based on the feedback we received – was to change the order we asked questions. Doing this has reduced the time juniors and under 12s need to use the service as they get the information they need quicker. This has received a lot of positive feedback since release and it was Cathy that identified this opportunity.
Cathy is great to work with. She takes a pragmatic approach and will give you an honest opinion about feedback, designs and business requests. It’s something I value immensely, and she’s been a big support for me since I became Product Owner of the ‘Get a fishing licence’ service. There’s a willingness to learn and take on board the complexities of an area like fish – and now waste – and really understand the business area which is crucial for building good products.
  </blockquote>
  <figcaption>Product owner - I want to fish service</figcaption>
</figure> #}

<h3>User feedback:</h3>

<p>The service has over 94.5% Satisfied or very satisfied user feedback from over 22,000 responses via the on site feedback form, just a few examples of this feebback are listed below:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">"Probably the easiest website I have ever used to make a purchase. Well done"</li>
  <li class="unordered-list__list-item">"Excellent service and really appreciate change to validity from date of purchase"</li>
  <li class="unordered-list__list-item">"The whole process was very easy. The boxes and questions were intuitive. - - Good effort, hard to see how it can be improved."</li>
  <li class="unordered-list__list-item">"Cant see how you could make this any easier"</li>
  <li class="unordered-list__list-item">"I am a 71 year old pensioner and I Found the site very user friendly and easy to use! -- Top Marks!"</li>
  <li class="unordered-list__list-item">"Very easy to navigate, and delighted junior licence is now free!"</li>
  <li class="unordered-list__list-item">"MUCH MUCH MUCH better than the previous post office website."</li>
  <li class="unordered-list__list-item">"The easiest application I have ever filled in, absolutely first class and for a pensioner with limited IT skills could not of been better"</li>
</ul>

<section>

  <h3 id="interaction-design" >1) Case study - Interaction design</h3>

  <p>The licence confirmation screen is used to capture the users details in order to send out notifacations including the users licence number and renewal reminders. Initial feedback on the service suggested some users were unclear on the purpose of
    this screen.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It wasn't clear I would have to write the number down"</li>
    <li class="unordered-list__list-item">"What do you send if I give my contact details?"</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 88.88%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/confirmation-screen-one.jpg" class="lazyload" alt="Origional licence confirmation screen">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Amend the functionality of the service to allow for both a text and an email to be sent if the user provides both</li>
    <li class="unordered-list__list-item">Allow users to opt in to notify from the done screen
    </li>
    <li class="unordered-list__list-item">Replay the chosen contact details on the done screen</li>
    <li class="unordered-list__list-item">Clearly state the benefits of providing contact details
    </li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 88.88%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/confirmation-screen-a.jpg" class="lazyload" alt="Licence confirmation screen">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/confirmation-screen-b.jpg" class="lazyload" alt="Licence confirmation screen">
    </div>
  </section>

</section>

<section>

  <h3 id="user-journey" >2) Case study - User journey</h3>

  <p>Based on a combanation of user feedback, call centre feedback and comments made at the GDS assesment we also looked at optermising the user journey.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"seemed to take a long time compared with previous system"</li>
    <li class="unordered-list__list-item">"poorly designed, far too long"</li>
    <li class="unordered-list__list-item">"quick intuitive process/ would like to see one major improvement though/ PLS: include price for license"</li>
    <li class="unordered-list__list-item">"Would be good to see a prices"</li>
    <li class="unordered-list__list-item">"At the section for number of rods it would be useful to have the price for 2 and 3 rods actually listed"</li>
    <li class="unordered-list__list-item">"I can't understand why I have to input my blue badge number as well as my age. As you can see I am nearly 82 years old"</li>
    <li class="unordered-list__list-item">"At no stage,until the very last did I know the cost of the licence"</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 55.52%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/card-sort.jpg" class="lazyload" alt="Card sorting">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/user-journey.jpg" class="lazyload" alt="User journey">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Move licence length to the front - To future proof service and allow for new products</li>
    <li class="unordered-list__list-item">Move address screen - To sit next to user information (Name and DOB screens)</li>
    <li class="unordered-list__list-item">Move concession screens - Allows us to add accurate pricing on licence type and number of rods screens</li>
    <li class="unordered-list__list-item">Seniors skip concession screens - These provide no added value for the users</li>
    <li class="unordered-list__list-item">Juniors skip concession screens - These provide no added value for the users &amp; under 16’s have no NI number</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 76.68%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/price-box.jpg" class="lazyload" alt="Show pricing of available products">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/junior-message.jpg" class="lazyload" alt="Clearly show the details of the junior product">
    </div>
  </section>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It was helpful to put in my dob to see I could get a free licence."</li>
    <li class="unordered-list__list-item">"This was for a Junior licence and I found it a very easy process. In time I will be applying for my own (Adult) licence and I'm hoping it will be as straightforward"</li>
    <li class="unordered-list__list-item">"1. The website was extremely easy to use. - 2. Though I didn't qualify for concessions, the way they are offered makes it very easy for those who do. - 3. Good job all round, well done."</li>
  </ul>

</section>

<section>

  <h3 id="content-design" >3) Case study - Content design</h3>

  <p>Google analytics shows over half of users do not see the static pages which explain the different licence types and number of rod rules. Therefore we needed to introduce clearer content throughout the journey.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"Which fishing licence do I need?"</li>
    <li class="unordered-list__list-item">"The question about number of rods is very confusing. I have bought a Licence for two rods and hope this allows my wife to also fish but it is not clear. This is not good"</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 88.80%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/rods-origional.jpg" class="lazyload" alt="Origional number of rods screen">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/licence-origional.jpg" class="lazyload" alt="Origional licence type screen">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Each page displays the relevant information to aid users</li>
    <li class="unordered-list__list-item">"very straight forward in process and well explained regarding which license allows which type of fishing"</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 88.80%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/rods-new.jpg" class="lazyload" alt="New number of rods screen">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/licence-new.jpg" class="lazyload" alt="New licence type screen">
    </div>
  </section>

</section>

<section>
  <h3 id="new-features" >4) Case study - New features</h3>

  <p>User feedback and lab sessions showed many anglers buy more then one fishing licence at a time. Going through Worldpay twice proved to be needlessly laborious, particularly with the telesales journey.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It would be a lot easier to just have had to pay once"</li>
    <li class="unordered-list__list-item">"we buy 2 licences at the same time would be good to have a shopping basket to buy two but pay once"</li>
    <li class="unordered-list__list-item">"Need to put in details twice as I need two two rod licences"</li>
  </ul>

  <section class="portfolio-images" style="--ratio-padding: 88.26%;">
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/do-you-want-to-buy-another-licence.jpg" class="lazyload" alt="Do you want to buy another licence?">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/multiple-licences.jpg" class="lazyload" alt="Multiple licences">
    </div>
    <div class="image-ratio">
      <img data-src="/images/portfolio/fishing-licence/multiple-orders.jpg" class="lazyload" alt="Multiple orders">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Users can buy multiple licences to fish for a weekend, extend the number of rods or for multiple users in one transaction</li>
  </ul>

</section>
