--- 
title: Buy a rod fishing licence 
description: Buy a rod fishing licence interaction design work - Cathy Dutton 
projectTags: [Interaction design, Design] 
image: /images/portfolio/i-want-to-fish-cover.jpg 
date: "2016-06-06"
period: 2017 - 2018
pageName: Portfolio
pageIntro: Each year the Environment Agency sells fishing licenses to around a million customers generating £22 million of income that is reinvested back into the fisheries and the environment across England and Wales.
---

{# headerOne: Buy a rod fishing licence 
strapline: Buy a rod fishing licence interaction design work  #}

{# <p class="highlight-text no-margin">
  
</p> #}

<h2>The project</h2>

<p>The task for team was:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">to replace a legacy website ran by the Post Office</li>
  <li class="unordered-list__list-item">to remove the reliance on the suppliers and improve the Environment Agencys ability to make changes</li>
  <li class="unordered-list__list-item">to collect better data on sales</li>
  <li class="unordered-list__list-item">to improve digital take up and reduce the ammount of commission payed for over the counter sales
</li>
</ul>


<h2>My role</h2>

<p>The service failed the following points of a Beta assesment: 

<ul class="unordered-list">
<li class="unordered-list__list-item">understanding user needs</li>
<li class="unordered-list__list-item">improving the service based on user research and usability testing</li>
<li class="unordered-list__list-item">building using agile, iterative and user-centred methods</li>
<li class="unordered-list__list-item">iterating and improving the service on a frequent basis</li>
<li class="unordered-list__list-item">creating a simple and intuitive service</li>
</ul>

<p>Feedback from the asesment included:</p>

<ul class="unordered-list">
<li class="unordered-list__list-item"><q>The service was relatively straightforward for users but there were a number of areas that could be simpler. 
</q></li>
<li class="unordered-list__list-item"><q>There were points in the flow where the questions were confusing or not relevant
</q></li>
<li class="unordered-list__list-item"><q>The benefit of providing information was not clearly explained to users, nor is the impact of them not providing the information. 
</q></li>
<li class="unordered-list__list-item"><q>There wasn’t enough evidence that the team have thought about the needs of offline users.
</q></li>
</ul>


<p>My role in the short term was to take all this feedback and get the service into a place where it would meet user needs, be simple and intuative, and pass a service assesment
</p>

<p>Longer term my role was to make sure the whole service was meeting the needs of Anglers and that user research played a bigger part in deciding what the team worked on. 
</p>

{# <p>My role was to design, prototype and test a fully GDS compliant user journey and interface, working within an agile, multidisciplinary team environment. I worked alongside a cross-section of business colleagues and key steak holders to ensure the
  service met both user and organisational needs.</p>

<p>During the project I was responsible for:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">
    <a href="#interaction-design">Interaction design, prototyping design concepts on paper, in code and with Balsamiq</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#user-journey">Creating an optimised user journey</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#content-design">Content design, delivering continuous improvements to the live service based on user feedback gathered from online sales, call centers and analytics</a>
  </li>
  <li class="unordered-list__list-item">
    <a href="#new-features">Researching, testing and designing new features</a>
  </li>
</ul> #}



<h2>What we did</h2>

  <h3 id="user-journey">User journey</h3>

  <p>The biggest thing to tackle was the user journey and question sequence. Feedback from GDS centred around confusion over why questions were being asked.</p>

  <p>Feedback from users was similar:</p>
  <ul class="unordered-list">
    <li class="unordered-list__list-item"><q>It seemed to take a long time compared with previous system</q></li>
    <li class="unordered-list__list-item"><q>I can't understand why I have to input my blue badge number as well as my age. As you can see I am nearly 82 years old</q></li>
    <li class="unordered-list__list-item"><q>At no stage,until the very last did I know the cost of the licence</q></li>
     <li class="unordered-list__list-item"><q>It seemed to take a long time compared with previous system</q></li>
  </ul>

  <p>I started by creating cards for each screen and getting the whole team to have a go at ordering them in the way they thought would work best. This really helped to get everyone involved, on the same page and to see the complexity in the service</p>

  <p>We recorded pro’s and con's for each sequence and tested new user journeys with users. The biggest learning for the team was that there was no perfect answer
  </p>

  <p>We did get an idea of the key decision screens that had the biggest impact on the journey putting these screens closer to the front helped create a more streamlined experience.</p>


<figure id="figure1"> <img src="/images/portfolio/fishing-licence/card-sort.jpg" loading="lazy" alt="Card sorting">
<figcaption>Card sorting exercise</figcaption>
</figure>

<figure id="figure2"><img src="/images/portfolio/fishing-licence/user-journey.jpg" loading="lazy" alt="User journey">
<figcaption>User journey maping</figcaption>
</figure>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Move licence length to the front to future proof the service and allow for new products</li>
    <li class="unordered-list__list-item">Move address screen to sit next to user information (Name and date of birth screens)</li>
    <li class="unordered-list__list-item">Move concession screens allowing us to add accurate pricing on licence type and number of rods screens</li>
    <li class="unordered-list__list-item">Allow seniors to skip concession screens as they provided no added value for the users</li>
    <li class="unordered-list__list-item">Allow juniors skip concession screens as they provided no added value for the users &amp; were a blocker to under 16’s have no National Insurance number</li>
  </ul>

  <section class="portfolio-images">
    <figure id="figure1"> <img src="/images/portfolio/fishing-licence/price-box.jpg" loading="lazy" alt="Show pricing of available products">
      <figcaption>Price box design</figcaption>
    </figure>

    <figure id="figure1"><img src="/images/portfolio/fishing-licence/junior-message.jpg" loading="lazy" alt="Clearly show the details of the junior product">
      <figcaption>Messaging for junior anglers</figcaption>
    </figure>
  </section>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It was helpful to put in my date of birth to see I could get a free licence."</li>
    <li class="unordered-list__list-item">"This was for a Junior licence and I found it a very easy process. In time I will be applying for my own (Adult) licence and I'm hoping it will be as straightforward"</li>
    <li class="unordered-list__list-item">"1. The website was extremely easy to use. - 2. Though I didn't qualify for concessions, the way they are offered makes it very easy for those who do. - 3. Good job all round, well done."</li>
  </ul>

</section>

<section class="flow">

  <h3>Information architecture</h3>

  <p>The second key thing we had to work on was removing some of the confusion by giving people the guidance they needed at the point they needed it.
</p>

<p>Changes to the question sequence helped us do this. We could now make it clearer to users how much they would pay and more importantly why.</p>



  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"Which fishing licence do I need?"</li>
    <li class="unordered-list__list-item">"The question about number of rods is very confusing. I have bought a Licence for two rods and hope this allows my wife to also fish but it is not clear. This is not good"</li>
  </ul>

  <section class="portfolio-images">

    <figure id="figure1"> <img src="/images/portfolio/fishing-licence/rods-origional.jpg" loading="lazy" alt="Origional number of rods screen">
      <figcaption>Original number of rods design</figcaption>
    </figure>

     <figure id="figure1"> <img src="/images/portfolio/fishing-licence/licence-origional.jpg" loading="lazy" alt="Origional licence type screen">
      <figcaption>Original license type design</figcaption>
    </figure>

  </section>


  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Each page displays the relevant information to aid users</li>
    <li class="unordered-list__list-item">"very straight forward in process and well explained regarding which license allows which type of fishing"</li>
  </ul>

  <section class="portfolio-images">

    <figure id="figure1"> <img src="/images/portfolio/fishing-licence/rods-new.jpg" loading="lazy" alt="New number of rods screen">
      <figcaption>New license type design</figcaption>
    </figure>

     <figure id="figure1">  <img src="/images/portfolio/fishing-licence/licence-new.jpg" loading="lazy" alt="New licence type screen">
      <figcaption>New license type design</figcaption>
    </figure>

  </section>

</section>
{# 
<section class="flow">
  <h3 id="new-features" >Case study - New features</h3>

  <p>User feedback and lab sessions showed many anglers buy more then one fishing licence at a time. Going through Worldpay twice proved to be needlessly laborious, particularly with the telesales journey.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It would be a lot easier to just have had to pay once"</li>
    <li class="unordered-list__list-item">"we buy 2 licences at the same time would be good to have a shopping basket to buy two but pay once"</li>
    <li class="unordered-list__list-item">"Need to put in details twice as I need two two rod licences"</li>
  </ul>

  <section class="portfolio-images">
    <div class="">
      <img src="/images/portfolio/fishing-licence/do-you-want-to-buy-another-licence.jpg" loading="lazy" alt="Do you want to buy another licence?">
    </div>
    <div class="">
      <img src="/images/portfolio/fishing-licence/multiple-licences.jpg" loading="lazy" alt="Multiple licences">
    </div>
    <div class="">
      <img src="/images/portfolio/fishing-licence/multiple-orders.jpg" loading="lazy" alt="Multiple orders">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Users can buy multiple licences to fish for a weekend, extend the number of rods or for multiple users in one transaction</li>
  </ul>

</section> #}




<h2>The results</h2>

<p>The service passed its GDS public beta assessment and went live in January 2017 taking over £22million from 500,000 transactions in its first 2 months, with an estimated £40million and 1.2million transactions by the end of 2017.
</p>

<p>The service won a corporate service's recognition award for “Making it simple” in March 2017 and was shortlisted at the
  <a href="http://www.digileaders100.com/" class="anchor" title="DL100 awards">DL100</a>
  awards for digital public service innovation in June 2017.</p>

<p><a href="https://www.youtube.com/watch?v=t3MqLXrLLhI" target="_blank" rel="noopener" class="anchor">View the fishing licence service promotional video</a></p>

<h3>Feedback</h3>

<figure class="quote">
  <blockquote>
    The panel were particualrly impressed by the way the team have used what theyv'e learned to iteratte and improve the service. In particualr how they had explored different ways of frming questions and different question sequences
  </blockquote>
  <figcaption>GDS assessment comments</figcaption>
</figure>

<figure class="quote">
  <blockquote>
    Whenever Kevin Cunnington talks about the digital services the government will have built by 2020, he starts by enthusing about applying for a fishing licence online. Imagine CSW’s disappointment, then, when we ask the new director general of the
    Government Digital Service whether this focus on the gentle riverside pursuit is driven by a personal interest – and he responds with a quizzical look and a laugh. “No...” he says, pausing to check it isn’t a trick question. “It’s just a great
    application. I’m not a fisherman.
  </blockquote>
  <figcaption>GDS Director Kevin Cunnington,
    <cite>
      <a href="http://www.civilserviceworld.com/articles/interview/interview-gds-leader-kevin-cunnington-whitehall-self-help-groups-spend-controls" class="anchor" title="Interview: GDS leader Kevin Cunnington - Civil service world">Civil service world in March 2017</a>
    </cite>
  </figcaption>
</figure>

<h3>User feedback:</h3>

<p>The service has over 94.5% Satisfied or very satisfied user feedback from over 22,000 responses via the on site feedback form, just a few examples of this feebback are listed below:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><q>Probably the easiest website I have ever used to make a purchase. Well done"</q></li>
  <li class="unordered-list__list-item"><q>Excellent service and really appreciate change to validity from date of purchase</q></li>
  <li class="unordered-list__list-item"><q>The whole process was very easy. The boxes and questions were intuitive. - - Good effort, hard to see how it can be improved.</q></li>
  <li class="unordered-list__list-item"><q>Cant see how you could make this any easier</q></li>
  <li class="unordered-list__list-item"><q>I am a 71 year old pensioner and I Found the site very user friendly and easy to use! -- Top Marks!</q></li>
  <li class="unordered-list__list-item"><q>Very easy to navigate, and delighted junior licence is now free!</q></li>
  <li class="unordered-list__list-item"><q>MUCH MUCH MUCH better than the previous post office website.</q></li>
  <li class="unordered-list__list-item"><q>The easiest application I have ever filled in, absolutely first class and for a pensioner with limited IT skills could not of been better</q></li>
</ul>



  {# <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"seemed to take a long time compared with previous system"</li>
    <li class="unordered-list__list-item">"poorly designed, far too long"</li>
    <li class="unordered-list__list-item">"quick intuitive process/ would like to see one major improvement though/ PLS: include price for license"</li>
    <li class="unordered-list__list-item">"Would be good to see a prices"</li>
    <li class="unordered-list__list-item">"At the section for number of rods it would be useful to have the price for 2 and 3 rods actually listed"</li>
    <li class="unordered-list__list-item">"I can't understand why I have to input my blue badge number as well as my age. As you can see I am nearly 82 years old"</li>
    <li class="unordered-list__list-item">"At no stage,until the very last did I know the cost of the licence"</li>
  </ul> #}




{# 
  <section class="flow">

  <h3 id="interaction-design" >Case study - Interaction design</h3>

  <p>The licence confirmation screen is used to capture the users details in order to send out notifacations including the users licence number and renewal reminders. Initial feedback on the service suggested some users were unclear on the purpose of
    this screen.</p>

  <p>Feedback:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">"It wasn't clear I would have to write the number down"</li>
    <li class="unordered-list__list-item">"What do you send if I give my contact details?"</li>
  </ul>

  <section class="portfolio-images">
    <div class="">
      <img src="/images/portfolio/fishing-licence/confirmation-screen-one.jpg" loading="lazy" alt="Origional licence confirmation screen">
    </div>
  </section>

  <p>Outcomes:</p>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">Amend the functionality of the service to allow for both a text and an email to be sent if the user provides both</li>
    <li class="unordered-list__list-item">Allow users to opt in to notify from the done screen
    </li>
    <li class="unordered-list__list-item">Replay the chosen contact details on the done screen</li>
    <li class="unordered-list__list-item">Clearly state the benefits of providing contact details
    </li>
  </ul>

  <section class="portfolio-images">
    <div class="">
      <img src="/images/portfolio/fishing-licence/confirmation-screen-a.jpg" loading="lazy" alt="Licence confirmation screen">
    </div>
    <div class="">
      <img src="/images/portfolio/fishing-licence/confirmation-screen-b.jpg" loading="lazy" alt="Licence confirmation screen">
    </div>
  </section> #}

</section> 