--- 
title: I want to fish service 
description: I want to fish service design work - Cathy Dutton 
projectTags: [Service design] 
image: /images/portfolio/defra-cover.jpg 
date: 2017-11-11 
---

<p class="highlight-text">
  Angling generates over £1 billion for the UK economy, and is a much loved outdoor sport connecting people with nature. Each year the Environment Agency sells fishing licences to around a million customers generating £22 million of income that is
  re-invested back into the fisheries and the environment across England and Wales.
</p>

<h2 class="heading">My role</h2>

<p>I was hired in 2016 as an interaction designer on the 'Buy a rod fishing licence' service, after the successful launch of the service into public beta I began to look at the end to end user journey for Anglers. As well as buying a rod licence
  Anglers are also required to comply with a set of complex bylaws and complete returns on any Salmon or Sea trout caught.</p>

<p>During the project I was responsible for:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Mapping out the end to end user journey, highlighting touch points with the EA, other agencies and some of the main pain points</li>
  <li class="unordered-list__list-item">Working with the fisheries department, bailiffs, marketing teams, call centre staff and anglers to get a clearer understanding of the as is service</li>
  <li class="unordered-list__list-item">Mapping out to be end to end service.</li>
</ul>

<div class="image-ratio image-ratio--medium">
  <img data-src="/images/portfolio/fishing-service/service-map.jpg" class="lazyload" alt="Service map">
</div>

<p>Throughout the process key themes emerged across the service:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">
    <em>Trust</em>
    - Lack of understanding and visibility around the EA, how licence money is spent and what's being done to improve Angling</li>
  <li class="unordered-list__list-item">
    <em>Transparency
    </em>- Clearer communication around where licence money is spent, what the EA does and how to be a compliant angler</li>
  <li class="unordered-list__list-item">
    <em>Communication</em>
    - Mixed messages around compliance and participation, multiple messages in single interactions reducing clarity. (Marketing, compliance and education, notifacations)</li>
  <li class="unordered-list__list-item">
    <em>Visibility</em>
    - Lack of visibility for enforcement, maintenance and enhancement of angling</li>
  <li class="unordered-list__list-item">
    <em>Complexity</em>
    - Complicated rules that vary on location, water and species, as well as complicated internal process around enforcement and licence checks.
  </li>
</ul>

<div class="image-ratio image-ratio--medium">
  <img data-src="/images/portfolio/fishing-service/digital-service-map.jpg" class="lazyload" alt="Digital service map">
</div>

<p>Based on these themes ideas for potential further research were developed including:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">How might we improve the compliance and understanding of angling laws and legislation.</li>
  <li class="unordered-list__list-item">How might we improve communication with anglers, clearly distinguishing between sales, education and notifications.
  </li>
  <li class="unordered-list__list-item">How might we improve the interaction with anglers when checking licences.</li>
</ul>
