---
title: Waste tracking discovery
description: Waste tracking discovery service design work - Cathy Dutton
tags: [Service design]
image: /images/portfolio/waste-cover.jpg
date: 2018-11-11
---
<p class="highlight-text">
 Each year the UK produces over 40 million tonnes of waste, all of this waste needs to be transported, treated and disposed of correctly. The UK waste management industry currently has over 70,000 employees and an annual turnover of around £9 billion with over 23 million waste movements each year.
</p>

<p>DEFRA worked alongside <strong>SEPA</strong>, <strong>NIEA</strong>, <strong>Environment Agency</strong> and <strong>NRW</strong> on a Discovery project to scope out a UK waste tracking service, aimed to track the movement of all waste, to benefit both the environment and the economy. <a href="https://defradigital.blog.gov.uk/2018/01/15/a-new-discovery-for-tracking-waste/" title="Waste discovery project">Read more about this project</a>.</p>

<h2 class="heading">My role</h2>

<p>I was part of the core project team based in Warrington working as a service designer on a 12 week discovery project. During the discovery I was responsible for:</p>

<ul class="unordered-list">
<li class="unordered-list__list-item">Working with a user researcher to facilitate and observe interviews, site visits and workshops</li>
<li class="unordered-list__list-item">Working with the service owner and stakeholders to frame the problem and produce a challenge statement</li>
<li class="unordered-list__list-item">Understanding the existing service and it's touch points with other services</li>
<li class="unordered-list__list-item">Working alongside a user researcher and business analyst to theme both user and organisational needs</li>
<li class="unordered-list__list-item">Creating a selection of journey maps detailing the service through the eyes of the user</li>
<li class="unordered-list__list-item">Writing a set of hypotheses to test throughout discovery</li>
<li class="unordered-list__list-item">Producing 'how might we' statements for potential Alpha projects</li>
</ul>

<h3 class="heading">Understanding the existing service</h3>

<p>Paper sketches were used to capture conversations with subject matter experts around the current waste lifecycle. Images were used to highlight loopholes in policy, areas of lost data, duplicate reporting and excess paperwork.</p>

<section class="portfolio-images">
<div class="portfolio-piece-wrapper-full">
    <div class="portfolio-piece">
        <img src="/images/portfolio/waste-tracking/service-sketch.jpg" class="portfolio-piece__img"  alt="Waste tracking existing service sketch">
    </div>
</div>
</section>

<h3 class="heading">Framing the problem</h3>

<p>After an initial broad phase of user research we began to list and priorities a series of problem statements in order align efforts and define the scope of the service.</p>

<p>Problems:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Gaps in data on waste produced, recycled, treated etc</li>
  <li class="unordered-list__list-item">Waste crime</li>
  <li class="unordered-list__list-item">Mis classification of waste</li>
  <li class="unordered-list__list-item">Shortage of officers &amp; data making enforcement difficult</li>
  <li class="unordered-list__list-item">Lack of education &amp; knowledge of best practices</li>
  <li class="unordered-list__list-item">Duplicate data entry</li>
  <li class="unordered-list__list-item">Labor intensive &amp; paperwork heavy processes</li>
  <li class="unordered-list__list-item">No level playing field for industry</li>
</ul>

<!-- <section class="portfolio-images"> <div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="/images/portfolio/waste-tracking/problem-statements.jpg" class="portfolio-piece__img"  alt="Waste industry problem statements">
    </div></div>
</section>  -->

<p>At the end of the exercise we produced a Challenge Statement for the remainder of the discovery project:</p>

<figure class="quote">
  <blockquote>
  "Capture and make available in one place the most useful data on the movement &amp; transfer of ownership of waste."
  </blockquote>
</figure>
<p></p>

<h3 class="heading">User needs</h3>

<p>Throughout discovery a number of research methods were used to gain insights into the current service. As a team we carried out <strong>17 site visits</strong>, <strong>6 workshops</strong> and <strong>21 interviews</strong> as well sending out <strong>3 surveys</strong>. The team covered every sector of the waste industry from producers to waste treatment plants, landfill sites and internal teams including data analysis, waste crime prevention and enforcement.</p>

<!-- <section class="portfolio-images"> <div class="portfolio-piece-wrapper">
    <div class="portfolio-piece">
        <img src="/images/portfolio/waste-tracking/user-needs.jpg" class="portfolio-piece__img"  alt="User and organisartional needs">
    </div></div>
</section>  -->

<p>During the analysis phase at the end of discovery a list of high level needs for both users and the organisation were created:</p>

<h4 class="heading">User needs</h4>

<ul class="unordered-list">
  <li class="unordered-list__list-item">To run a successful business</li>
  <li class="unordered-list__list-item">To comply with legislation</li>
  <li class="unordered-list__list-item">To not loose time on admin and regulatory work</li>
  <li class="unordered-list__list-item">To have a level playing field with other businesses who also comply</li>
  <li class="unordered-list__list-item">To have consistent regulations across the UK</li>
</ul>

<h4 class="heading">Organisational needs</h4>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Move towards a circular economy</li>
  <li class="unordered-list__list-item">Reduce waste crime</li>
  <li class="unordered-list__list-item">Increase recycling inline with EU targets</li>    
  <li class="unordered-list__list-item">Educate the industry on best practices</li>
</ul>

<h3 class="heading">Hypotheses</h3>

<p>In order to expose gaps in our research and to help test out assumptions we created a series of hypothesis to test:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">If we had data in one place we could generate more reliable reports and gain better insights</li>
  <li class="unordered-list__list-item">We are not collecting the correct data</li>
  <li class="unordered-list__list-item">The Duty Of Care process is no longer fit for industry</li>
  <li class="unordered-list__list-item">A better digital system will give time back to EA officers, and increase the quality off data </li>
  <li class="unordered-list__list-item">With better enforcement and training we will receive more accurate data and produce a level playing field for industry</li>
</ul>

 <h3 class="heading">User journey maps</h3>

<p>A series of user journey maps were created to represent the full complexity of the service as the users see it. To begin with journey maps were created for a waste treatment plant, landfill site and waste producer.</p>

<p>The maps were used to illustrate differences between real use cases and the organisations process or legislation diagrams. Users pain points, touch points with government departments and internal processes were used to spot opportunities to remove complexity.</p>

<section class="portfolio-images">
    <div class="portfolio-piece-wrapper-full">
        <div class="portfolio-piece">
            <img src="/images/portfolio/waste-tracking/journey-map.jpg" class="portfolio-piece__img"  alt="Landfil user journey map">
        </div>
    </div>
</section>

<h3 class="heading">Discovery outputs</h3>

<p>At the end of discovery we put together a series of 'How might we' statements for potential Alpha projects:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">How might we collate all data on waste movements in one place?</li>
  <li class="unordered-list__list-item">How might we improve the quality of data we collect on waste movements?</li>
  <li class="unordered-list__list-item">How might we improve the duty of care process?</li>
  <li class="unordered-list__list-item">How might we enforce best practices and increase compliance?</li>
</ul>

<h3 class="heading">Moving to Alpha</h3>

<p>At the end of discovery the waste tracking project but in a successful bid for GovTech Funding. </p>

<figure class="quote">
  <blockquote>
"In shaping this challenge, Defra has worked closely with the Environment Agency and counterparts in Scotland, Wales and Northern Ireland on a waste tracking discovery project. The research conducted during this discovery project, including considerable user research will be used to support this challenge." 
  </blockquote>
</figure>

<p>
  <a href="https://ciwm-journal.co.uk/waste-tracking-announced-in-first-round-of-govtech-fund-challenges/" title="Waste tracking GovTech fund">Read more about this project</a>.
</p>

<!--  <section class="portfolio-images">
    <blockquote>
        <p>Cathy Joined DEFRA as an Interaction Designer but is currently demonstrating all the skills and capabilities of a Service Designer.  Cathy is able to think strategically and understands the context she is working in. Cathy is showing great resilience and supporting the Service Owner through discovery. </p>

        <p>Cathy is very much leading the service design aspect of the waste tracking discovery, and now she has finally received the tools, I think we will see some great output coming from Cathy.</p>

        <p>Cathy is very user centered, creative and is a great advocate for agile and digital ways of working.  Cathy is great at taking ideas and running with them.</p>
    </blockquote> 
    <p class="quote-name">Feedback on service design role</p> 
</section>
 -->