---
title: Head of Design
description: Head of Service and Interaction Design at the Department for the Environment, Food and rural Affairs (Defra) - Cathy Dutton 
projectTags: [Design leadership] 
image: /images/portfolio/design-team-cover.jpg 
date: 2019-11-11 
period: 2019 - 2022
pageName: Portfolio
pageIntro: As Head of Design, I lead a community of 60 plus interaction and service designers across the Department for Environment, Food and Rural Affairs (Defra).
---

<p class="highlight-text no-margin">
I support teams to design and deliver efficient, simple, and easy to use services ensuring we deliver the right things for our users.
</p>

<h2>My role</h2>

<p>
My role included recruiting, managing, and mentoring designers as well as setting the strategy for design in Defra and defining the standards we work to.  
</p>

<p>
As part of my role I: 
</p>
<ul class="unordered-list">
 <li class="unordered-list__list-item">Grew the design team from 5 to almost 60 in 3 years</li>
 <li class="unordered-list__list-item">Worked with stakeholders at all levels to raise awareness and visibility of what good design looks like</li>
 <li class="unordered-list__list-item">Supported designers across multiple projects and business areas, building a community of practice and supporting their learning and development goals</li>
 <li class="unordered-list__list-item">Established the discipline of Service Design in Defra, created the right spaces for servie designers to work in and hired the first permanent team members</li>
 <li class="unordered-list__list-item">Influenced the procurement process for consultancies, partners, websites, and services. Helping to make sure the things we buy meet our own and Government’s design standards</li>
 <li class="unordered-list__list-item">Established the Defra design community by introducing regular cross Defra community meetings, weekly drop-in sessions, and slack standups to increase awareness, knowledge sharing, and team spirit</li>
 <li class="unordered-list__list-item">Worked with the design community to create a set of design standards for Defra and promoted these to business areas through relationship managers and portfolios</li>
 <li class="unordered-list__list-item">Worked with GDS to create a way for departments to share best practices and standards (not patterns or components). Starting with a mapping working group with the goal of showing what good looks like and producing some shared government standards for inclusive maps</li>
 <li class="unordered-list__list-item">Worked with stakeholders to raise the importance of inclusive and accessible design, leading to the recruitment of Accessibility Consultants in Defra</li> 
</ul>


<h3>Defenitions</h3>

<p>My first priority was to create a concise and consistent approach for Interaction and Service Design.</p>

<p>To help with this I created a list of <a href="https://github.com/DEFRA/design/blob/master/design.md#interaction-design" class="anchor" rel="noopener" target="_blank" title="things interaction designers do">things interaction designers do</a>.

I aligned this to products/projects that Defra Digital deliver to help with estimating furure work. The description is open source and can be contributed to by anyone in the design team.</p>

<p><a href="https://github.com/DEFRA/design/blob/master/design.md#service-design" class="anchor" rel="noopener" target="_blank" title="what service designers do">What service designers do</a> was more about the spaces designers work in rather then the tasks they would complete. This helped to differentiate the role from other UCD roles.</p>

<p>These definitions are being used to create a consistent understanding of the roles and the types of projects designers should be involved in. </p>

<p>To help with this I also created defenitions of delivery types.</p>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/product-types.jpg" loading="lazy" alt="Component, Product and Service diagram">
  <figcaption>Component, Product and Service diagram</figcaption>
</figure>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><b>A component</b> - which is a single thing that could be used on multiple products and services </li>
  <li class="unordered-list__list-item"><b>A Product</b>  - which is a single interaction by a user with the organisation, usually one step in a larger user journey 
</li>
  <li class="unordered-list__list-item"><b>A Service</b> - A service has multiple touch-points or interactions and that’s where a service designer should be.
</li>
</ul>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/programmes-of-work.jpg" loading="lazy" alt="Whole service and collection of products diagram">
  <figcaption>Whole service and collection of products diagram</figcaption>
</figure>

<ul class="unordered-list">
  <li class="unordered-list__list-item"><b>a whole service</b> - which is a collection of services together that makeup ‘a whole service’ or programme of work </li>
  <li class="unordered-list__list-item"><b>a collection of products</b>  - which is a collection of products that don't make up one whole service</li>
</ul>

<p>I discussed this work in more deatil <a href="https://youtu.be/MP8uZfYlhSQ?t=1356" class="anchor" rel="noopener" target="_blank" title="How to organise and position service design">at discuss a design challenge - How to organise and position service design.</a></p>


<h3>Scaling the design team</h3>

<p>In the 3 years I held the Head of Design role I was able to grow the design team from 5 to more than 60 interaction and service designers.  
</p>

<p>A large part of this was scaling the service design capability taking the team from a handful of contractors, to a team of principle and senior civil servants.</p>

<p>I was able to:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Grow the Interaction Design team from 5 to 30</li>
  <li class="unordered-list__list-item">Grow the Service Design team from 0 to 15</li>
  <li class="unordered-list__list-item">Introduce a Design Oprations role</li>
  <li class="unordered-list__list-item">Introduce Accessibility roles</li>
  <li class="unordered-list__list-item">Introduce hands on lead roles for Service Design</li>
  <li class="unordered-list__list-item">Introduce Design Manager roles to help support a scaling team</li>
  <li class="unordered-list__list-item">Hire our first design intern and set out plans to hire more junior design roles</li>
</ul>


<figure id="figure1">
  <img src="/images/portfolio/head-of-design/team-size.jpg" loading="lazy" alt="Design team size">
  <figcaption>Design team size</figcaption>
</figure>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/team-structure.jpg" loading="lazy" alt="Design team structure">
  <figcaption>Design team structure</figcaption>
</figure>


<h3>Design community</h3>

<p>When I joined Defra in 2016 there were 4 designers working in Warrington and Bristol offices. There were no community activities or on-boarding processes for the team.</p>
<p>One of the first things I wanted to do was create a consistent onboarding process giving people access to all the information they might need in one place.
</p>
<p>I created a <a href="https://trello.com/b/HWWDXWv7/permanent-designer-onboarding" class="anchor" rel="noopener" target="_blank" title="Designer onboarding">Trello board</a> adapted from <a href="https://inclusivedesignrecruitment.co.uk/" class="anchor" rel="noopener" target="_blank" title="inclusive recruitment website">Snooks inclusive recruitment website</a></p>

<p>I also set up community events to make sure designers in all offices felt like part of one team. I was able to:
</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Introduce regular cross Defra community meetings, held each month we used this time to learn more about Defra worked as an organisation and had guest speakers from inside and outside of Government
</li>
  <li class="unordered-list__list-item">Set up weekly drop-in sessions, these had no agenda and were an opportunity for people to meet other designers, get quick feedback or ask questions
</li>
  <li class="unordered-list__list-item">Used slack for daily team updates or stand up's to increase awareness, knowledge sharing, and team spirit
</li>
  <li class="unordered-list__list-item">Introduced Design team days for our hubs in Warrington Bristol and York, these helped people to get back into the office and meet other designers face to face
</li>
  <li class="unordered-list__list-item">Set up tailored training with Snook for the design team based on each team member's career conversations and skills gaps/interests.
</li>
  </ul>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/trello.jpg" loading="lazy" alt="Induction board for designers">
  <figcaption>Induction board for designers</figcaption>
</figure>











<h3>Progression framework</h3>

<p>After hiring teams and growing the community I wanted to focus on a progression framework so the whole team was aware of the routes and opportunities available to them.</p>

<p>I created a set of standard objective topics including community activities, sustainable design, and personal development. Each topic has a set of suggested activities and expected outcomes for each grade.
</p>

<p>Career discussions were also used to arrange team training to grow our in-house service design capability.
</p>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/framework.jpg" loading="lazy" alt="Porgression framework for designers">
  <figcaption>Porgression framework for designers</figcaption>
</figure>

<figure id="figure1">
  <img src="/images/portfolio/head-of-design/progression-routes.jpg" loading="lazy" alt="Progression routes">
  <figcaption>Progression routes for designers</figcaption>
</figure>



<h3>Planning for the future</h3>

<p>The same objective categories were used to create a 3-year roadmap for the design team, activities were split into the head of design role and operations roles.</p>

<p><b>Head of Design</b> Strategy, vision, and direction. where are we going and how do we get there?
</p>	
	
<p><b>Design Operations</b> Day-to-day running of design and the design team. How we can do design better?
</p>

<section class="portfolio-images">
  <figure id="figure1">
    <img src="/images/portfolio/head-of-design/delivery.jpg" loading="lazy" alt="Delivery goals">
    <figcaption>Delivery goals</figcaption>
  </figure>
  <figure id="figure1">
    <img src="/images/portfolio/head-of-design/community.jpg" loading="lazy" alt="community goals">
    <figcaption>Community goals</figcaption>
  </figure>
</section>