---
title: International trade 
description: gfdg - Cathy Dutton 
projectTags: [Service design] 
image: /images/portfolio/trade-cover.jpg 
date: 2022-02-02 
period: 2022
pageName: Portfolio
pageIntro: The UK border is a combination of policies, processes and systems delivered by both public and private organisations across more than 270 recognised crossing points and many other smaller entry points across the UK. The smooth operation of these is vital to the UK’s economy, safety, biosecurity and ability to combat illegal migration. 
---

Imports from Great Britain in July 2021 decreased by €467 million (-32%) to €983 million compared with July 2020 
Some companies have chosen not to continue exporting to ROI due to “long and complex export processes”                                


Our research interviews have highlighted that: 
For one exporter it has incurred a £50 cost per order to export to NI for additional IPAFFS processes, £400 per order administrative costs to export to Europe (not NI) and an additional hiring of two full time additional staff to cover processes



<h2>My role</h2>

<p>I joined the trade team to work as a Principle Service Designer looking accross the trade portfolio to:</p>

<ul class="unordered-list">
  <li class="unordered-list__list-item">Input into the Trade service roadmap and ensure user needs are central to the delivery</li>
  <li class="unordered-list__list-item">Understand user needs and track interactions across departmental and organisational boundaries</li>
  <li class="unordered-list__list-item">Lead on ensuring that interactions and user journeys across the program are rational and consistent</li>
  <li class="unordered-list__list-item">Visualise/map existing trade products and processes, highlighting inconsistencies, inefficiencies, dependencies, pain points, and dead ends.</li>
  <li class="unordered-list__list-item">Visualise/map relationships between different products or sub-services</li>
  <li class="unordered-list__list-item">Identify opportunities for service improvement and cost reduction within existing services </li>
  <li class="unordered-list__list-item">Identify opportunities to align internal processes across business areas </li>
  <li class="unordered-list__list-item">Identify opportunities to redesign services around users goals</li>
  <li class="unordered-list__list-item">Align and lead communication with service managers, product owners, and policy colleagues to define user journeys and articulate the vision for products and services </li>
  <li class="unordered-list__list-item">Influence performance reporting so we measure and target improvements to those things that matter to both users and to Defra</li>
  <li class="unordered-list__list-item">Ensure knowledge and resources (research, personas, design patterns, etc) are consistent and shared across teams</li>
</ul>