---
title: International trade 
description: gfdg - Cathy Dutton 
projectTags: [Service design] 
image: /images/portfolio/trade-cover.jpg 
date: 2022-02-02 
period: 2022
pageName: Portfolio
pageIntro: The UK border is a combination of policies, processes and systems delivered by both public and private organisations across more than 270 recognised crossing points and many other smaller entry points across the UK. The smooth operation of these is vital to the UK’s economy, safety, biosecurity and ability to combat illegal migration. 
---

<p class="highlight-text no-margin">
The portfolio spans two directorates and multiple competent authorities within Defra as well as separate government departments including HMRC and Cabinet Office.
</p>


<h2>My role</h2>

<p>
As Principal Service Designer I took the lead on whole service design and user experience across the Borders, Biosecurity, and Trade portfolio.
 </p>
 
 <p>
I was responsible for:
 </p>

 <ul class="unordered-list">
  <li class="unordered-list__list-item">Maintaining and evolving an efficient and effective user experience across five core services each having up to 400,000 transactions per year, and a combined value of over 1 billion pounds.
</li>
 <li class="unordered-list__list-item">
Bringing policy, operations, infrastructure, and design closer together. Creating regular feedback loops ensuring we deliver the right things for both external and internal users.
 </li><li class="unordered-list__list-item">
Growing, leading and empowering a multidisciplinary team to deliver end to end services for traders in a politically sensitive, complex, and changing landscape.
 </li><li class="unordered-list__list-item">
Setting out a digital strategy for the portfolio aligning services to user journeys, simplifying processes, and improving outcomes for both Defra and traders.
 </li><li class="unordered-list__list-item">
Supporting continuous, time critical delivery to meet new border operating models and ministerial deadlines.
</li><li class="unordered-list__list-item">
Championing UCD to senior leaders across the portfolio, demonstrating the value to ensure researchers and designers are present on all delivery teams in the portfolio. 
</li><li class="unordered-list__list-item">
Gathering data from surveys, user research and call centers to help put user insight at the heart of decision making.
</li><li class="unordered-list__list-item">
Working with colleagues from HMRC to form a cross department leadership team to support the delivery of the Single Trade Window initiative, ensuring teams are set up to successfully deliver the borders 2025 strategy.
</li>
</ul>

<h2>Achievements:</h2>

 <ul class="unordered-list">
  <li class="unordered-list__list-item">
Implementing a triage process and prioratisation framework to help structure requests for work. Creating a focus on problems to solve and outcomes to deliver, whilst also removing duplicate requests from our customers.
 </li><li class="unordered-list__list-item">
Creating a vision and digital strategy for the portfolio outlining how we transition from IT delivery to data driven end to end service delivery. Getting director level support for the strategy and writing statement of works to continue the process.
</li><li class="unordered-list__list-item">
Working alongside colleagues from data and architecture to produce a vision for a future exports service, aligning the service to user journeys, utalising common components and shared data to bring 4 existing services closer together.
 </li><li class="unordered-list__list-item">
Bringing policy, design, delivery, and key stakeholders together to collaboratively map out a future imports service. 
</li><li class="unordered-list__list-item">
Influencing directors from both Defra and HMRC to gain sign off for an initial cross department exploration piece of work. Moving design thinking up stream to make sure we focus future discoveries on the right problems, delivering the best value for users and for Government.
</li><li class="unordered-list__list-item">
Increasing the portfolio's research, design, and content capability, building teams, coaching and mentoring, and creating a community of practice to share insights and designs across two directorates.
</li><li class="unordered-list__list-item">
Selected for the 2023 future leaders’ scheme, giving me the opportunity to learn more about how wider government works and how service design and delivery might be leveraged further upstream to improve efficiencies and the effectives of policy.
</li>
</ul>













