---
title: Funding Service
description: The Funding Service - Cathy Dutton 
projectTags: [Service design] 
image: /images/portfolio/esfa.jpg 
date: 2023-11-11 
period: 2024
pageName: Portfolio
pageIntro: The Funding Service is responsible for calculating, publishing and paying circa £67bn of funding to education settings. 

---
{# 
<p class="highlight-text no-margin">
</p>

<h2>My role</h2>

<p>I am responsible for the design and leadership of a portfolio of digital by default services for 
the Education and Skills Funding Agency.

As well as leading on building and growing a team of digital professionals, working within a maturing delivery structure, you will be responsible for delivery of programmes in different areas of the department.
</p> #}
