--- 
title: The possibilities with patterns - Ladies that UX Manchester 
description: To design a successful service you need to have an in depth understanding of it’s users, along with their unique motivations, goals and situations. How can we keep sight of this and still utilise a library of tried and tested design patterns?
layout: layouts/base.njk 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
    The possibilities with patterns
    <span class="page-description">Ladies that UX Manchester</span>
  </h1>
</header>

<p class="highlight-text">
  A lightnng talk at Ladies that UX Manchester in March 2019.
</p>

<section class="slides">

  <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/one.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide one">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/two.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide two">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/three.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide three">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/four.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide four">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/five.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide five">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/six.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide six">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/seven.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide seven">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/eight.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide eight">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/nine.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide nine">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/ten.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide ten">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/eleven.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide eleven">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/twelve.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide twelve">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/thirteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide thirteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/fourteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide fourteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/fifteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide fifteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/sixteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide sixteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/seventeen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide seventeen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/eighteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide eighteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

    <figure>
    <div class="image-ratio" >
      <img data-src="/images/talks/the-possibilities-with-patterns/nineteen.jpeg" class="lazyload" alt="the-possibilities-with-patterns - slide nineteen">
    </div>
    <span class="visually-hidden">Open full size image for slide 01</span>
    <figcaption>
      <p>Text</p>
    </figcaption>
  </figure>

</section>








