---
title: 404 page not found
description: The page you were trying to view does not exist
layout: layouts/base.njk 
pageName: 404 
permalink: /404.html
headerOne: Error 404
strapline: The page you are looking for dies not exist.
---

<div class="wrapper  wrapper--full">

  <p>
    Sorry, but the page you were trying to view does not exist. <a href="/" title="Take me to the home page">Go to the home page</a>
  </p>

		<p>Or, read a selection from my blog:</p>
		<ul class="unordered-list">
			<li class="unordered-list__list-item"><a href="/posts/blurred-lines-and-job-titles/index.html" class="anchor" title="Blurred lines and job titles">Blurred lines and job titles</a></li>
			<li class="unordered-list__list-item"><a href="/posts/designing-digital-forms/index.html" class="anchor" title="Designing digital forms">Designing digital forms</a></li>
			<li class="unordered-list__list-item"><a href="/posts/the-problem-with-patterns/index.html" class="anchor" title="The problem with patterns">The problem with patterns</a></li>
		</ul>

		<p>Or, view some of my work:</p>
		<ul class="unordered-list">
			<li class="unordered-list__list-item"><a href="/portfolio/waste-tracking/index.html" class="anchor" title="Waste tracking">Waste tracking</a></li>
			<li class="unordered-list__list-item"><a href="/portfolio/buy-a-rod-fishing-licence/index.html" class="anchor" title="Buy a rod fishing licence">Buy a rod fishing licence</a></li>
			<li class="unordered-list__list-item"><a href="/portfolio/ee/index.html" class="anchor" title="EE">EE</a></li>
		</ul>

</div>