--- 
title: About me - Cathy Dutton 
description: A user experience designer, I design and code digital services, products and websites 
layout: layouts/base.njk 
permalink: /about-me/ 
pageName: About me 
---

<header role="banner" class="header clear">
  <h1>
    About me
    <span class="page-description">User experience designer from Cheshire</span>
  </h1>
</header>

<p class="highlight-text" id="js-skip-link-target">
  I have over 12 years industry experience and am passionate about accessibility, front end architecture, performance and user centered design. I work with CSS (including Sass and PostCSS), HTML and JavaScript as well as a sketch pad, some post-it notes and my favourite pens.
  </p>



    <p>I enjoy designing in code or on paper, I am passionate about accessibility, user research, information architecture, performance, visual design and information design. I work with CSS (including Sass and PostCSS), HTML and JavaScript as well as a
      sketch pad, some post-it notes and my favourite pens.</p>

    <p>"I design and code digotal services, products and websites"</p>



    <p>I like working with product, user experience, and interface design and other things too. Like everybody else here.</p>



    <p>In the past I have worked with a range of companies and brands including Barclays, Nintendo, Mobile by Sainsbury’s and EE.</p>

    <p>I enjoy plain old Yorkshire tea, playing football, collecting gig tickets and all things outdoors.</p>

    <p>I am passionate about accessibility, user centred design and ?????</p>

    <p>DO: Spend time making the perfect About page. Your About page is the most important page on your portfolio. I’ve reviewed hundreds of portfolios and always navigate here first to get context before I browse. The numbers on my own website confirm
      it too: The About page gets more hits than any other page on my site. Do something different and memorable here that offers a real glimpse into who you are.</p>

    <p>DON’T: Get too cutesy and leave out the important information we need to know. Don’t forget your name (yes, I’ve seen portfolios where I couldn’t find any first or last name anywhere), a picture of you (a nice personal touch that makes a
      difference) and your main skills. And please, don’t forget to list your email address.</p>

    -- Fine art -- Product design degree -- I have over 12 years industry experience.

    <p>I’m Sidney Lim, a creative practitioner from Singapore with key interests in digital media design, corporate identity branding, and art direction.</p>

    <p>I’m currently a designer at Wolff Olins in London, where I work on crafting exciting brands that feel equally compelling both online and in print.</p>

    <h3>Hi, I am Sarah, nice to meet you!</h3>
    <p>I am a designer and art director currently living in Stuttgart, Germany. Half German half Italian, I like to bring the best of both worlds into my design which is known for its sophisticated simplicity and thoughtful details. In 2012 I founded my
      own creative studio to specialize in branding, web and print design and to work with ambitious business owners from all over the globe. I am passionate about helping my clients bringing their brands to life and telling their stories visually. My
      intention is to capture a brand's personality by developing comprehensive and compelling brand identities and designs.</p>

    <h3>Interview</h3>
    <p>GDS blog talking about designing in Defra - link</p>

    <h3>TRAINING</h3>

    <h3>get in touch</h3>

    <ul>
      <li>Email</li>
      <li>Twitter</li>
      <li>Linked In</li>
    </ul>

    <h3>View</h3>

    <ul>
      <li>Github</li>
      <li>Codepen</li>
    </ul>

    <h2>Now</h2>

    <p>??????</p>

    <section>
      <h2>Tools of choice</h2>
      <p>Tools arent everything but rigth now I'm using:</p>
      {% include "tech.njk" %}
    </section>

    <section>
      {% include "latest-posts.njk" %}
    </section>
