--- 
title: About me - Cathy Dutton 
description:  Digital, Design, and Delivery leader in the UK Civil Service
layout: layouts/base.njk 
permalink: /about-me/ 
pageName: About me 
headerOne: About me
strapline: I am passionate about building inclusive and diverse teams to support organisations in designing and delivering better services.
---


<div class="wrapper  wrapper--top">
  <div class="flow"> 

    <p>
After completing a three year Fine Art course in 2004 I went on to gain a degree in Product Design and Development from the University of Salford in 2007. Since then I have worked in a range of design and development roles including customer experience, front end development, interaction design and service design. 
    </p>

        <p>
Over the past decade, I’ve built and led design communities, shaped service strategies, and lead teams through transformation programmes. In my current role I lead a multidisciplinary team of around 140 people to deliver services that are critical to the education system including the funding service that disburses £85bn annually to over 25,000 education providers.
    </p>

    <p>
      I'm a trained Government service assessor and original member of the <a href="https://design-system.service.gov.uk/community/design-system-working-group/" rel="noopener" target="_blank" title="Design system working group" class="anchor">GDS design system working group</a>, helping to maintain standards whilst promoting inclusivity.
    </p>


    <h2>Interviews</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item"><a href="https://designnotes.blog.gov.uk/2017/10/11/design-in-government-the-environment-agency/" title="An interview about Design in Government - The Environment Agency" target="_blank" rel="noopener" class="anchor">Design in Government</a></li>
      <li class="unordered-list__list-item"><a href="https://gds.blog.gov.uk/2021/11/30/podcast-maps-in-services/" title="GDS Podcast: Maps in services" target="_blank" rel="noopener" class="anchor">GDS Podcast: Maps in services</a></li>
    </ul>


    <h2>Plugins</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Maze, responsive grid framework <a href="https://github.com/cathydutton/postcss-maze" title="Maze, responsive grid framework" target="_blank" rel="noopener" class="anchor">PostCSS plugin</li>
    </ul>
  </section>
  </div>
</div>

<div class="wrapper wrapper--no-container">
  <section class="currently-using flow">
    <h3>Currently using</h3>
    <p>Tools aren’t everything but right now I'm using:</p>
    {% include "tech.njk" %}
  </section>
</div>


<div class="wrapper wrapper-bottom">
  <section class="latest-posts">
    {% include "latest-posts.njk" %}
  </section>
</div>
