--- 
title: About me - Cathy Dutton 
description: A human centered designer, I design and code digital services
layout: layouts/base.njk 
permalink: /about-me/ 
pageName: About me 
---

<header id="js-skip-link-target" class="page-header clear">
  <div class="wrapper">
    <h1>
     About me
    </h1>
    <p class="page-intro">work history and background</p>
    {% include "socialMedia.njk" %}
  </div>
</header>

<div class="wrapper  wrapper--main">
  <section class="flow"> 
<p>
Over the past 11 years I have had some great opportunities to develop my skills and experience working on a range of projects for creative agencies, small businesses, global brands and government departments, helping the teams I have worked with create user-focused, accessible and intuitive services.

</p>

  <p class="highlight-text">
    After completing a three year Fine Art course in 2004 I went on to gain a degree in Product Design and Development from the University of Salford in 2007. 
  </p>
  </section>

   <section class="flow"> 
    <p>
      I have over 12 years industry experience and have worked across a range of disciplines in the design industry. This includes Interaction Design, Service Design, User Experience Design, Interface design and Front End Development.
    </p>
    <p>
      I am at home designing in code, on paper or using software such as Sketch, Photoshop and Illustrator. I predominantly work with with CSS (including Sass and PostCSS), HTML and JavaScript as well as a sketch pad, some post-it notes and my favourite pens.
    </p>
    <p>
    Find out <a href="/now/" class="anchor">what I'm up to now</a>
    </p>
  </section>   

   <section class="flow"> 
    <h2>Interviews</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item"><a href="https://designnotes.blog.gov.uk/2017/10/11/design-in-government-the-environment-agency/" title="An interview about Design in Government - The Environment Agency" target="_blank" rel="noopener" class="anchor">Design in Government</a></li>
    </ul>
    </section>

  <section class="flow"> 
    <h2>Talks</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item"><a href="/talks/the-possibilities-with-patterns/" title="The possibilities with patterns - Ladies that UX Manchester" class="anchor">The possibilities with patterns</a>, Ladies that UX Manchester, March 2019</li>
    </ul>
  </section>

 <section class="flow"> 
    <h2>Awards</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Buy a rod fishing licence service winner of the corporate service’s recognition award for “Making it simple” in March 2017</li>
      <li class="unordered-list__list-item">Buy a rod fishing licence service shortlisted at the <a href="http://www.digileaders100.com/" target="_blank" rel="noopener" class="anchor">DL100</a> awards for digital public service innovation in June 2017</li>
      <li class="unordered-list__list-item">Batch produced candle holder shortlisted at <a href="https://www.pewterers.org.uk/pewter-live" target="_blank" rel="noopener" class="anchor">Pewter live</a> 2007</li>
    </ul>
  </section>

 <section class="flow">    
    <h3>Get in touch</h3>
    <ul class="unordered-list">
      <li class="unordered-list__list-item"><a href="https://twitter.com/cathy_dutton" target="_blank" rel="noopener" class="anchor">Follow me on Twitter</a></li>
      <li class="unordered-list__list-item"><a href="https://www.linkedin.com/in/cathy-dutton-32250328/" class="anchor"  rel="noopener" target="_blank">Connect on LinkedIn </a></li>
      <li class="unordered-list__list-item"><a href="https://medium.com/@cathy_dutton" class="anchor" rel="noopener" target="_blank">Follow me on Medium</a></li>
    </ul>
  </section>

  <section class="latest-posts">
    {% include "latest-posts.njk" %}
  </section>
</div>