--- title: Component library - Cathy Dutton description: Patterns components and styles for cathydutton.co.uk layout: layouts/base.njk permalink: /component-library/ pageName: Component library ---

<header role="banner" class="header clear">
  <h1>
    Component library
    <span class="page-description">Patterns and components</span>
  </h1>
</header>

<p class="highlight-text" id="js-skip-link-target">
  ckmwdeg gergergge gremcflmf;m;em,le
  <p>

    <p class="highlight-text">
      am a user experience designer with over 12 years industry experience. I am passionate about accessibility, front end architecture, performance and user centered design. I work with CSS (including Sass and PostCSS), HTM</p>
    <section>
      <a href="#" class="anchor" target="_blank">bbbbbbbbb</a>
      <a href="#" class="anchor">bbbbbbbbb</a>
      <a href="#" class="anchor">bbbbbbbbb</a>
      <a href="#" class="anchor">bbbbbbbbb</a>
    </section>
    <section>
      <button class="button button--primary" type="button" value="Button">Button</button>
      <button class="button button--secondary" type="button" value="Button">Button</button>
      <button class="button button--submit" type="submit" value="Submit">Submit</button>
      <button class="button button--reset" type="reset" value="Reset">Reset</button>
      <button class="button button--disabled" type="button" value="Button" disabled="disabled">Disabled</button>
      <button class="button button--right" type="button" value="Button">Right</button>
    </section>
    <section>
      <figure class="quote">
        <blockquote>
          am a user experience designer with over 12 years industry experience. I am passionate about accessibility, front end architecture, performance and user centered design. I work with CSS (including Sass and PostCSS), HTM
        </blockquote>
        <figcaption>Sherlock Holmes,
          <cite>Sign of Four</cite>
        </figcaption>
      </figure>
    </section>
    <section>
      <p>
        <a href="/" class="anchor">Link</a>
      </p>
      <p>
        <a href="/" class="anchor">External link</a>
      </p>
      <p>
        <a href="/" class="anchor">Incredibly long anchor text link</a>
      </p>
    </section>

    <section>
      <h3>Description Lists</h3>
      <h4>Front end development languages</h4>
      <dl class="description-list">
        <dt class="description-list__title">CSS</dt>
        <dd class="description-list__description">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.</dd>
        <dt class="description-list__title">HTML</dt>
        <dd class="description-list__description">Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.
        </dd>
        <dt class="description-list__title">JavaScript</dt>
        <dd class="description-list__description">JavaScript enables interactive web pages and thus is an essential part of web applications.</dd>
      </dl>
    </section>

    <section>
      <h4>User details</h4>

      <dl class="description-list">
        <dt class="description-list__title">Name</dt>
        <dd class="description-list__description">Cathy Dutton</dd>
        <dt class="description-list__title">Interests</dt>
        <dd class="description-list__description">Design</dd>
        <dd class="description-list__description">Travel</dd>
        <dd class="description-list__description">Football</dd>
        <dt class="description-list__title">Transport</dt>
        <dd class="description-list__description">Car</dd>
        <dd class="description-list__description">Train</dd>
      </dl>

      <h4>Front end coding languages</h4>
      <dl class="description-list">
        <dt class="description-list__title">Sass</dt>
        <dt class="description-list__title">Less</dt>
        <dt class="description-list__title">Stylus</dt>
        <dd class="description-list__description">CSS Processors that extend CSS with variables, operators, interpolations, functions, mixins and many more other usable assets.</dd>
        <dt class="description-list__title">Mustache</dt>
        <dt class="description-list__title">Handlebars</dt>
        <dt class="description-list__title">Nunjucks</dt>
        <dd class="description-list__description">JavaScrip templating engines help separate HTML structure from the content contained within.
        </dd>
      </dl>

      <h3>Unordered Lists</h3>
      <p>Frontend development languages:</p>
      <ul class="unordered-list">
        <li class="unordered-list__list-item">CSS</li>
        <li class="unordered-list__list-item">HTML</li>
        <li class="unordered-list__list-item">JavaScript</li>
      </ul>

      <h3>Ordered Lists</h3>
      <p>Highway code:</p>
      <ol class="ordered-list">
        <li class="ordered-list__list-item">Stop</li>
        <li class="ordered-list__list-item">Look</li>
        <li class="ordered-list__list-item">Listen</li>
      </ol>
    </section>

    <h3>Table</h3>

    <p>Components and service patterns have a tendency to serve the needs of the business or organization, not the user.</p>

    <figure role="group" class="table-wrapper">
      <table>
        <caption>Service patterns vs user needs</caption>
        <thead>
          <tr>
            <th scope="col">Pattern</th>
            <th scope="col">Service</th>
            <th scope="col">User need</th>
            <th scope="col">Organization need</th>
            <th scope="col">Organization need</th>
            <th scope="col">Organization need</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Apply for something</td>
            <td>Get a fishing license</td>
            <td>Enjoy the outdoors</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
          <tr>
            <td>Apply for something</td>
            <td>Apply for a work visa</td>
            <td>Work in a different country</td>
            <td>Check eligibility</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
          <tr>
            <td>Create an account</td>
            <td>Online bank account</td>
            <td>Save money</td>
            <td>Security; fraud prevention</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
          <tr>
            <td>Create an account</td>
            <td>Join a gym</td>
            <td>Lose weight</td>
            <td>Capture customer information</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
          <tr>
            <td>Register</td>
            <td>Register to vote</td>
            <td>Make my voice heard</td>
            <td>Check eligibility</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
          <tr>
            <td>Register</td>
            <td>Online shopping</td>
            <td>Find my order</td>
            <td>Security; marketing</td>
            <td>Keep rivers clean; generate income</td>
            <td>Keep rivers clean; generate income</td>
          </tr>
        </tbody>
      </table>
    </figure>
