--- 
title: Cookies 
description: 
layout: layouts/base.njk 
permalink: /COOKIES/ 
pageName: cookies 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
   Cookies
    <span class="page-description">-------</span>
  </h1>
</header>

<p class="highlight-text">
  When you visit my website I put small files known as 'cookies' onto your computer. Most websites do this.
</p>

<section>
  <p>Cookies improve things by:</p>
  <ul class="unordered-list">
    <li class="unordered-list__list-item">remembering settings, so you don’t have to keep re-entering them whenever you visit a new page
    </li>
    <li class="unordered-list__list-item">measuring how you use the website so I can make sure it meets your needs
    </li>
  </ul>

<p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.</p>

<p>Find out more about <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>. Or please read on to find out more about how and where we use cookies.</p>

</section>

<section>

  h2>How I use cookies</h2>

  <p>My website uses cookies in several places – I’ve listed each of them below with more details about why I use them and how long they will last.</p>

  <h3>Measuring website usage (Google Analytics)</h3>

  <p>I use Google Analytics to collect information about how people use this site. I do this to make sure it’s meeting its users’ needs and to understand how I could do it better.</p>

  <p>Google Analytics stores information about what pages you visit, how long you are on the site, how you got here and what you click on. We do not collect or store your personal information (e.g. your name or address) so this information cannot be used to identify who you are. We do not allow Google to use or share our analytics data.</p>

  <p>The following cookies are set by Google Analytics.</p>

  <table class="table">
  <thead>
  <tr>
  <th>Name</th>
  <th>Purpose</th>
  <th>Expires</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>_ga</td>
  <td>This randomly generated number is used to determine unique visitors to our site</td>
  <td>2 years</td>
  </tr>
  <tr>
  <td>_gid</td>
  <td>This randomly generated number is used to determine unique visitors to our site</td>
  <td>24 hours</td>
  </tr>
  <tr>
  <td>_gat</td>
  <td>This randomly generated number is used to reduce the number of requests made</td>
  <td>1 minute</td>
  </tr>
  </tbody>
  </table>

  <p>You can opt out of Google Analytics cookies by visiting <a href="https://tools.google.com/dlpage/gaoptout">this page on Google</a>.</p>

</section>

<section>
  <h3>Remembering your settings</h3>

  <p>When you edit the font or colour theme on this site I save your choices using local storage.</p>

   <p></p>

</section>