--- 
title: Cheshire based Designer and Front end developer - Cathy Dutton 
description: An Interaction, Experience and Service Designer, based in Warrington, Cheshire. Specialising in CSS, UX, Accessibility and inclusive design. 
layout: layouts/base.njk
permalink: / 
pageName: Home 
headerOne: Hello, I'm Cathy a Designer from Cheshire.
strapline: I am an experienced designer with a background in design leadership, customer experience, interaction design and service design.

---


<div class="wrapper wrapper--top">
  
  <div class="flow">

    {# <p class="highlight-text no-margin">
    bbg
    </p> #}

    {# <p>
      I am an experienced designer with a background in design leadership, customer experience, interaction design and service design.
    </p> #}
    <p>
      I have over 15 years experience working on large-scale and complex projects with organisations including Defra, the Environment Agency, EE, Sainsburys and Barclays.
    </p>
    <p>
      As a designer I create services that are useful, usable and accessible, which meet the needs of users and deliver business outcomes.
    </p>
    <p>
      As a design leader I have built effective teams, enhanced capability and assisted organisations to deliver effective services in fast moving, political landscapes.
    </p>
    <p>
      My current role includes mentoring designers of all abilities as well as setting the strategy for design and defining the standards we work to.
    </p>
    <p>
      I’m an active member of the public and private sector design community’s, regularly promoting government standards by speaking at events, on panels, and on podcasts. I’ve also written best practice articles for well known publications including A List Apart and CSS tricks. 
    </p>


    {# <p>
     I am a highly motivated designer with over 15 years experience leading design teams and working on high profile projects with 
     large organisations including Defra, the Environment Agency, EE, Sainsburys and Barclays.
    </p>

    <p>
      I’m currently Head of Interaction and Serivce Design for the Department for Environment, Food and Rural Affairs (Defra) where 
      I spend the the majority of my time embedding user-centred design and building the capability of a 50+ group of Service and Interaction Designers. 
    </p>

    <p>
      Defra works with 33 agencies and public bodies, during my 4 and half years here I have been able to use my experience and communication skills along with my 
      drive and determination to implement a user-centered approach to delivery in areas of the business with varying levels of both design and digital maturity. 
    </p> #}



    
    <h2>Around the Web</h2>
    <p>
      Besides this site you can also find my work in the following places:
    </p>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Designing for the Unexpected on <a href="https://alistapart.com/article/designing-for-the-unexpected/" rel="noopener" target="_blank" title="Designing for the Unexpected">A List Apart</a></li>
      <li class="unordered-list__list-item">Achieving Vertical Alignment (Thanks, Subgrid!) on <a href="https://css-tricks.com/achieving-vertical-alignment-thanks-subgrid/" class="anchor" rel="noopener" target="_blank" title="Achieving Vertical Alignment (Thanks, Subgrid!)">CSS tricks</a></li>
      <li class="unordered-list__list-item">The problem with patterns on <a href="http://alistapart.com/author/cathydutton" class="anchor" rel="noopener" target="_blank" title="The problem with patterns on A List Apart">A List Apart</a></li>
      <li class="unordered-list__list-item">CSS and Sass best practices on <a href="http://www.sitepoint.com/author/cdutton/" class="anchor" rel="noopener" target="_blank" title="CSS ans Sass best practices on Sitepoint">Sitepoint</a></li>
      <li class="unordered-list__list-item">PostCSS tutorials on <a href="http://blog.mrfrontend.org/" class="anchor" target="_blank" rel="noopener" title="PostCSS tutorials on Mr Frontend">Mr Frontend</a></li>
      <li class="unordered-list__list-item">Open source projects on <a href="https://github.com/cathydutton" class="anchor" rel="noopener" target="_blank" title="Open source projects on Github">Github</a></li>
      <li class="unordered-list__list-item">Code snippets and design ideas on <a href="http://codepen.io/cathydutton/pens/popular/" class="anchor" rel="noopener" target="_blank" title="Code snippets and design ideas on Codepen">Codepen</a></li>
    </ul>
  </div>

</div>

<div class="wrapper wrapper--no-container">
  <section class="work-history flow">
    <h2>Work history</h2>
    <p>Over the years I have been fortunate enough to work with some amazing companies and brands. Here are a few highlights:</p>
    {% include "work.njk" %}
  </section>
</div>

<div class="wrapper wrapper-bottom">
  <section class="latest-posts">
    {% include "latest-posts.njk" %}
  </section>
</div>

