--- 
title: Cheshire based Designer and Front end developer - Cathy Dutton 
description: An Interaction, Experience and Service Designer, based in Warrington, Cheshire. Specialising in CSS, UX, Accessibility and inclusive design. 
layout: layouts/base.njk
permalink: / 
pageName: Home 
headerOne: Hello, I'm Cathy a Designer and Front End Developer from Cheshire.
strapline: I design and build inclusive services. I'm currently an Interaction Designer, but these titles tend to change.
---


<div class="wrapper wrapper--top">
  
  <div class="flow">

    <p class="highlight-text no-margin">
    I have over 15 years design experience and am at home designing in code, on paper or using software such as Figma, Sketch and Illustrator.
    </p>

    <p>I predominantly work with with CSS (including Sass and PostCSS), HTML and JavaScript as well as a sketch pad, some post-it notes and my favourite pens.</p>
    
    <p>I take a collaborative approach to design, working with researchers, content designers, developers and stakeholders through sketching sessions, workshops and pair programming. </p>
 
    <p>
      I'm a trained Government service assessor and member of the <a href="https://design-system.service.gov.uk/community/design-system-working-group/" rel="noopener" target="_blank" title="Design system working group" class="anchor">GDS design system working group</a>, helping to maintain standards whilst promoting inclusivity.
    </p>
    
    <h2>Around the Web</h2>
    <p>
      Besides this site you can also find my work in the folowing places:
    </p>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">The problem with patterns on <a href="http://alistapart.com/author/cathydutton" class="anchor" rel="noopener" target="_blank" title="The problem with patterns on A List Apart">A List Apart</a></li>
      <li class="unordered-list__list-item">CSS and Sass best practices on <a href="http://www.sitepoint.com/author/cdutton/" class="anchor" rel="noopener" target="_blank" title="CSS ans Sass best practices on Sitepoint">Sitepoint</a></li>
      <li class="unordered-list__list-item">PostCSS tutorials on <a href="http://blog.mrfrontend.org/" class="anchor" target="_blank" rel="noopener" title="PostCSS tutorials on Mr Frontend">Mr Frontend</a></li>
      <li class="unordered-list__list-item">Open source projects on <a href="https://github.com/cathydutton" class="anchor" rel="noopener" target="_blank" title="Open source projects on Github">Github</a></li>
      <li class="unordered-list__list-item">Code snippets and design ideas on <a href="http://codepen.io/cathydutton/pens/popular/" class="anchor" rel="noopener" target="_blank" title="Code snippets and design ideas on Codepen">Codepen</a></li>
    </ul>
  </div>

</div>

<div class="wrapper wrapper--no-container">
  <section class="work-history flow">
    <h2>Work history</h2>
    <p>Over the years I have been fortunate enough to work with some amazing companies and brands. Here are a few highlights:</p>
    {% include "work.njk" %}
  </section>
</div>

<div class="wrapper wrapper-bottom">
  <section class="latest-posts">
    {% include "latest-posts.njk" %}
  </section>
</div>

