---
title: Cheshire based Interaction &amp; Service Designer - Cathy Dutton
description: An Interaction and Service Designer, based in Warrington, Cheshire. Specialising in CSS, UX, Accessibility and inclusive design.
pageName: Hello
pageDescription: Welcome to my website
layout: layouts/base.njk
---

<p> Introduce yourself immediately with a quick paragraph that says who you are, where you’re located (if that matters to your work) and what kind of work you like to do. Show your personality but be straightforward, so the first glimpse at your website gives your viewer the context they need.</p>

<p>I enjoy designing in code or on paper, I am passionate about accessibility, user research, information architecture, performance, visual design and information design. I work with CSS (including Sass and PostCSS), HTML and JavaScript as well as a sketch pad, some post-it notes and my favourite pens.</p>

<p>"I design and code digotal services, products and websites"</p>

<p>I'm Cathy a user experience designer currently focussing on Interaction & Service design. </p>

<p>I like working with product, user experience, and interface design and other things too. Like everybody else here.</p>

 <a href="/about/" title="Read more about me">Read more about me</a> 

  <a href="/portfolio/" title="View some of my work">View some of my work</a>
 
<section>
  <h2>Writting and code???  Where to find me</h2>

  <ul class="unordered-list">
    <li class="unordered-list__list-item">cathy dutton</li>
    <li class="unordered-list__list-item">ss</li>
    <li class="unordered-list__list-item">ss</li>
    <li class="unordered-list__list-item">ss</li>
  </ul>


  <p>As well as the articles on this site I have also written articles for A List Apart, articles for Sitepoint, blog posts on Medium and tutorials for Mr Frontend.</p>

  <p>Examples of my code can be found in my Github open source projects or in Codepen demonstrations.</p>

</section>

<section>
  <h2>Work history</h2>
  <p>Over the years I have had the pleasure of working for some amazing companies on a range of projects. below are a few highlights...</p>
  {% include "work.njk" %}
 </section>

<section>
  {% include "latest-posts.njk" %}
 </section>