--- 
title: What I'm up to now - Cathy Dutton 
description: Things I'm currently working on, currently reading and always working towards
layout: layouts/base.njk 
permalink: /now/ 
pageName: Now 
headerOne: Now
strapline: This page is inspired by Derek Siver’s now page suggestion and his Now Now Now movement. 
---


<div class="wrapper  wrapper--top">
   <section class="flow"> 
    <h2>Currently working on</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">JavaScript 30 - 30 Day Vanilla JS Coding Challenge</li>
      <li class="unordered-list__list-item">A simple component library</li>
      <li class="unordered-list__list-item">Experimenting with CSS grid and subgrid</li>
    </ul>
    <h2>Books I'm reading</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Sustainable design, Tom Greenwood</li>
      <li class="unordered-list__list-item">Expressive design systems, Yesenia Perez-Cruz</li>
      <li class="unordered-list__list-item">Ends, Joe Macleod</li>
      <li class="unordered-list__list-item">Modernising legacy applications, Luke Mortonand David Winter</li>
      <li class="unordered-list__list-item">World wide waste, Gerry Mcgovern</li>
    </ul>
  </section>

</div>
<div class="wrapper wrapper--no-container">
  <section class="currently-using flow">
    <h3>Currently using</h3>
    <p>Tools aren’t everything but right now I'm using:</p>
    {% include "tech.njk" %}
  </section>
</div>



<div class="wrapper wrapper-bottom">
  <section class="latest-posts">
    {% include "latest-posts.njk" %}
  </section>
</div>