---
title: "Oops! You seem to be offline"
description: "Offline content for cathydutton.co.uk"
layout: layouts/base.njk 
permalink: /offline/ 
pageName: Offline 
headerOne: Hmmm! It looks like you’re offline
strapline: Your device is currently offline, whilst you wait for a connection check the links below to my offline content.
---


<div class="wrapper  wrapper--full">

	 <section class="flow"> 
		<ul class="unordered-list">
			<li class="unordered-list__list-item"><a href="/" class="anchor" title="Take me to the home page">Go to the home page</a></li>
			<li class="unordered-list__list-item"><a href="/about-me/index.html" class="anchor" title="Find out about me">Find out about me</a></li>
			<li class="unordered-list__list-item"><a href="/now/index.html" class="anchor" title="What I'm upto now">Find out what I'm upto now</a></li>
		</ul>

		<p>Or, read a selection from my blog:</p>
		<ul class="unordered-list">
			<li class="unordered-list__list-item"><a href="/posts/blurred-lines-and-job-titles/index.html" class="anchor" title="Blurred lines and job titles">Blurred lines and job titles</a></li>
			<li class="unordered-list__list-item"><a href="/posts/designing-digital-forms/index.html" class="anchor" title="Designing digital forms">Designing digital forms</a></li>
			<li class="unordered-list__list-item"><a href="/posts/the-problem-with-patterns/index.html" class="anchor" title="The problem with patterns">The problem with patterns</a></li>
		</ul>

		<p>Or, view some of my work:</p>
		<ul class="unordered-list">
			<li class="unordered-list__list-item"><a href="/projects/waste-tracking/index.html" class="anchor" title="Waste tracking">Waste tracking</a></li>
			<li class="unordered-list__list-item"><a href="/projects/buy-a-rod-fishing-licence/index.html" class="anchor" title="Buy a rod fishing licence">Buy a rod fishing licence</a></li>
			<li class="unordered-list__list-item"><a href="/projects/ee/index.html" class="anchor" title="EE">EE</a></li>
		</ul>

	</section>

</div>
