---
title: "Oops! You seem to be offline"
description: "Offline content for cathydutton.co.uk"
layout: layouts/base.njk 
permalink: /offline/ 
pageName: Offline 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
    Oops
    <span class="page-description">you seem to be offline</span>
  </h1>
</header>

<section>
	<p>Your device is currently offline, whilst you wait for a connection check the links below to my offline content:</p>
	<ul>
		<li><a href="/" title="Take me to the home page">Go to the home page</a></li>
		<li><a href="../work-history.html" title="View my work history">View my work history</a></li>
	</ul>

	<p>Or, read a selection from my blog:</p>
	<ul>
		<li><a href="/posts/css-myths.html" title="CSS myths">CSS myths</a></li>
		<li><a href="/posts/10-reasons-to-start-using-PostCSS-today.html" title="10 reasons to start using PostCSS today">10 reasons to start using PostCSS today</a></li>
		<li><a href="/posts/surviving-css.html" title="Surviving CSS">Surviving CSS</a></li>
	</ul>

	<p>Or, view some of my work:</p>
	<ul>
		<li><a href="/portfolio/Buy-a-rod-fishing-licence.html" title="Buy a rod fishing licence">Buy a rod fishing licence</a></li>
		<li><a href="/portfolio/Tropic-skincare.html" title="Tropic skincare">Tropic skincare</a></li>
		<li><a href="/portfolio/my-protein.html" title="My protein">My protein</a></li>
	</ul>

</section>
