---
title: My Title
description: fwfew
pageName: Projects
pageDescription: A collection design and front end development work
layout: layouts/base.njk
permalink: /projects/
---


 <h3>The important bits</h3>

<ol class="ordered-list">
  <li class="ordered-list__list-item"><strong>An opening statement,</strong> addressed to a particular person, introducing myself and stating clearly why I’d be a great fit for the position.</li>
  <li class="ordered-list__list-item"><strong>A collection of my work,</strong> specifically tailored to speak to this particular job description. For example, this job description uses specific phrases like “product presentation“ and “retail business targets,” so I used those same phrases in talking about my work.</li>
  <li class="ordered-list__list-item"><strong>Something special about me</strong> professionally or personally that sets me above everyone else applying for this job. I’m not just another designer; I’m a designer that’s also a sneakerhead.</li>
</ol>


<section class="project">
  {% for post in collections.projects %}


    <article class="project__post js-content-group" data-url="{{ post.url }}" data-title="{{post.data.title}}">
      <h3 class="project__title">
        <a href="{{ post.url }}">
          <span class="visually-hidden">Project title</span>
          {{ post.data.title }} 
        </a>
      </h3>
      <div class="image-ratio project__img"> 
        <img data-src="{{ post.data.image }}" class="lazyload" alt="{{ post.data.title }} image">
      </div>
      <p class="project__date">
          <span class="visually-hidden">Project date</span>
          <time datetime="{{ post.data.date }}">{{ post.data.date | dateDisplay }}</time>
      </p>
      {% if post.data.projectTags %}
        <p class="project__tags">Tagged in: {% for projectTag in post.data.projectTags %}<a href="/projects/tags/{{ projectTag | lower | replace(" ", "-") }}/" class="anchor">{{ projectTag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
      {% endif %}
    </article>
  {%- endfor -%} 
</section>

