--- 
title: Design, User Experience and Front End Development portfolio - Cathy Dutton 
description: A collection of my work from employers including Defra, Barclays, EE, The Hut Group and AO.com 
layout: layouts/base.njk 
permalink: /projects/ 
pageName: Case studies 
headerOne: Projects
strapline: Design and Front End Development work
---


<div class="wrapper  wrapper--top wrapper-bottom">

  <p class="highlight-text">
    Over the years I have had the pleasure of working for some amazing companies and brands on a range of digital projects. Below are just a few examples of my design and development work. 
  </p>

  <section class="cards">
    {% for post in collections.projects %}
      <article class="card-wrapper js-content-group" data-url="{{ post.url }}" data-title="{{post.data.title}}">
          <div class="card">
          <h2 class="card__title">
            <a href="{{ post.url }}">
              <span class="visually-hidden">Project title</span>
              {{ post.data.title }}
            </a>
          </h2>
          <div class="">
            <img src="{{ post.data.image }}" alt="Cover image for {{ post.data.title }}">
          </div>
          <p class="card__date">
            <span class="visually-hidden">Project date</span>
            <time datetime="{{ post.data.date }}">{{ post.data.date | dateDisplayProject }}</time>
          </p>
            {# {% if post.data.projectTags %}
              <p class="card__tags">Tagged in:
                {% for projectTag in post.data.projectTags %}
                  <a href="/projects/tags/{{ projectTag | lower | replace(" ", "-") }}" class="anchor">{{ projectTag }}</a>
                  {% if not loop.last %},
                  {% endif %}
                {% endfor %}
              </p>
            {% endif %} #}
        </div>
      </article>
    {%- endfor -%}
  </section>

</div>
