--- 
title: Design, User Experience and Front End Development portfolio - Cathy Dutton 
description: A collection of my work from employers including Defra, Barclays, EE, The Hut Group and AO.com 
layout: layouts/portfolio.njk 
pagination: 
  data: collections.projects 
  size: 1 
  alias: tag 
permalink: projects/tags/{{ tag.data.projectTags[0] | lower | replace(" ", "-")}}/ 
---


<header id="js-skip-link-target" class="main-content">
  <div class="wrapper">
    <h1>
     {{ tag.data.projectTags[0] }}
    <span class="page-description">Latest
      {{ tag.data.projectTags[0] }}
      projects</span>
    </h1>
    <p class="page-intro">cdscdscdccdc cdc</p>
  </div>
</header>

<div class="wrapper">

  <section class="project">
    {% for post in collections.projects %}
      {% if tag.data.projectTags[0] in post.data.projectTags %}
        <article class="project__post js-content-group" data-url="{{ post.url }}" data-title="{{post.data.title}}">
          <div class=" project__img">
            <img src="{{ post.data.image }}" loading="lazy" alt="{{ post.data.title }} image">
          </div>
          <h3 class="project__title">
            <a href="{{ post.url }}">
              <span class="visually-hidden">Project title</span>
              {{ post.data.title }}
            </a>
          </h3>
          <p class="project__date">
            <span class="visually-hidden">Project date</span>
            <time datetime="{{ post.data.date }}">{{ post.data.date | dateDisplay }}</time>
          </p>
        </article>
      {% endif %}
    {% endfor %}
  </section>

</div>
