---
title: Tags
description: Tags
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: posts/tags/{{ tag | lower | replace(" ", "-") }}/
---

<h1>{{ tag }} posts</h1>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  {# <li><a href="{{ post.url | url }}">{{ post.data.title }}</li> #}
  <article class="news-feed__post js-content-group" data-url="{{ post.url }}" data-title="{{post.data.title}}">
    <h3 class="news-feed__title">
      <a href="{{ post.url }}" title="{{post.data.title}}" class="news-feed__anchor">
        <span class="visually-hidden">Article title</span>
        {{post.data.title}}
      </a>
    </h3>
    <p class="news-feed__date">
      <span class="visually-hidden">Published on</span>
      <time datetime="{{ post.data.date }}">{{ post.data.date | dateDisplay }}</time>
    </p>
    <p>{{ post.data.description | safe }}</p>
    {% if post.data.tags %}
    {% endif %}
  </article>
{% endfor %}


