--- 
title: Things to do - Cathy Dutton 
description: Things that need doing on this website
layout: layouts/base.njk 
permalink: /todo/ 
pageName: Todo 
headerOne: Todo
strapline: things that need to be done
---

<div class="wrapper  wrapper--top wrapper-bottom">

  <section>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">https://thefox.is/about</li>
      <li class="unordered-list__list-item">cooki banner?</li>
      <li class="unordered-list__list-item">Analytics</li>
      <li class="unordered-list__list-item">Add blue dinosaur and Fesa to creare and something more corporate</li>
      <li class="unordered-list__list-item">Talks - Just link to google slides in my site</li>
      <li class="unordered-list__list-item">Add Sass tlak at FRED</li>
      <li class="unordered-list__list-item">Native lazy load launched in Chrome https://github.com/alexcarpenter/alexcarpenter.me/blob/master/_eleventy/shortcodes.js#L27  https://web.dev/native-lazy-loading?utm_campaign=CSS%2BLayout%2BNews&utm_medium=email&utm_source=CSS_Layout_News_211</li>
      <li class="unordered-list__list-item">Upgrade to 7.2 so layouts can be outside of includes</li>
      <li class="unordered-list__list-item">Acesability audit - http://accessibility.voxmedia.com/</li>
      <li class="unordered-list__list-item">Performance audit - https://www.smashingmagazine.com/2020/01/front-end-performance-checklist-2020-pdf-pages/</li>
      <li class="unordered-list__list-item">Update my site text with new role (Home &amp; About)</li>
      <li class="unordered-list__list-item">Add pagination on tagged pages</li>
      <li class="unordered-list__list-item">Add comments from discuss to posts - https://jamstack-comments.netlify.com/</li>
      <li class="unordered-list__list-item">Look into Web mentions</li>
      <li class="unordered-list__list-item">Add variable fonts and fallbacks from Mandy Michael talk</li>
      <li class="unordered-list__list-item">Accessible resize element</li>
      <li class="unordered-list__list-item">Paint API pattern</li>
      <li class="unordered-list__list-item">Next tab link</li>
      <li class="unordered-list__list-item">Design tokens</li>
      <li class="unordered-list__list-item">Update CV, cover letter and Linked in and Twitter</li>
      <li class="unordered-list__list-item">CSS playground design with a11y in mind - blog too</li>
    </ul>
  </section>

  <section>
  <h2>Posts</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Design for the unexcpected</li>
      <li class="unordered-list__list-item">Grid - New CSS subgrid layout - ally buttons and cards</li>
      <li class="unordered-list__list-item">Links - New CSS</li>
      <li class="unordered-list__list-item">Buttons - custom properties</li>
      <li class="unordered-list__list-item">Design system fro Defra - The problem with patterns 2 years on</li>
      <li class="unordered-list__list-item">Blured lines 2</li>
      <li class="unordered-list__list-item">MCR Gov design</li>
      <li class="unordered-list__list-item">Design recruitment - 3 levels - no tests</li>
      <li class="unordered-list__list-item">Portfolio cards / postcss plugin fallback</li>
      <li class="unordered-list__list-item">Designing better forms - Defra rocess example</li>
      <li class="unordered-list__list-item">18-24 months in -design leadership</li>>
    </ul>
  </section>

  <section>
  <h2>Components</h2>
    <ul class="unordered-list">
      <li class="unordered-list__list-item">Quotes</li>
      <li class="unordered-list__list-item">Blockquotes</li>
      <li class="unordered-list__list-item">Tabel</li>
      <li class="unordered-list__list-item">Highlight text</li>
      <li class="unordered-list__list-item">Social media icons</li>
      <li class="unordered-list__list-item">Skip link</li>
      <li class="unordered-list__list-item">Tabs</li>
      <li class="unordered-list__list-item">Images - new way wirh postcss plugin fallback</li>
      <li class="unordered-list__list-item">Card/portfolio card</li>
      <li class="unordered-list__list-item">A11y buttons</li>
    </ul>
  </section>

</div>

