--- 
title: Things to do - Cathy Dutton 
description: Things that need doing on this website
layout: layouts/base.njk 
permalink: /todo/ 
pageName: Todo 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
    Todo
    <span class="page-description">things that need to be done</span>
  </h1>
</header>

<section>
  <ul class="unordered-list">
    <li class="unordered-list__list-item">Just link to google slides in my site</li>
    <li class="unordered-list__list-item">Native lazy load launched in Chrome https://github.com/alexcarpenter/alexcarpenter.me/blob/master/_eleventy/shortcodes.js#L27</li>
    <li class="unordered-list__list-item">Upgrade to 7.2 so layouts can be outside of includes</li>
    <li class="unordered-list__list-item">Update my site text with new role (Home &amp; About)</li>
    <li class="unordered-list__list-item">Add pagination on tagged pages</li>
    <li class="unordered-list__list-item">Add comments from discuss to posts</li>
    <li class="unordered-list__list-item">Look into Web mentions</li>
    <li class="unordered-list__list-item">Add variable fonts and fallbacks from Mandy Michael talk</li>
    <li class="unordered-list__list-item">Accessible resize element</li>
    <li class="unordered-list__list-item">Next tab link</li>
    <li class="unordered-list__list-item">Update CV, cover letter and Linked in and Twitter</li>
    <li class="unordered-list__list-item">CSS playground design with a11y in mind - blog too</li>
  </ul>
</section>

<section>
<h2>Posts</h2>
  <ul class="unordered-list">
    <li class="unordered-list__list-item">Design for the unexcpected</li>
    <li class="unordered-list__list-item">A11y CSS</li>
    <li class="unordered-list__list-item">2020 site re-design</li>
    <li class="unordered-list__list-item">Design scenario tests</li>
    <li class="unordered-list__list-item">Portfolio cards / postcss plugin fallback</li>
    <li class="unordered-list__list-item">The problem with patterns 2 years on</li>
    <li class="unordered-list__list-item">Images - new way wirh postcss plugin fallback</li>
    <li class="unordered-list__list-item">A11y resize component</li>
    <li class="unordered-list__list-item">Mistakes I've made</li>
    <li class="unordered-list__list-item">Discovery in Defra - what we did</li>
  </ul>
</section>

<section>
<h2>Components</h2>
  <ul class="unordered-list">
    <li class="unordered-list__list-item">Quotes</li>
    <li class="unordered-list__list-item">Blockquotes</li>
    <li class="unordered-list__list-item">Tabel</li>
    <li class="unordered-list__list-item">Highlight text</li>
    <li class="unordered-list__list-item">Social media icons</li>
    <li class="unordered-list__list-item">Skip link</li>
    <li class="unordered-list__list-item">Tabs</li>
    <li class="unordered-list__list-item">Images - new way wirh postcss plugin fallback</li>
    <li class="unordered-list__list-item">Card/portfolio card</li>
    <li class="unordered-list__list-item">A11y buttons</li>
  </ul>
</section>

