--- 
title: Things to do - Cathy Dutton 
description: Things that need doing on this website
layout: layouts/base.njk 
permalink: /todo/ 
pageName: Todo 
---

<header role="banner" class="header clear" id="js-skip-link-target">
  <h1>
    Todo
    <span class="page-description">things that need to be done</span>
  </h1>
</header>

<section>
  <ul class="unordered-list">
    <li class="unordered-list__list-item">Add pagination on tagged pages</li>
    <li class="unordered-list__list-item">Add latest tweets to now page</li>
    <li class="unordered-list__list-item">Add comments from discuss to posts</li>
    <li class="unordered-list__list-item">Add Pod (component library) link to navigation</li>
    <li class="unordered-list__list-item">Look into Web mentions</li>
    <li class="unordered-list__list-item">Add waste tracking discovery work to portfolio</li>
    <li class="unordered-list__list-item">Add flood discovery work to portfolio</li>
    <li class="unordered-list__list-item">Add autoprefixer fallback for grid</li>
    <li class="unordered-list__list-item">Add autoprefixer fallback for custom properties</li>
  </ul>
</section>

